
page-agenda, page-commemorationday,page-comment {
  .grid {
    height: 100%;
    width: 100%;
    padding: 1.8rem 0.9rem;
    .row{
      padding-left: .3rem;
      padding-right: .3rem;
    }

    .limitRow {
      flex-direction: row-reverse;

      span {
        color: rgba(239, 239, 239, 0.3);
      }
    }

    .snRow {
      height: 50%;
      flex-wrap: nowrap;
      .sn {
        flex-grow: 1;
      }

      .agendatodo {
        .icon {
          //line-height: 1.8rem;
        }
      }
    }


    .optionRow {
      height: 50%;

      .grid {
        flex-direction: column-reverse;
        padding: 0;

        .row {
          margin: 5px 0px;
          flex-wrap: nowrap;

          > div {
            min-width: 60px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }

          .icon {
            margin: 0 4px;
          }

          div[end] {
            flex-grow: 1;
            text-align: right;
          }

          .pickDate{
            padding-right: 5px;
          }

          .content {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .agendaDate{
            display: -webkit-box;
          }
          .person{
            display: -webkit-box;
            white-space: normal;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
          }

          button {
            height: 28px;
            min-width: 80px;
            padding: 0.5rem 0.5rem;

            .button-inner {
              padding: 1rem;
            }
          }
        }

        .contentdata{
          margin: 0;
        }

      }
    }

  }
}
