
page-agenda, page-commemorationday, page-comment,page-memo {
  .grid {
    height: 100%;
    width: 100%;
    padding: 1.8rem 0.9rem;

    .row {
      padding-left: .3rem;
      padding-right: .3rem;
    }

    .limitRow, .dateRow {
      //flex-direction: row-reverse;
      height: 10%;
      flex-wrap: nowrap;

      .agendaai {
        //line-height: 44px;
        //text-align: right;
        .icon {
          //line-height: 1.8rem;
          text-align: center;
          font-size: 2rem;
          width: 45px;
        }

      }

      .pickDate {
        flex-grow: 1;
        text-align: right;
        color: rgba(51, 51, 51, 1);

        .icon {
          //line-height: 1.8rem;
          //margin-right: .2rem;
          text-align: center;
          font-size: 2rem;
        }

        span {
          //line-height: 44px;
          font-size: 1.6rem;
          margin-left: .3rem;
          //letter-spacing: 1px;
        }

        p {
          margin: 0;
          font-size: 1.2rem;
        }
      }

    }

    .snRow {
      height: 45%;
      flex-wrap: nowrap;
      .text-input-ios{
        width: 100%;
      }
      textarea::-webkit-input-placeholder { /* WebKit browsers */
        //font-size: 1.4rem;
      }

      .sn {
        flex-grow: 1;
      }


    }

    .agendatodo {
      width: 30px;
      line-height: 44px;
      text-align: center;

      .icon {
        //line-height: 1.8rem;
        text-align: center;
        font-size: 2rem;
      }
    }


    .optionRow {
      height: 45%;
      .inviteChoose{
        background:rgba(248,248,248,.8);;
        height: 45%;
        width: calc(100% - 24px);
        position: fixed;
        .item-ios{
         background-color: transparent;
          padding-left:0px;
          height: 100%;
          .label-ios{
           margin: 0;
          }
        }
        .bar-buttons-ios{
          margin: 10rem auto;
          margin-bottom: 0;
          text-align: center;
        }
        button {
          font-size: 1.8rem;
          background: rgba(70, 159, 175, 1);
          border-radius: 10px;
          font-weight: 400;
          color: rgba(255, 255, 255, 1);
          padding: 12px 30px;
          border-radius: 4px;
          margin: 1rem;

        }
      }

      .grid {
        flex-direction: column-reverse;
        padding: 0;
        .row:first-child {
          margin-top: 2rem;
        }

        .row {
          margin: 0px 0px;
          flex-wrap: nowrap;

          > div {
            min-width: 60px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }

          .icon {
            //margin: 0 .4rem;
            //line-height: .67;
          }

          div[end] {
            flex-grow: 1;
            text-align: right;
          }

          .content {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .agendaDate {
            display: -webkit-box;
          }

          .person {
            display: -webkit-box;
            white-space: normal;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
          }

          .button-b{

            button{
              margin: 0;
              padding: 0.3rem;
              margin-right: 2rem;
              overflow: hidden;
            }
            button:last-child{
                  margin-right: 0;
            }
            .icon{
              font-size: 2rem;
              min-width: 30px;
              padding-right: 1rem;
            }

          }
          .button-m{

            button{
              margin: 0;
              padding: 0.5rem;
              margin-right: 2rem;
            }
            button:last-child{
              margin-right: 0;
            }
            .icon{
              font-size: 1.8rem;
            }

          }
          button {
            height: auto;
            //min-width: 80px;
            //padding: 0.5rem 0.5rem;

            //.button-inner {
            //  padding: .3rem;
            //}
            //border-radius: 50%;
          }

          .repeatButton {
            span {
              white-space: normal;
            }
          }
        }

        .contentdata {
          margin: 0;

          span:last-child {
            min-width: 2.5rem;
          }
        }

      }
    }

  }
}

.black-theme {
  page-agenda, page-task, page-commemorationday, page-comment ,page-memo{
    .grid {
      .limitRow {
        span {
          color: rgba(239, 239, 239, 0.3);
        }
      }

      .snRow {
        .sn {
          color: rgba(235, 239, 250, 1);
        }

      }

      .agendatodo {
        .icon {
          color: rgba(17, 117, 141, 1);
        }
      }
      .limitRow, .dateRow {
        border-bottom: 1px solid rgba(121, 140, 170, 1);
      }

      .agendaai {
        .icon {
          color: rgba(17, 117, 141, 1);
        }

      }

      .pickDate {
        color: rgba(235, 239, 250, 1);
      }

      .optionRow {
        .grid {

          span {
            color: rgba(239, 239, 239, 1);
          }

          .content {
            color: rgba(121, 140, 170, 1);
          }

          button {
            //background: rgba(239, 239, 239, 0.1);
            color: rgba(235, 239, 250, 1);
          }

          div[end] {
            span {
              color: rgba(17, 117, 141, 1);
            }
          }
        }

      }
    }
  }

}

.white-theme {

  page-agenda, page-task, page-commemorationday,page-comment ,page-memo{
    .grid {

      .limitRow {
        span {
          color: rgba(51, 51, 51, 0.5);
        }
      }
      .snRow {
        .sn {
          color: rgba(51, 51, 51, 1);
        }

      }


      .agendatodo {
        .icon {
          color: rgba(17, 117, 141, 1);
        }
      }

      .limitRow, .dateRow {
        border-bottom: 1px solid rgba(248, 248, 248, 1);;
      }

      .agendaai{
        .icon {
          color: rgba(17, 117, 141, 1);
        }

      }
      .pickDate {
        color: rgba(51, 51, 51, 1);
      }

      .optionRow {
        .grid {


          span {
            color: rgba(51,51,51,1);
          }

          .content {
            color:rgba(51,51,51,1);
          }
          .noval{
            color:rgba(17,117,141,1);
          }

          div[end] {
            span{
              color: rgba(17,117,141,1);
            }
          }

          button {
            //background: rgba(239, 239, 239, 1);
            color: rgba(51, 51, 51, 1);
          }
        }

      }
    }
  }
}

