page-tdc {
  .allday.toggle-checked .toggle-icon {
    background-color: red;
  }

  .allday .toggle-icon {
    background-color: #fff;
  }

  .allday {
    width: 75px;
  }

  .allday.toggle-checked .toggle-inner {
    transform: translate3d(43px, 0, 0);
  }

  .allday .toggle-icon::before {
    content: "全天";
    color: black;
    font-size: 12px;
    text-align: right;
    transform: scale3d(1, 1, 1);
    margin-top: 4px;
    margin-right: 10px;
    font-weight: 900;
    letter-spacing: 2px;
  }

  .allday.toggle-checked .toggle-icon::before {
    content: "全天";
    color: black;
    font-size: 12px;

    font-weight: 900;
    letter-spacing: 2px;
    text-align: left;
    transform: scale3d(1, 1, 1);
    background: red;
    margin-left: 10px;
    margin-top: 4px;
    color: #fff;
  }

  .allday.toggle-checked .toggle-icon {
    content: "全天";
    color: black;
    font-size: 10px;
    text-align: left;
  }


  ion-content.content {
    background-color: #000000;
    color: #fff;
  }

  .input-set {
    font-size: 24px;
    margin-top: 69px;
    margin-left: 26px;
    margin-right: 20px;
  }

  .btn-set {
    font-size: 11px;
    width: 70px;
    height: 24px;
  }

  .sel-btn-set {
    font-size: 10px;
    width: 36px;
    height: 36px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .date-set {
    font-size: 16px;
  }

  .allday-set {
    background-color: #000000;
    width: 120px;
  }

  .memo-set {
    font-size: 14px;
  }

  .sel-btn-seled {
    background-color: #932C16;
    color: #FFFFFF;
  }

  .sel-btn-unsel {
    background-color: #000000;
    color: #666666;
  }

  .foot-set {
    background-color: #ffffff;
  }

  .dobtn-set {
    width: 100%;
    text-align: center;
  }

  .okbtn-set {
    float: right;
  }

  .cancelbtn-set {
    float: left;
  }

  ion-item.item {
    background-color: #000;
    color: #fff;
  }

  .item-ios.item-block .item-inner {
    border-bottom-color: black;
  }

  .item-md.item-block .item-inner {
    border-bottom-color: black;
  }
}
