page-tdc {
  ion-content.content {
    background-color: #000000;
    color: #fff;
  }

  .input-set{
    font-size: 24px;
    margin-top: 69px;
    margin-left: 26px;
    margin-right: 20px;
  }

  .btn-set{
    font-size: 11px;
    width: 70px;
    height: 24px;
  }
  .sel-btn-set{
    font-size: 10px;
    width: 36px;
    height: 36px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .date-set{
    font-size: 16px;
  }
  .allday-set{
    background-color: #000000;
    width:120px;
  }

  .memo-set{
    font-size: 14px;
  }
}
