aicomponent {
  transition: all 1.5s ease 0.2s;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: auto;

  .card {
    background: $aiBackColor;
    position: relative;
    margin: 8px 0px 8px 15px;
    width: 85%;
    border-radius: 12px 12px 12px 0px;

    .self {
      color: $fontSecondColor;
      font-size: 12px;
    }

    .aiAn {
      color: $fontMasterColor;
      font-size: 14px;
      font-weight: bold;
    }

    .scdList {
      .volume[item-end] {
        color: $adornColor;
      }

      .date {
        color: $selectColor;
        font-size: 12px;
        letter-spacing: 1px;
      }

      .ti {
        color: $fontSecondColor;
        font-size: 14px;
        margin-left: 6px;

      }

    }

    .scd {
      span {
        color: $fontMasterColor;
      }

      .friend{
        display: inline-flex;
        overflow-x: auto;
        width: 100%;
        .chip-ios {
          display: inline-block;
          min-height: 58px;
          background-color: transparent;
          padding-right: 4px;
          min-width:40px;
          ion-avatar{
            width: 25px;
            height: 25px;
            min-width: 25px;
            min-height: 25px;
            margin: 0 auto;
            img{
              width: 25px;
              height: 25px;
            }
          }
          span {
            color: $fontSecondColor;
            font-size: 10px;
            display: inline-block;
            line-height: 20px;
            width: 38px;
            text-overflow: ellipsis;
          }
        }
      }

      .friend {
        //
        //display: inline-flex;
        //overflow-x: auto;
        //width: 100%;
        //min-height: 65px;
        //.chip-ios {
        //  display: flex;
        //  min-height: 40px;
        //  background-color: transparent;
        //}

      }

      .scdTip {
        color: $fontThirdColor;
        font-size: 12px;
      }

      button {
        color: $adornColor;
        background-color: transparent;
        font-size: 14px;
        letter-spacing: 1px;
        margin-right: 0px;
        margin-left: 5px;
      }

      .date {
        color: $fontSecondColor;
        font-size: 12px;
      }

      .ti {
        color: $fontMasterColor;
        font-size: 14px;
        font-weight: bold;
      }
    }


  }

  .card-ios {
    .list-ios {
      margin: 0px !important;
    }
  }


  ion-label {
    white-space: normal;
  }

  .label-ios {
    margin: 6px auto;
  }

  .item-ios {
    padding-left: 15px;
    background-color: transparent;
  }

  .close {
    webkit-transition: all 1.5s ease 0.2s;
    transition: all 1.5s ease 0.2s;
    display: block;
    font-size: 2.2em;
    position: absolute;
    top: -100px;
    right: 10%;
    -webkit-transform: translateY(-9999px);
    transform: translateY(-9999px);
    color: #fff;
  }

  .aiWarp {
    position: relative;
    overflow-y: auto;
    opacity: 1;
    padding: 5px;
    width: 100%;
  }
  .aiWarpBack {
    position: relative;
    overflow-y: auto;
    opacity: 1;
    padding: 5px;
    width: 100%;
    background-color: $baseBackColor;
    z-index: -1;
    opacity: .6;
  }

  .scroll-content {
    .item-block, .item-inner {
      min-height: 0px;
    }
  }

}





