<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.xj.cordova.alarmclock" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>cordova-plugin-alarmclock</name>
  <js-module name="cordova-plugin-alarmclock" src="www/cordova-plugin-alarmclock.js">
    <clobbers target="cordova.plugins.cordova-plugin-alarmclock" />
  </js-module>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="cordova-plugin-alarmclock">
        <param name="android-package" value="com.xj.cordova.alarmclock.AlarmClockPlugin" />
      </feature>
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml">
    </config-file>
    <source-file src="src/android/AlarmClockPlugin.java" target-dir="src/com/xj/cordova/alarmclock/AlarmClockPlugin" />
  </platform>
</plugin>
