
inputcomponent {
  z-index: 1000;
  display: none;
  .help{
    display: inline-block;
    position:absolute;
    bottom: 15rem;
    color: $fontSecondColor;
    padding: 1rem;
    font-size: 1.4rem;
    .row{
      margin: 1rem;
    }

  }
  .waper{
    transform: translateY(-9999px);
    transition: all 1s ease-in-out 0s;
    position: absolute;
    bottom: 0.625rem;
    width: 100%;
    //z-index:100;
    button{
      width: calc(100% - 28px);
      height: 2.5rem;
      margin: -5px 0 0 14px;
      //background: -webkit-linear-gradient(left, rgb(149, 58, 139), rgb(86, 82, 222)); /* Safari 5.1 - 6.0 */
      //background: -o-linear-gradient(right, rgb(149, 58, 139), rgb(86, 82, 222)); /* Opera 11.1 - 12.0 */
      //background: -moz-linear-gradient(right, rgb(149, 58, 139), rgb(86, 82, 222)); /* Firefox 3.6 - 15 */
      //background: linear-gradient(to right, rgb(149, 58, 139), rgb(86, 82, 222)); /* 标准的语法（必须放在最后） */
      background:  $fontSecondColor;
      color: #fff;
      font-size: 15px;
      border-radius: 0 0 15px 15px;
    }
  }
  background: #000;
  position: fixed;
  opacity: 1;
  .text{
    width: calc(100% - 28px);
    border-radius: 40px 40px  0px 0px;
    height: auto;
    left:14px;

    background: #2b3340;
    padding: 16px;
    position: relative;
    bottom: 5px;
    .text-input-ios{
      color: #fff;
      font-size: 18px;
    }
  }

}
