page-pd {
  .agenda-card-past {
    opacity:0.6;
  }
  .timeline {
    list-style: none;
    //padding: 2rem 1rem 2rem 0;
    position: relative;
  }

  .timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 2px;
    left: 30px;
  }

  .timeline > li {
    margin-bottom: 15px;
    position: relative;
    margin-left: -41px;
    margin-right: 1rem;
  }
  .timeline > li[yearitem] {
    margin-bottom: 50px;
    margin-left: -20px;
    .timeline-badge{

      border-radius:4px;
      width: 50px;
      height: 20px;
      line-height: 20px;
      font-size: 1.5rem;
    }
  }


  .timeline > li:before,
  .timeline > li:after {
    content: " ";
    display: table;
  }

  .timeline > li:after {
    clear: both;
  }

  .timeline > li:before,
  .timeline > li:after {
    content: " ";
    display: table;
  }

  .timeline > li:after {
    clear: both;
  }

  .timeline > li > .timeline-panel {

    width: calc(100% - 80px);
    border-radius: 4px;
    padding: 10px 15px;
    position: relative;
    float: right;
    margin-right: 1.5rem;
  }

  .timeline > li > .timeline-badge {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 1rem;
    text-align: center;
    position: absolute;
    left: 15px;
    top: 6px;
    border-radius: 50%;
  }

  .timeline-title {
    font-size: 1.4rem;
  }
  .timeline-person{
    float: right;
    font-size: 1.4rem;
  }

  .timeline-body > p,
  .timeline-body > ul {
    margin-bottom: 0;
    font-size: 1.4rem;
  }

  .timeline-body > p + p {
    margin-top: 5px;
  }

  .timeline-foot{
    .icon{
      //float: right;
      margin-right: 1rem;
      font-size: 1rem;
    }
  }
}
.white-theme{

  page-pd {

    .timeline:before {
      background:rgba(217,233,238,1);
    }

    .timeline > li[yearitem] {
      .timeline-badge{
        background:rgba(217,233,238,1);
        color: rgba(17,117,141,1);
      }
    }


    .timeline > li > .timeline-panel {
      background:rgba(255,255,255,1);
      box-shadow:0px 0px 5px 0px rgba(201,200,200,0.28);
    }

    .timeline > li > .timeline-badge {
      color: rgba(17,117,141,1);
      background:rgba(217,233,238,1);
    }
    .timeline-title {
      color:rgba(153,153,153,1);
    }
    .timeline-person{
      color:rgba(153,153,153,1);
    }
    .timeline-body p{
      color:rgba(51,51,51,1);
    }
  }

}
.black-theme{

  page-pd {
    .timeline:before {
      background:rgba(23,30,43,1);
    }

    .timeline > li[yearitem] {
      .timeline-badge{
        background:rgba(35,46,64,1);
        color: rgba(255,255,255,1);
      }
    }


    .timeline > li > .timeline-panel {
      background:rgba(24,35,54,1);
      box-shadow:0px 0px 2px 0px rgba(8,17,29,1);
    }

    .timeline > li > .timeline-badge {
      color: rgba(255,255,255,1);
      background:rgba(35,46,64,1);
    }
    .timeline-title {
      color:rgba(187,187,187,1);
    }
    .timeline-person{
      color:rgba(187,187,187,1);
    }
    .timeline-body p{
      color:rgba(255,255,255,1);
    }
  }

}
