page-pd {
  .scroll-content {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
  }

  .item-inner{
    border-bottom: 0px !important;
  }

  .item-block.item-ios{
    border-bottom: 0.55px solid #c8c7cc ;
  }

  .list-ios > .item-wrapper:last-child .item-block {
    border-bottom: 0px !important;
    box-shadow: none !important;
  }

}
