<!--
  Generated template for the HbPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<div  class="speechWarp">

  <ion-header >
    <ion-toolbar>
      <ion-buttons left>
        <button ion-button icon-only (click)="goBack()">
          <ion-icon name="arrow-back" style=" color: white"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>

    <ion-list class="yyWarp">
      <ion-item  *ngFor="let message of messages"  on-hold="onMessageHold($event, $index, message)">

        <!-- 判断消息是用户 -->
        <div *ngIf="U1 == message.tt" class="userTalk animated bounceIn">
          <h2 [innerHTML]="message.ut"></h2>
        </div>

        <!-- 判断消息是讯飞 -->
        <div *ngIf="S1 == message.tt" class="XFTalk animated bounceIn">
          <!--  wave-->
          <h2 [innerHTML]="message.at"></h2>
          <h3></h3>
        </div>

        <!-- 判断消息是数据：list -->
        <ion-card *ngIf="S5 == message.tt"  class="scl_list animated bounceIn">
          <ion-list>
            <ion-item *ngFor="let sj of message.scL" (click)="showScheduleDetail(sj)">
              <h2>{{sj.sd}}</h2>
              <p>
                <ion-badge>{{sj.sN}}</ion-badge>
              </p>
            </ion-item>
          </ion-list>
        </ion-card>

        <!-- 判断消息是数据：新增日程 -->
        <div *ngIf="S4 == message.tt" class="userTalk animated bounceIn">
              <h2>{{message.sc.sd}}</h2>
              <p>
                <ion-badge>{{message.sc.sN}}</ion-badge>
              </p>
            <ion-item *ngFor="let ru of message.sc.rus">
              <p>{{ru.ran}}</p>
            </ion-item>
        </div>
      </ion-item>
    </ion-list>

    <!--<ion-fab left bottom edge #fab1 color="dark">-->
    <!--<button ion-fab mini ><ion-icon name="arrow-dropup"></ion-icon></button>-->
    <!--<ion-fab-list  side="top">-->
    <!--<button ion-fab (click)="openSocial(1, fab1)" color="dark"><ion-icon name="create"></ion-icon></button>-->
    <!--<button ion-fab (click)="openSocial(2, fab1)" color="secondary"><ion-icon name="contacts"></ion-icon></button>-->
    <!--<button ion-fab (click)="openSocial(3, fab1)" color="danger"><ion-icon name="add"></ion-icon></button>-->
    <!--</ion-fab-list>-->
    <!--</ion-fab>-->
  </ion-content>

  <ion-footer style="height: 94px">
    <ion-toolbar  *ngIf="modeFlag == true; else xjInput">
      <ion-buttons left>
        <button ion-button icon-only (click)="switchInput()">
          <ion-icon name="create" style=" color: white;font-size: 40px"></ion-icon>
        </button>
      </ion-buttons>

      <img  src="./assets/imgs/yuying.png"   (click)="startXiaoJi()" class="animated bounceIn"/>
    </ion-toolbar>
    <ng-template #xjInput>
      <ion-toolbar style="margin-top: 18px" class="animated bounceIn faster">
        <ion-buttons left>
          <button ion-button icon-only (click)="switchInput()">
            <ion-icon name="mic" style=" color: white"></ion-icon>
          </button>
        </ion-buttons>
        <ion-input style="margin-left:10px" id="userInput" type="text" [(ngModel)]="inputText" placeholder="打字悄悄告诉我"></ion-input>
        <ion-buttons end>
          <button ion-button icon-end color="royal" (click)="startXiaojiText()">
            <ion-icon name="send" style=" color: white;font-size: 40px"></ion-icon>
          </button>
        </ion-buttons>
      </ion-toolbar>
    </ng-template>
  </ion-footer>
</div>
