<!--
  Generated template for the HbPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<div  class="speechWarp">

  <ion-header >
    <ion-toolbar>
      <ion-buttons left>
        <button ion-button icon-only (click)="goBack()">
          <ion-icon name="arrow-back" style=" color: white"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>


    <ion-list class="yyWarp">
      <ion-item  *ngFor="let message of messages"  on-hold="onMessageHold($event, $index, message)">

        <!-- 判断消息是用户 -->
        <div *ngIf="tu == message.tt" class="userTalk">
          <!--<ion-avatar item-start>-->
          <!--<img src="assets/imgs/vi.png">-->
          <!--</ion-avatar>-->
          <h2 [innerHTML]="message.at" class="animated bounceIn"></h2>
          <h3></h3>
          <p>
            <span class="bold">轻点以编辑</span>
          </p>
        </div>

        <div *ngIf="tx == message.tt" class="XFTalk">
          <!--  wave-->
          <h2 [innerHTML]="message.au" ></h2>
          <h3></h3>
        </div>


        <!-- 判断消息是数据：list -->
        <ion-card *ngIf="tdl == message.tt"  class="scl_list">
          <ion-list>
            <ion-item *ngFor="let sj of message.scL" (click)="showScheduleDetail(sj)">
              <h2>{{sj.sd}}</h2>
              <p>
                <ion-badge>{{sj.lan}}</ion-badge>
              </p>
            </ion-item>
          </ion-list>
        </ion-card>
        <!-- talk start-->

        <!-- 判断消息是数据:单条 -->
       <!-- <div *ngIf="tds == message.tt"  class="scl_list">
          <ion-card>
            <ion-card-content>
              <h2>{{message.s}}</h2>
              <p *ngIf="message.scheduleDeadline != null && message.scheduleDeadline != '' ;else deadLine">
                {{message.scheduleStartTime}} - {{message.scheduleDeadline}}
              </p>
              <ng-template #deadLine>
                <p *ngIf="message.scheduleStartTime == null || message.scheduleStartTime == '' ;else startTime">
                  截止于{{message.scheduleDeadline}}
                </p>
                <ng-template #startTime>
                  <p>{{message.scheduleStartTime}}开始</p>
                </ng-template>
              </ng-template>
            </ion-card-content>

            &lt;!&ndash; <ion-item>
               <button ion-button clear item-start>发布</button>
               <button ion-button clear item-end>取消</button>
             </ion-item>&ndash;&gt;
          </ion-card>
        </div>-->


        <!-- 判断消息是讯飞 -->



        <!-- talk end-->

      </ion-item>
    </ion-list>

    <!--<ion-fab left bottom edge #fab1 color="dark">-->
    <!--<button ion-fab mini ><ion-icon name="arrow-dropup"></ion-icon></button>-->
    <!--<ion-fab-list  side="top">-->
    <!--<button ion-fab (click)="openSocial(1, fab1)" color="dark"><ion-icon name="create"></ion-icon></button>-->
    <!--<button ion-fab (click)="openSocial(2, fab1)" color="secondary"><ion-icon name="contacts"></ion-icon></button>-->
    <!--<button ion-fab (click)="openSocial(3, fab1)" color="danger"><ion-icon name="add"></ion-icon></button>-->
    <!--</ion-fab-list>-->
    <!--</ion-fab>-->
  </ion-content>

  <ion-footer>
    <ion-toolbar  *ngIf="modeFlag == true; else xjInput">
      <ion-buttons left>
        <button ion-button icon-only (click)="switchInput()">
          <ion-icon name="code-working" style=" color: white;font-size: 40px"></ion-icon>
        </button>
      </ion-buttons>

      <img  src="./assets/imgs/yuying.png"   (click)="startXiaoJi()" class="animated bounceIn"/>
    </ion-toolbar>
    <ng-template #xjInput>
      <ion-toolbar>
        <ion-buttons left>
          <button ion-button icon-only (click)="openSocial(1,null)">
            <ion-icon name="create" style=" color: white"></ion-icon>
          </button>
        </ion-buttons>
        <ion-input id="userInput" type="text" [(ngModel)]="inputText" placeholder="请输入指令"></ion-input>
        <ion-buttons end>
          <button ion-button icon-end color="royal" (click)="startXiaojiText()">
            发送
            <ion-icon name="send"></ion-icon>
          </button>
        </ion-buttons>
      </ion-toolbar>
    </ng-template>
  </ion-footer>
</div>
