page-pl {
  background-color: #000;

  @font-face {
    font-family: 'PingFang-Regular';
    src: url('../../assets/fonts/PingFang Regular.ttf');
  }

  ion-content{
    font-family: PingFang-Regular;
  }

  ion-header ion-toolbar .toolbar-background,.toolbar-background-md,.toolbar-background-ios {
    background-color: #000;
  }

  ion-content.content {
    background-color: #000;
    color: #fff;
  }

  ion-content .plan-list-item {
    background-color: #000;
    color: #fff;
    font-size: 1.4rem;
  }

  ion-list-header.plan-list-item {
    color: rgb(153,153,153);
  }

  ion-content .plan-z{
    background-color: #000;
    color: #fff;
  }

  .color-dot {
    width: 3vmin;
    height: 3vmin;
    background-color: #fff;
    border-radius: 50%;
  }

  .color-pink {
    background-color: rgb(192,119,219);
  }

  .color-blue {
    background-color: rgb(81,170,242);
  }

  .w-auto {
    flex: 1;
  }

  .grid .row {
    height: 100%;
  }

  .list {
    width: 100%;
  }

  .list-header, .list-header-md, .list-header-ios {
    border: 0;
  }

  .scroll-content{
    overflow-x: auto;
    overflow-y: auto;
  }

  .img-header-left{
    width: 15px;
    height: 15px;
    margin-left: 20px;
  }

  .img-content-plan{
    width: 9px;
    height: 9px;
  }

  .content-download{
    color: white;
  }

  .img-content-refresh{
    width: 15px;
    height: 12px;
  }

  .toolbar-title{
    color: white;
    letter-spacing: 3px;
    font-size: 1.5rem;
  }

  .bar-button-ios{
    font-size: 1.3rem;
  }

  .item-block{
    min-height: 3rem;
  }

  .div-show-true{
    display: block;
  }

  .div-show-false{
    display: none;
  }
}
