page-pl {
  background-color: #000;

  ion-header ion-toolbar .toolbar-background,.toolbar-background-md,.toolbar-background-ios {
    background-color: #000;
  }

  ion-content.content {
    background-color: #000;
    color: #fff;
  }

  ion-content .plan-list-item {
    background-color: #000;
    color: #fff;
    font-size: 1.4rem;
  }

  ion-list-header.plan-list-item {
    color: rgb(153,153,153);
  }

  ion-content .plan-z{
    background-color: #000;
    color: #fff;
  }

  .color-dot {
    width: 3vmin;
    height: 3vmin;
    background-color: #fff;
    border-radius: 50%;
  }

  .color-pink {
    background-color: rgb(192,119,219);
  }

  .color-blue {
    background-color: rgb(81,170,242);
  }

  .w-auto {
    flex: 1;
  }

  .grid .row {
    height: 100%;
  }

  .list {
    width: 100%;
  }

  .list-header, .list-header-md, .list-header-ios {
    border: 0;
  }

  .scroll-content{
    overflow-x: auto;
    overflow-y: auto;
  }

  .img-header-left{
    width: 4vmin;
    height: 4vmin;
    margin-left: 5vmin;
  }

  .img-content-plan{
    width: 2vmin;
    height: 2vmin;
  }

  .img-content-refresh{
    width: 3.5vmin;
    height: 3vmin;
  }

  .content-download{
    color: white;
  }

  .toolbar-title{
    color: white;
    letter-spacing: 0.5vmin;
    font-size: 1.5rem;
  }

  .bar-button-ios{
    font-size: 1.3rem;
  }

  .item-block{
    min-height: 9vmin;
  }

  .div-show-true{
    display: block;
  }

  .div-show-false{
    display: none;
  }
}
