recording {
  position: absolute;

  left: calc(calc(100vmin / 2) - calc(34vmin / 2));
  top: calc(calc(100vmax / 2) - calc(34vmin / 2));

  ion-grid.grid {
    display: none;
    background-color: #111;
    opacity: 0.85;
    width: 34vmin;
    height: 34vmin;
    border-radius: 6px;
  }

  ion-grid.active {
    display: block;
  }

  ion-icon {
    font-size: 3.6em;
    margin-right: 8px;
  }
}
