recording {
  position: absolute;
  background-color: #111;
  opacity: 0.5;
  width: 25vmin;
  height: 25vmin;

  left: calc(calc(100vmin / 2) - calc(25vmin / 2));
  top: calc(calc(100vmax / 2) - calc(25vmin / 2));

  ion-grid.grid {
    display: none;
  }

  ion-grid.active {
    display: block;
  }
}
