recording {
  position: absolute;

  left: calc(calc(100vmin / 2) - calc(25vmin / 2));
  bottom: calc(calc(100vmax / 2) - calc(25vmin / 2));

  ion-grid.grid {
    display: none;
    background-color: #111;
    opacity: 0.85;
    width: 25vmin;
    height: 25vmin;
    border-radius: 6px;
  }

  ion-grid.active {
    display: block;
  }
}
