# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
.idea
*.war
*.nar
*.ear
*.zip
*.rar
*.iml
*.a


/.idea/*.xml

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Eclipse project files
.classpath
.project
.editorconfig
target/
.settings/

# Maven temp files
.mvn/

# Node modules
**/node_modules/

**/.gitignore
.gitignore

/TimeDemo/

**/.classpath
**/.project
**/.editorconfig
**/target/
**/.settings/
