<!--
  Generated template for the GroupAddPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>{{addType}}</ion-title>

    <ion-buttons right>
      <button ion-button icon-only (click)="savePlayer(addType)">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content padding>

  <div *ngIf="isAddOrEdit; else playerEdit">
    <div *ngIf="playerType == 'group'; else personAdd">

        <ion-item>
          <ion-label floating>参与群组名称</ion-label>
          <ion-input type="text" [(ngModel)]="playerDetail.groupName"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>标签</ion-label>
          <ion-select (focus)="findLabel()" [(ngModel)]="playerDetail.labelIds" multiple="true">
            <div *ngFor="let lb of label">
              <ion-option value="{{lb.labelId}}">{{lb.labelName}}</ion-option>
            </div>
          </ion-select>
        </ion-item>

      <div>
        <button ion-button (click)="dyAddGroupMember(1)">+</button>
        <button ion-button (click)="dyAddGroupMember(2)">-</button>
        <ion-list *ngFor="let gm of groupMemberList">

          <ion-item>
            <ion-label>{{gm.index}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label floating>群成员名称</ion-label>
            <ion-input type="text" [(ngModel)]="gm.userName"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>群成员联系方式</ion-label>
            <ion-input type="number" [(ngModel)]="gm.userContact"></ion-input>
          </ion-item>

        </ion-list>
      </div>
    </div>

    <ng-template #personAdd>

      <ion-item>
        <ion-label floating>参与人名称</ion-label>
        <ion-input type="text" [(ngModel)]="groupMember.userName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>参与人联系方式</ion-label>
        <ion-input type="number" [(ngModel)]="groupMember.userContact"></ion-input>
      </ion-item>

    </ng-template>
  </div>

  <ng-template #playerEdit>
    <div *ngIf="playerType == 'group'; else person">

    </div>

    <ng-template #person>

    </ng-template>
  </ng-template>
</ion-content>
