<!--
  Generated template for the GroupEditPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-item *ngIf="groupDetail!=null;else elseBlock1">
      <ion-title>{{groupDetail.groupName}}</ion-title>
    </ion-item>
  <ng-template #elseBlock1>
    <ion-navbar>
      <ion-title style="text-align: center" >添加新群组</ion-title>
    </ion-navbar>
  </ng-template>

</ion-header>


<ion-content padding>
  <div *ngIf="groupDetail!=null; else elseBlock3">
    <input style="width: 100%;height: 30px;padding-left: 10px;margin-bottom: 50px" placeholder="{{groupDetail.groupName}}" [(ngModel)]="groupName" type="text" />
  </div>
  <ng-template #elseBlock3>
    <input style="width: 100%;height: 30px;padding-left: 10px;margin-bottom: 50px" placeholder="请输入群名称" [(ngModel)]="groupName" type="text" />
  </ng-template>


  <button class="divbiaoqian" style="background-color: white;width: 100%">
    <button style="width: 85%;padding-left: 10px;height: 30px" (click)="showLabelCheckbox()">点击添加标签</button>
  </button>
  <div class="divqunchengyuan"  *ngIf="memberdata!=null; else elseBlock">
    <div *ngFor="let item of memberdata" class="row qunchengyuan">
      <p class="pmingcheng">{{item.userName}}</p><p>群成员联系方式:{{item.userContact}}</p>
    </div>
    <button style="width: 100%;background-color: white">
      <button class="divbiaoqian" style="background-color: white;width: 100%">
        <button style="width: 85%;padding-left: 10px;height: 50%" (click)="showMemberCheckbok()">点击添加新成员</button>
      </button>
    </button>
  </div>
  <ng-template #elseBlock>
    <button style="width: 100%;background-color: white">
      <button class="divbiaoqian" style="background-color: white;width: 100%">
        <button style="width: 85%;padding-left: 10px;height: 50%" (click)="showMemberCheckbok()">点击添加新成员</button>
      </button>
    </button>
  </ng-template>

  <ion-title>
    <ion-input placeholder="请输入名称"  [(ngModel)]="groupMemberName"></ion-input>
  </ion-title>
  <ion-title>
    <ion-input placeholder="请输入联系方式"  [(ngModel)]="groupMemberContact"></ion-input>
  </ion-title>

  <button (click)="savegroup()">保存</button>
</ion-content>
