<!--
  Generated template for the GroupEditPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title style="text-align: center" *ngIf="groupDetail!=null;else elseBlock">
      {{groupDetail.groupName}}
      <button style="position: absolute;left:85%;padding-top: 5px;font-size: 18px;background-color: transparent;" (click)="personaledit()">编辑</button>
    </ion-title>
  </ion-navbar>
  <ng-template #elseBlock>
    <ion-navbar>
      <ion-title>新增联系人</ion-title>
    </ion-navbar>
  </ng-template>
</ion-header>


<ion-content padding  style="margin-top: 10%">
  <div *ngIf="groupDetail!=null;else elseBlock1">
    <div *ngFor="let item of groupDetail.groupMembers">
      <div class="row qunchengyuan1" style=" border:1px solid #a1a1a1;">
        <ion-label  style="margin-left: 10%">联系方式</ion-label>
      </div>
      <div class="row qunchengyuan1" style="margin-top: 10%; text-align: center; border:1px solid #a1a1a1;">
        <ion-input style="margin-left: 10%" value="{{item.userContact}}"></ion-input>
      </div>
    </div>
  </div>
  <ng-template #elseBlock>
    <ion-input></ion-input>
  </ng-template>


</ion-content>
