<!--
  Generated template for the GroupEditPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title style="text-align: center" *ngIf="data3!=null">
      {{data3.data.group.groupName}}
      <button style="position: absolute;left:85%;padding-top: 5px;font-size: 18px;background-color: transparent;" (click)="personaledit()">编辑</button>
    </ion-title>
  </ion-navbar>
  <ng-template #elseBlock>
  </ng-template>
</ion-header>


<ion-content padding  style="margin-top: 10%">
  <!--<div class="row row11">-->
    <!--<div class="biaoqian1" *ngFor="let item of data3.data.group.groupLabel">-->
      <!--<p>{{item.labelName}}</p>-->
    <!--</div>-->
  <!--</div>-->
  <div *ngIf="data3!=null">
    <div *ngFor="let item of data3.data.group.gtdGroupMember">
      <!--<div class="row qunchengyuan1" style=" border:1px solid #a1a1a1;">-->
        <!--<p class="pmingcheng1">{{item.userName}}</p>-->
      <!--</div>-->
      <div class="row qunchengyuan1" style=" border:1px solid #a1a1a1;">
        <p>群成员联系方式:{{item.userContact}}</p>
      </div>
    </div>
  </div>


</ion-content>
