<!--
  Generated template for the SaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>日程详情</ion-title>
    <ion-buttons right>
      <button  ion-button [hidden]="isEdit" (click)="edit()">编辑</button>
      <button  ion-button [hidden]="!isEdit" (click)="save()">保存</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>


<div *ngIf="!isEdit">
  <ion-item>
    <img src="./assets/imgs/h.png" style="width: 20px" item-start>
    <ion-label col-3>任务</ion-label>
    <ion-label >{{rc.sN}}</ion-label>
  </ion-item>
  <!--<ion-item >-->
    <!--<img src="./assets/imgs/g.png" style="width: 20px" item-start>-->
    <!--<ion-label col-3 item-left>参与人</ion-label>-->
    <!--<ion-label *ngIf="!rc.rus">无</ion-label>-->
    <!--<div item-left float-left [hidden]="!rc.rus" *ngFor="let ru of rc.rus" >-->
      <!--<div title="{{ru.ran}}">-->
        <!--<ion-thumbnail style="min-width: 40px !important;min-height: 40px !important;">-->
          <!--<img [src]="ru.hiu" style="border-radius: 50%;width: 40px;height: 40px">-->
        <!--</ion-thumbnail>-->
        <!--<div style="clear: both; font-size:10px;width:40px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;" text-center >{{ru.ran}}</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div item-left float-left [hidden]="!isEdit">-->
      <!--<div>-->
        <!--<ion-thumbnail style="min-width: 40px !important;min-height: 40px !important;">-->
          <!--<img src="http://pics.sc.chinaz.com/files/pic/pic9/201811/bpic9202.jpg" style="border-radius: 50%;width: 40px;height: 40px">-->
        <!--</ion-thumbnail>-->
        <!--<div style="clear: both; font-size:10px;width:40px;overflow: hidden;text-overflow: ellipsis;" text-center >&nbsp;</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</ion-item>-->
  <div padding-left style=" border-bottom: 0.55px solid #e5e5e5;display: flex;" margin-top>
    <div>
      <img src="./assets/imgs/g.png" style="width: 20px;margin:8px 16px 8px 0; ">
    </div>
    <div col-3>
      <span class="spanCss">参与人</span>
    </div>
    <div col-7 class="divCss">
      <div item-left *ngFor="let ru of rc.rus" class="ruCss">
        <div title="{{ru.ran}}">
          <ion-thumbnail style="min-width: 40px !important;min-height: 40px !important;">
            <img [src]="ru.hiu" style="border-radius: 50%;width: 40px;height: 40px">
          </ion-thumbnail>
          <div style="clear: both; font-size:10px;width:40px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;" text-center >{{ru.ran}}</div>
        </div>
      </div>
      <div item-left [hidden]="!isEdit">
        <div (click)="showCheckbox()">
          <ion-thumbnail ion-button  color="light"  style="min-width: 40px !important;min-height: 40px !important;" class="div-add-border button-border" no-margin>
            <ion-icon name="add"></ion-icon>
          </ion-thumbnail>
          <div style="clear: both; font-size:10px;width:40px;overflow: hidden;text-overflow: ellipsis;" text-center >&nbsp;</div>
        </div>
      </div>
    </div>
  </div>
  <ion-item>
    <img src="./assets/imgs/f.png" style="width: 20px" item-start>
    <ion-label col-3>计划</ion-label>
    <ion-label >{{rc.jn}}</ion-label>
  </ion-item>
  <ion-item>
    <img src="./assets/imgs/e.png" style="width: 20px" item-start>
    <ion-label col-3 item-left>标签</ion-label>
    <div item-left class="lbCss"  *ngIf="rc.lan">
      <div float-left>{{rc.lan}}</div>
    </div>
  </ion-item>
  <ion-item>
    <img src="./assets/imgs/d.png" style="width: 20px" item-start>
    <ion-label col-3>时间</ion-label>
    <ion-label >{{rc.sd}}</ion-label>
  </ion-item>
  <button ion-item>
    <img src="./assets/imgs/c.png" style="width: 20px" item-start>
    <ion-label col-3>提醒</ion-label>
    <ion-label color="primary">提前十分钟</ion-label>
  </button>
  <ion-item>
    <img src="./assets/imgs/b.png" style="width: 20px" item-start>
    <ion-label col-3>备注</ion-label>
    <ion-label>哈哈哈</ion-label>
  </ion-item>
  <!--<ion-item>-->
    <!--<img src="./assets/imgs/b.png" style="width: 20px" item-start>-->
    <!--<ion-label col-3>开始时间</ion-label>-->
    <!--<ion-label ></ion-label>-->
  <!--</ion-item>-->
  <!--<ion-item>-->
    <!--<img src="./assets/imgs/b.png" style="width: 20px" item-start>-->
    <!--<ion-label col-3>结束时间</ion-label>-->
    <!--<ion-label ></ion-label>-->
  <!--</ion-item>-->
  <!--<ion-item>-->
    <!--<img src="./assets/imgs/b.png" style="width: 20px" item-start>-->
    <!--<ion-label col-3>重复类型</ion-label>-->
    <!--<ion-label ></ion-label>-->
  <!--</ion-item>-->
  <!--<ion-item>-->
    <!--<img src="./assets/imgs/b.png" style="width: 20px" item-start>-->
    <!--<ion-label col-3>重复时间</ion-label>-->
    <!--<ion-label ></ion-label>-->
  <!--</ion-item>-->
</div>

<div *ngIf="isEdit">
  <ion-item>
    <img src="./assets/imgs/h.png" style="width: 20px" item-start>
    <ion-label col-3>任务</ion-label>
    <ion-input [(ngModel)]="rc.sN" placeholder="{{rc.sN}}"></ion-input>
  </ion-item>
  <div padding-left style=" border-bottom: 0.55px solid #e5e5e5;display: flex;" margin-top>
    <div>
      <img src="./assets/imgs/g.png" style="width: 20px;margin:8px 16px 8px 0; ">
    </div>
    <div col-3>
      <span class="spanCss">参与人</span>
    </div>
    <div col-7 class="divCss">
      <div item-left *ngFor="let ru of rc.rus" class="ruCss">
        <div title="{{ru.ran}}">
          <ion-thumbnail style="min-width: 40px !important;min-height: 40px !important;">
            <img [src]="ru.hiu" style="border-radius: 50%;width: 40px;height: 40px">
          </ion-thumbnail>
          <div style="clear: both; font-size:10px;width:40px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;" text-center >{{ru.ran}}</div>
        </div>
      </div>
      <div item-left>
        <div (click)="showCheckbox()">
          <ion-thumbnail ion-button  color="light"  style="min-width: 40px !important;min-height: 40px !important;" class="div-add-border button-border" no-margin>
            <ion-icon name="add"></ion-icon>
          </ion-thumbnail>
          <div style="clear: both; font-size:10px;width:40px;overflow: hidden;text-overflow: ellipsis;" text-center >&nbsp;</div>
        </div>
      </div>
    </div>
  </div>
  <ion-item>
    <img src="./assets/imgs/f.png" style="width: 20px" item-start>
    <ion-label col-3>计划</ion-label>
    <ion-input [(ngModel)]="rc.jn"  placeholder="{{rc.jn}}"></ion-input>
  </ion-item>
  <ion-item>
    <img src="./assets/imgs/e.png" style="width: 20px" item-start>
    <ion-label col-3 item-left>标签</ion-label>

    <div item-left>
      <div float-left>{{rc.lan}}</div>
    </div>
  </ion-item>
  <ion-item>
    <img src="./assets/imgs/d.png" style="width: 20px" item-start>
    <ion-label col-3>时间</ion-label>
    <ion-datetime displayFormat="YYYY-MM-DD HH:mm" [(ngModel)]="starttmp"></ion-datetime>
  </ion-item>
  <button ion-item>
    <img src="./assets/imgs/c.png" style="width: 20px" item-start>
    <ion-label col-3>提醒</ion-label>
    <ion-label color="primary">提前十分钟</ion-label>
  </button>
  <ion-item>
    <img src="./assets/imgs/b.png" style="width: 20px" item-start>
    <ion-label col-3>备注</ion-label>
    <ion-input ></ion-input>
  </ion-item>

  <button ion-button (click)="del()" style="margin: 0 auto;">删除</button>


</div>



  <button ion-button (click)="setAlarm()">设置提醒闹钟</button>
    <!--<button ion-button (click)="changeState()">日程完成</button>-->

    <!--
        <div>
          <button ion-button outline (click)="newProject()">确认</button><button ion-button outline (click)="onBack()">取消</button>
        </div>-->

</ion-content>
