page-sa {

  .item-ios{
    //padding-left: 0px !important;
  }

  .scroll-content {
    padding-left: 16px !important;
    padding-right: 16px !important;
    padding-bottom: 16px !important;
  }

  .item-inner{
    border-bottom: 0 !important;
  }

  .item-block.item-ios{
    border-bottom: 0.55px solid #c8c7cc ;
  }


  .div-add-border{
    border: 0.5px dotted #ccc;
  }
  .button-border{
    border-radius: 50%;
  }
}
