<!--
  Generated template for the SpeechPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<div  class="speechWarp">

<ion-header >
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="goBack()">
        <img src="./assets/imgs/back.png" width="25px"/>
      </button>
    </ion-buttons>

    <ion-buttons end>
    <button ion-button icon-only (click)="openSocial(1,null)">
      <ion-icon name="create" style="color: white"></ion-icon>
    </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>


  <ion-list>
    <ion-item  class="XFTalk">
      <h2>请问，需要我帮你做点什么？点击【启动语音】开始对话吧！</h2>
    </ion-item>
    <ion-item  *ngFor="let message of messages"  on-hold="onMessageHold($event, $index, message)">

      <!-- 判断消息是用户 -->
      <div *ngIf="talkUser == message.talkType" class="userTalk">
        <!--<ion-avatar item-start>-->
          <!--<img src="assets/imgs/vi.png">-->
        <!--</ion-avatar>-->
        <h2 [innerHTML]="message.userText" class="animated bounceIn"></h2>
        <h3></h3>
        <p>
          <span class="bold">轻点以编辑</span>
        </p>
      </div>

      <div *ngIf="talkXF == message.talkType" class="XFTalk">
        <!--  wave-->
        <h2 [innerHTML]="message.speech" ></h2>
        <h3></h3>
      </div>


      <!-- 判断消息是数据：list -->
      <ion-card *ngIf="talkDataList == message.talkType"  class="scl_list">
        <ion-list>
            <ion-item *ngFor="let sj of message.scheduleJoinList" (click)="showScheduleDetail(sj)">
                <h2>{{sj.scheduleName}}</h2>
              <p>
                <ion-badge>{{sj.labelName}}</ion-badge>
              </p>
              <ion-note item-end>
                截止于{{sj.scheduleDeadline}}
              </ion-note>
            </ion-item>
          </ion-list>
      </ion-card>
  <!-- talk start-->

      <!-- 判断消息是数据:单条 -->
      <div *ngIf="talkDataSingle == message.talkType"  class="scl_list">
            <ion-card>
              <ion-card-content>
                <h2>{{message.scheduleName}}</h2>
                <p *ngIf="message.scheduleDeadline != null && message.scheduleDeadline != '' ;else deadLine">
                  {{message.scheduleStartTime}} - {{message.scheduleDeadline}}
                </p>
                <ng-template #deadLine>
                  <p *ngIf="message.scheduleStartTime == null || message.scheduleStartTime == '' ;else startTime">
                    截止于{{message.scheduleDeadline}}
                  </p>
                  <ng-template #startTime>
                    <p>{{message.scheduleStartTime}}开始</p>
                  </ng-template>
                </ng-template>
              </ion-card-content>

              <!-- <ion-item>
                 <button ion-button clear item-start>发布</button>
                 <button ion-button clear item-end>取消</button>
               </ion-item>-->
            </ion-card>
      </div>


    <!-- 判断消息是讯飞 -->



  <!-- talk end-->

    </ion-item>
  </ion-list>

  <ion-fab right middle edge #fab1 color="dark">
    <button ion-fab mini ><ion-icon name="arrow-dropup"></ion-icon></button>
    <ion-fab-list  side="top">
      <button ion-fab (click)="openSocial(1, fab1)" color="dark"><ion-icon name="create"></ion-icon></button>
      <button ion-fab (click)="openSocial(2, fab1)" color="secondary"><ion-icon name="contacts"></ion-icon></button>
      <button ion-fab (click)="openSocial(3, fab1)" color="danger"><ion-icon name="add"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
</ion-content>

<ion-footer >
  <ion-toolbar *ngIf="modeFlag == true; else xjInput">
    <button id="start" ion-button outline icon-start (click)="testbaiduWakeUp()">
      <ion-icon name="ionitron"></ion-icon>
      启动语音
    </button>
  </ion-toolbar>
  <ng-template #xjInput>
    <ion-toolbar padding-left>
      <ion-input id="userInput" type="text" [(ngModel)]="inputText" placeholder="请输入指令"></ion-input>
      <ion-buttons end>
        <button ion-button icon-end color="royal" (click)="startXiaojiText()">
          发送
          <ion-icon name="send"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ng-template>
</ion-footer>
</div>
