
radio-spinner {
  width: 100vmin;

  label {
    margin-right: 1rem;
    font-size: 1.4rem;
    color:rgba(7,109,138,1);
    letter-spacing: 0.2rem;
    font-weight: bold;
  }
  button, .button-ios, .button-clear-ios {
    background: rgba(239, 239, 239, 1);
    color: rgba(51, 51, 51, 1);
    font-size: 1.6rem;
    min-height: 44px;
    height: auto;
    min-width: 44px;
    margin: 0.1rem 1rem;
    padding: 0;
    .icon{
      margin-right: 0px !important;
      font-size: 2rem !important;
      //line-height: 3rem !important;
      color:rgba(7,109,138,1) !important;
    }
  }

  button.checked, .button-ios.checked, .button-clear-ios.checked {
    background: rgba(217, 233, 238, 1);
    color: rgba(7, 109, 138, 1);
  }
}
.white-theme {

  radio-spinner {

    label {
      color:rgba(7,109,138,1);
    }
    button, .button-ios, .button-clear-ios {
      background: rgba(239, 239, 239, 1);
      color: rgba(51, 51, 51, 1);
      .icon{
        color:rgba(7,109,138,1) !important;
      }
    }

    button.checked, .button-ios.checked, .button-clear-ios.checked {
      background: rgba(217, 233, 238, 1);
      color: rgba(7, 109, 138, 1);
    }

  }
}
.black-theme {

  radio-spinner {

    label {
      color:rgba(7,109,138,1);
    }
    button, .button-ios, .button-clear-ios {
      background:rgba(23,41,67,1);
      box-shadow:0px 0px 5px 0px rgba(12,12,12,0.73);
      color: rgba(255,255,255, 1);
      .icon{
        color: rgba(255,255,255, 1) !important;
      }
    }

    button.checked, .button-ios.checked, .button-clear-ios.checked {
      background: rgba(217, 233, 238, 1);
      color: rgba(7, 109, 138, 1);
    }

  }
}

