page-hz {

  .img_size{
    width: 80px !important;
    height:80px !important;

  }

  .icon_size{
    width: 28px !important;
    height: 28px !important;
  }

  .scroll-content {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
  }

  .item-inner{
    border-bottom: 0px !important;
  }

  .item-block.item-ios{
    border-bottom: 0.55px solid #c8c7cc ;
  }
}
