page-r {
  background-color: #000;

  @font-face {
    font-family: 'PingFang-Regular';
    src: url('../../assets/fonts/PingFang Regular.ttf');
  }

  ion-content{
    font-family: PingFang-Regular;
  }

  .btn-back{
    padding-top: 7px;
    padding-left: 25px;
  }

  h1{
    font-size: 2.4rem;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    padding-top:85px;
    word-spacing: 1px;
  }

  ion-input{
    font-size: 1.5rem;
    width:85%;
  }

  .register-name{
    margin-top: 30px;
  }

  .register-pwd{
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  .register-div{
    margin-top: 12px;
    font-size: 1.5rem;
    word-spacing: 1px;
    //font-weight:bold;
  }

  .register-send{
    margin-right: 105px;
    margin-top: 0;
    font-size: 1.2rem;
    color: #429A81;
    border: 1px solid #429A81;
    background-color: white;
  }

  .fab {
    width: 45px;
    height: 45px;
    background-color:#429A81;
    opacity: 0.4;
  }

  .grid-login-basic {
    width: 100%;
  }

  .w-auto {
    flex: 1;
  }

  .no-padding {
    padding: 0;
  }

  .no-padding-lr {
    padding-left: 0;
    padding-right: 0;
  }

  .no-margin-lr {
    margin-left: 0;
    margin-right: 0;
  }

  .text-anchor {
    color: #429A81;
    text-decoration: none;
    opacity: 0.8;
  }

  .text-agreement {
    margin-top: 20px;
    font-size: 1.2rem;
  }

  .scroll-content{
    margin-left: 25px;
  }
  .scroll-content{
    overflow-x: hidden;
    overflow-y: hidden;
  }

}
