page-r {

  .w-auto {
    flex: 1;
  }

  .grid-login-basic {
    width: 100%;
  }

  .no-padding {
    padding: 0;
  }

  .no-padding-lr {
    padding-left: 0;
    padding-right: 0;
  }

  .no-margin-lr {
    margin-left: 0;
    margin-right: 0;
  }

  h1{
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 2.4rem;
    font-weight: bold;
    letter-spacing: 1px;
    padding-top: 85px;
  }

  ion-input{
    font-size: 1.5rem;
    width:85%;
  }

  .register-name{
    margin-top: 30px;
  }

  .register-pwd{
    margin-bottom: 20px;
  }

  .register-div{
    margin-top: 12px;
    font-size: 1.5rem;
    width: 150px;
    font-weight: 900;
  }

  .register-send{
    margin-right: 105px;
    margin-top: 0;
    font-size: 1.2rem;
    color: #429A81;
    border: 1px solid #429A81;
    background-color: white;
  }

  .img-content-enter{
    width: 17px;
    height: 15px;
  }

  .show {
    width: 45px;
    height: 45px;
    background-color:#429A81;
    opacity: 0.4;
  }

  .show-true{
    width: 45px;
    height: 45px;
    background-color:#429A81;
  }

  .text-anchor {
    color: #429A81;
    text-decoration: none;
    opacity: 0.8;
  }

  .text-agreement {
    margin-top: 20px;
    font-size: 1.2rem;
  }

  .scroll-content{
    margin-left: 25px;
    overflow-x: hidden;
    overflow-y: hidden;
  }

}
