page-tddi {

  ion-content.content {
    background-color: #96162d;
    color: #fff;
  }

  .input-set{
    font-size: 24px;
    margin-left: 30px;
  }

  .sel-btn-set{
    font-size: 12px;
    width: 36px;
    height: 36px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .dt-set{
    letter-spacing: 1px;
    font-size: 16px;
    margin-top: 6px;
    margin-left: 24px;

  }
  .week-set{
    font-size: 16px;
    margin-top: 11px;
    margin-left: 1px;
    letter-spacing: 1px;
  }
  .tm-set{
    font-size: 16px;
    margin-top: 11px;
    margin-left: 1px;
    height: 20px;
    letter-spacing: 1px;
  }

  .allday-set{
    background-color: #96162d;
    width:120px;
  }

  .memo-set{
    font-size: 14px;
    margin-top: 22px;
    margin-left: 22px;
  }

  .sel-btn-seled{
    background-color:#3C909B;
    color:#FFFFFF;
    font-size: 13px;
  }

  .sel-btn-unsel{
    background-color:transparent;
    color:rgba(255,255,255,0.5);;
    font-size: 11px;

  }

  .foot-set{
    background-color: #96162d;
  }

  .dobtn-set{
    width: 100%;
    text-align: center;
  }
  .okbtn-set{
    float: right;
    margin-right: 54px;
  }
  .cancelbtn-set{
    float: left;
    margin-left: 54px;
  }

  ion-item.item {
    background-color: #96162d;
    color: #fff;
    padding: 0;
  }
  .item-ios.item-block .item-inner{
    border: 0;
  }

  .item-md.item-block .item-inner{
    border: 0;
  }

  .h-auto {
    height: 44px;
    text-align: right;
    width: 100%;
  }

  .imgdel-set{
    width: 15px;
    height: 14.5px;
    margin-top: 35px;
    margin-right: 24px;
  }

  .header-set{
    background-color: #96162d;
  }
  .btn-delall {
    font-size: 20px;
    color:#222222;
  }
  .btn-del {
    font-size: 20px;
    color:#222222;
  }
  .btn-cancel {
    font-size: 20px;
    color:#35919C;
    font-weight:normal
  }

  .scroll-content{
    background-color: #96162d;
  }

  .btn-jh{
    margin-left: 24px;
    margin-top: 40px;
    font-size: 11px;
    width: 70px;
    height: 24px;
    border-radius: 10px;
    padding-bottom: 2px;
    background-color: rgba(255,255,255,0.5);
  }

  .tog-set{
    margin-top: -1px;
    margin-left: 6px;
  }
  .reptlbl{
    font-size: 11px;
    margin-left: 24px;
  }
  .repttop{
    margin-top: 20px;
  }
  .repttop1{
    margin-top: 19px;
    margin-left: 12.5px;
  }
  .txtop{
    margin-top: 6px;
  }
  .txtop1{
    margin-top: 3px;
  }

  .footer-ios .toolbar-ios:first-child .toolbar-background-ios{
    border-width:0px;
  }
  .footer-md .toolbar-md:first-child .toolbar-background-md{
    border-width:0px;
  }


  .select-plan{
    position: absolute;
    width: 100%;
    height: 80vmin;
    z-index: 1000;
    margin-top: 100%;

    ion-list{
      margin: 0;
      width: 100%
    }

    ion-item ion-label{
      font-size: 1.5rem;
    }

    .item-block{
      min-height: 3rem;
    }

    .color-dot {
      width: 2vmin;
      height: 2vmin;
      background-color: #fff;
      border-radius: 50%;
    }

    .color-palm {
      background-color: rgb(155,94,70);
    }

    .color-sunflower {
      background-color: rgb(135,106,41);
    }

    .color-aurantia {
      background-color: rgb(207,68,37);
    }

    .color-orange {
      background-color: rgb(175,43,36);
    }

    .color-pink {
      background-color: rgb(173,131,135);
    }

    .color-lavender {
      background-color: rgb(192,119,219);
    }

    .color-fuchsia {
      background-color: rgb(69,59,147);
    }

    .color-sky {
      background-color: rgb(81,170,242);
    }

    .color-blue {
      background-color: rgb(53,145,165);
    }

    .color-daphnite {
      background-color: rgb(48,129,88);
    }
  }

  .shade{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:999;
    -moz-opacity: 0.3;
    opacity:.30;
    filter: alpha(opacity=30);
  }
}
