page-tddi {

  .item-ios{
    //padding-left: 0px !important;
  }

  .scroll-content {
    padding-left: 16px !important;
    padding-right: 16px !important;
    padding-bottom: 16px !important;
  }

  .item-inner{
    border-bottom: 0 !important;
  }

  .item-block.item-ios{
    border-bottom:1px solid #e5e5e5 ;
  }


  .div-add-border{
    border:1px dotted #ccc;
  }
  .button-border{
    border-radius: 50%;
  }

  .divCss{
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .spanCss{
    font-size:1.7rem;
    display: block;
    padding: 5px 5px 5px 0 ;
  }

  .ruCss{
    margin-right: 5px;
  }

  .lbCss{
    border: 1px solid #030;
    border-radius: 3px;
    padding: 2px;
    padding-top: 0 !important;
  }

  ion-item{
    height: 55px;
  }

  .scroll-content{
    overflow-x: auto;
    overflow-y: auto;
  }
}
