<!--
  Generated template for the PcPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- 注册未添加 未注册用户 -->
<ion-header>

  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!--<div style="width: 100%;height: 40%;">-->
  <!--<div style=" width:60pt;margin: 0 auto;position: relative;top: 50%;">-->
  <!--<img src="http://file03.sg560.com/upimg01/2017/01/932752/Title/0818021950826060932752.jpg" style="border-radius: 50px;border-bottom: 0px;display: block;witdth:60pt;height: 60pt" >-->
  <!--<span style="width: 60pt;display: block;text-align: center;">李四</span>-->
  <!--</div>-->
  <!--</div>-->
  <ion-item style="height: 40%" class="flag">
    <ion-avatar >
      <!--<ion-img width="80" height="80" src="http://file03.sg560.com/upimg01/2017/01/932752/Title/0818021950826060932752.jpg" ></ion-img>-->
      <img src="http://file03.sg560.com/upimg01/2017/01/932752/Title/0818021950826060932752.jpg" style="width: 60px;height: 60px ;margin: 0 auto">

    </ion-avatar>
    <ion-title style="margin: 0 auto">{{tel}}</ion-title>
  </ion-item>
  <!--<div>-->
  <ion-item class="flag">
    <ion-label>备注</ion-label>
    <ion-input type="text" text-end placeholder="{{tel}}" [(ngModel)]="name"></ion-input>
  </ion-item>
  <ion-item *ngIf="code == 1 || code == 2" class="flag">
    <ion-label>接收该用户的推送</ion-label>
    <ion-checkbox item-end></ion-checkbox>
  </ion-item>
  <ion-label></ion-label>
  <ion-label></ion-label>
  <ion-label></ion-label>



  <ion-buttons *ngIf="code == 3 || code == 2" col-10  style="margin: 0 auto">
    <button ion-button round full (click)="submit()" >确定</button>
  </ion-buttons>
  <!--</div>-->


</ion-content>
