page-pc {
  background-color: $baseBackColor;

  .w-auto {
    flex: 1;
  }

  .grid {
    padding: 0;
  }

  .grid .row {
    height: 100%;
  }

  .list {
    width: 100%;
  }

  .list-header, .list-header-md, .list-header-ios {
    border: 0;
  }

  ion-header ion-toolbar .toolbar-background,.toolbar-background-md,.toolbar-background-ios {
    background-color: $baseBackColor;
  }

  ion-content.content {
    background-color: $baseBackColor;
    color: #fff;
  }

  ion-content .plan-list-item {
    background-color: $baseBackColor;
    color: #fff;
  }

  ion-header{
    padding: 4px 20px;
  }

  .img-header-left{
    width: 4vmin;
    height: 4vmin;
  }

  .button-header-right{
    font-size: 1.5rem;
    color: $masterColor;
  }

  ion-list-header.plan-list-item {
    color: rgb(153,153,153);
  }

  .scroll-content{
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .bar-button-ios{
    font-size: 1.5rem;
  }

  ion-item ion-label{
    font-size: 1.5rem;
  }

  .item-block{
    min-height: 9vmin;
  }

  .color-dot {
    width: 14px;
    height: 14px;
    background-color: #fff;
    border-radius: 50%;
  }

  .color-palm {
    background-color: rgb(155,94,70);
  }

  .color-sunflower {
    background-color: rgb(135,106,41);
  }

  .color-aurantia {
    background-color: rgb(207,68,37);
  }

  .color-orange {
    background-color: rgb(175,43,36);
  }

  .color-pink {
    background-color: rgb(173,131,135);
  }

  .color-lavender {
    background-color: rgb(192,119,219);
  }

  .color-fuchsia {
    background-color: rgb(69,59,147);
  }

  .color-sky {
    background-color: rgb(81,170,242);
  }

  .color-blue {
    background-color: rgb(53,145,165);
  }

  .color-daphnite {
    background-color: rgb(48,129,88);
  }
}
