page-ph {

  .scroll-content {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
  }

  .item-inner{
    border-bottom: 0px !important;
  }

  .item-block.item-ios{
    border-bottom: 0.55px solid #e5e5e5 ;
  }

  ion-item{
    height: 80px;
  }

  .height57{
    height: 57px;
  }


  //.item-block.item-ios:nth-of-type(1){
  //  border-bottom: 0px !important;
  //  box-shadow: none !important;
  //}

  .list ion-item-sliding:nth-last-of-type(1)  .item-block.item-ios{
    border-bottom: 0px !important;
    box-shadow: none !important;
  }

  .list-ios > .item-wrapper:last-child .item-block {
    border-bottom: 0px !important;
    box-shadow: none !important;
  }

  .scroll-content{
    overflow-x: auto;
    overflow-y: auto;
  }
}
