page-user-register {
  .custom_region{


  }

  .register_header{

    /* 修改Ionic CSS */
    .toolbar-background-ios{
      background: #fff ;
      border-color: #fff;
    }
    .button-inner .back-button-text{
      display: none;
    }
    .back-button.show-back-button{
      color: rgb(102,102,102);
    }
    .header_header{
      font-family: PingFang-SC-Bold;
      text-align: center;
      font-size: 20px;
      color: rgb(34,34,34);
      padding-right: 15px;
    }
  }
  .register_body{
    padding-top: 40px;
  }
  .custom_form{
    padding: 0 10px;
    .custom_group{
      padding: 0 10px;
      .group_input{
        margin-right: 16px;
        padding: 0 20px;
        $placeholder_color:rgb(179,179,179);
        $icon_width: 20px;
        $text_width: calc(100% - 25px);
        .input_icon{
          width: $icon_width;
          color: $placeholder_color;
          display: inline-block;
          font-size: 1.7em;
          line-height: 1;
          vertical-align: -136%;
          .img_span{

          }
        }
        .input_text{
          display: inline-block;
          width: $text_width;
          .input_title{
            color: $placeholder_color;
            margin-left: 3px;
          }
          .item{
            padding-left: 10px;
          }
        }
        .error_info{
          color: #ad080e;
          min-height: 20px;
          margin-top: 8px;
          padding-left: 31px;
          margin-bottom: 25px;
        }
      }
      .region_button{
        border-radius: 25px;
        letter-spacing:5px;
        background: -webkit-linear-gradient(left, rgb(149,58,139),rgb(86,82,222)); /* Safari 5.1 - 6.0 */
        background: -o-linear-gradient(right, rgb(149,58,139),rgb(86,82,222)); /* Opera 11.1 - 12.0 */
        background: -moz-linear-gradient(right, rgb(149,58,139),rgb(86,82,222)); /* Firefox 3.6 - 15 */
        background: linear-gradient(to right, rgb(149,58,139),rgb(86,82,222)); /* 标准的语法（必须放在最后） */
      }
      .copywriting{
        span.checkbox_span{
          $checkbox_size:15px;
          margin-right: -5px;
          width: 170px;
          float: right;
          .checkbox-ios {
            margin-right: 3px;
            .checkbox-icon{
              border-radius: 5px;
              width: $checkbox_size;
              height: $checkbox_size;
            }
            .checkbox-checked .checkbox-inner {
              left: 4px;
              top: 2px;
            }
          }
          .item-inner{
            border-bottom: 0;
            .label{
              color: rgb(153,153,153);
              font-size: $checkbox_size - 2px;
            }
          }
        }
      }
    }
  }
  .verification{
    $icon_width: 20px;
    $icon_width: 20px;
    $text_width: calc(100% - 25px);
    .input_icon{
      width: $icon_width;
      display: inline-block;
      font-size: 1.7em;
      line-height: 1;
      vertical-align: -136%;
      .img_span{

      }
    }
    .input_text{
      display: inline-block;
      width: $text_width;
      .item{
        padding-left: 10px;
      }
    }
    .input_verification{
      .button_verification{

      }
    }
  }
  .padding_0{
    padding: 0 !important;
  }
}
