page-ha01 {
  display: block;
  ul{

    .item-ios.item-block .item-inner{
      border-bottom: 0px solid #c8c7cc;
    }

    .item-ios{
      background-color:transparent;
      font-size: 14px;
      color: #222222;

      white-space: nowrap;  /*强制span不换行*/
      overflow: hidden;  /*超出宽度部分隐藏*/
      text-overflow: ellipsis;  /*超出部分以点号代替*/
      min-height:0px;
      list-style-type:none;
      padding-left: 0px;
      margin-left:-20px;
      margin-top: 10px;


      p{
        font-size: 12px;
        color: #222222;
      }

      ion-icon{
        font-size: 20px;
        margin: 0px 5px 0px 0px;
      }
      .input-wrapper{
        height: 30px;
      }
    }
    .item-ios [item-start]{
      margin: 2px 5px 0px 0px;
    }

    li{

    }
  }
  ion-scroll{
    min-height: 100px;
    height: 100%;
  }



  .pop-css{
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 85% !important;
    height: 90% !important;
    background-color: #FFFFFF;
    z-index: 50;
    border-radius: 20px;

    transition:width 100ms, height 100ms;
    -moz-transition:width 1s, height 1s, -moz-transform 1s; /* Firefox 4 */
    -webkit-transition:width 0.5s, height 0.5s, -webkit-transform 1s; /* Safari and Chrome */
    -o-transition:width 1s, height 1s, -o-transform 1s; /* Opera */
  }
  .buttonWan{
    display: block;
    margin: 0 auto;
    border-radius: 25px;
    letter-spacing:5px;
    background: -webkit-linear-gradient(left, rgb(149,58,139),rgb(86,82,222)); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, rgb(149,58,139),rgb(86,82,222)); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, rgb(149,58,139),rgb(86,82,222)); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, rgb(149,58,139),rgb(86,82,222)); /* 标准的语法（必须放在最后） */
  }

  .activeCss{
    transform: translate(0,0);

  }

  .activeCssLeft{
    transform: translate(-105%,5%);
    z-index: 40;
  }

  .activeCssRight{
    transform: translate(105%,5%);
    z-index: 40;
  }

  .activeCssLeft-1{
    transform: translate(-205%,5%);
    z-index: 40;
  }

  .activeCssRight-1{
    transform: translate(205%,5%);
    z-index: 40;
  }

}
