page-ub {

  .login_header{

    /* 修改Ionic CSS */
    .toolbar-background-ios{
      background: #fff !important;
      border-color: #fff !important;
    }
    .button-inner .back-button-text{
      display: none !important;
    }
    .back-button.show-back-button{
      color: rgb(102,102,102);
    }


    .header_header{
      font-family: PingFang-SC-Bold;
      text-align: center;
      font-size: 20px;
      color: rgb(34,34,34);
      padding-right: 30px;
    }
  }
  .user_login{
    height: 100%;
    $login_foot_height: 75px;
    $login_body_height:calc(100% - 75px);
    background-color: #fff;
    .login_body{
      height: $login_body_height;
      $login_icon_height:150px;
      .login_icon{
        height: $login_icon_height;
        padding-top: $login_icon_height/3;
        text-align: center;
        .xj_icon{
          $xj_icon_size:70px;
          display: inline-block;
          width: $xj_icon_size;
          height: $xj_icon_size;
        }
      }
      .login_info{

      }
    }
    .login_foot{
      height: $login_foot_height;
      .custom_share{
        $share_png_size:38px;
        text-align: center;
        .share{
          width: 50%;
          float: left;
          img{
            width: $share_png_size;
            height: $share_png_size;
            display: inline-block;
            background-position: 0 0;
            background-size: $share_png_size $share_png_size;
            background-repeat:no-repeat;
          }
        }
      }
    }
  }
  .custom_form{
    padding: 0 10px;
    .custom_group{
      padding: 0 10px;
      margin-bottom: 25px;
      .group_input{
        margin-right: 16px;
        padding: 0 20px;
        $placeholder_color:rgb(179,179,179);
        $icon_width: 20px;
        $text_width: calc(100% - 25px);
        .input_icon{
          width: $icon_width;
          color: $placeholder_color;
          display: inline-block;
          font-size: 1.7em;
          line-height: 1;
          vertical-align: -24%;
        }
        .input_text{
          display: inline-block;
          width: $text_width;
          .input_title{
            color: $placeholder_color;
            margin-left: 3px;
          }
          .item{
            padding-left: 10px;
          }
        }
        .error_info{
          color: #ad080e;
          margin-top: 15px;
          min-height: 20px;
          padding-left: 31px;
        }
      }
      .login_button{
        border-radius: 25px;
        letter-spacing:5px;
        background: -webkit-linear-gradient(left, rgb(149,58,139),rgb(86,82,222)); /* Safari 5.1 - 6.0 */
        background: -o-linear-gradient(right, rgb(149,58,139),rgb(86,82,222)); /* Opera 11.1 - 12.0 */
        background: -moz-linear-gradient(right, rgb(149,58,139),rgb(86,82,222)); /* Firefox 3.6 - 15 */
        background: linear-gradient(to right, rgb(149,58,139),rgb(86,82,222)); /* 标准的语法（必须放在最后） */
      }
      .copywriting{
        margin-top: 10px;
        div{
          width: 70px;
        }
        div:nth-child(1){
          float: left;
          margin-left: 15px;
          background-image: -webkit-linear-gradient(bottom, rgb(149,58,139),rgb(86,82,222));
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        div:nth-child(2){
          float: right;
          color: rgb(153,153,153);
          margin-right: 15px;
        }
      }
    }
  }

  ion-item {
    height: 60px;
  }
}


