page-gc {

  ion-header ion-toolbar .toolbar-background,.toolbar-background-md,.toolbar-background-ios {
    background-color: $allBackColor;
  }

  ion-header{
    padding: 4px 20px;
  }

  .img-header-left{
    width: 4vmin;
    height: 4vmin;
  }

  .toolbar-title{
    color: white;
    letter-spacing: 0.5vmin;
    font-size: 1.5rem;
  }

  .button-header-right{
    font-size: 1.5rem;
    color: $masterColor;
  }

  ion-content.content {
    background-color: $allBackColor;
    color: #fff;
  }

  .grid {
    padding: 5px;
    .group{
      background-color: $secondColor;
    }
    .row {
      height: 50px;
      ion-checkbox {
        position: relative;
        margin: auto;
      }

      ion-avatar{
        border-radius: 50%;
        width: 36px;
        height: 36px;
        margin-right: 15px;
      }
      .label-ios{
        font-weight: bold;
        letter-spacing: 1px;
        span{
          font-weight: 100;
          margin-right: 30px;
          float: right;
        }
      }

    }
    .img-content-del{
      width: 12px;
      height: 12px;
    }
  }


  .scroll-content{
    overflow-x: unset;
    overflow-y: auto;
  }
}
