page-tdl {
  height: calc(100% - 65px);
  position: relative;
  display: block;

  .scroll-content {
    overflow-y: auto;
  }

  div {
    position: relative;
  }


  ion-grid.grid {
    padding: 0px;

    .row {
      padding: 4px 0 4px 0;
    }
  }



  .daynav {
    position: relative;
    width: 100%;

    .dayheader {
      width: 75px;
      height: 50px;
      float: left;
      padding: 4px;
      padding-top: 8px;

      .ym-fsize {
        font-size: 23px;
        font-family: Arial;
        font-weight: 400;
        line-height: 18px
      }

      .ys-fsize {
        font-size: 9px;
        font-weight: 300;
      }

      .d-fsize {
        font-size: 9px;
        font-weight: 300;
        line-height: 13px;
        float: right;
        right: 10px;
        width: 12px;
      }

    }

    .d-title {
      height: 50px;
      border-radius: 10px;
      float: left;
      width: 70%;
      display: inline-flex;

      .d-title-chr {
        line-height: 50px;
        margin-right: 15px;
      }

      .first {
        width: 50px;
        height: 50px;
        border-radius: 10px;
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 2px;
      }

    }
  }

  .dayagenda-content {
    position: relative;
    border-radius: 10px;
    width: 70%;
    margin-left: 75px;
    min-height: 84px;

    .agendaline1 {

      position: relative;
      display: block;
      margin-top:9px;
      .agenda-st {
        font-size: 12px;
        letter-spacing: 1px;
        width: 40px;
        float: left;
        margin-left: 12%;
        font-family:Arial;
        font-weight:400;
      }
      .dot-set {
        width: 5px;
        height: 5px;
        background-color: rgba(206,206,206,1);
        border-radius: 50%;
        margin: 4px auto;
        float: left;
      }

      .chip-ios {
        background-color: transparent;
        border-radius: 25px;
        height: 25px;
        font-size: 13px;
        line-height: 25px;
        margin: 2px 0;

        ion-avatar {
          width: 25px;
          height: 25px;
          min-width: 25px;
          min-height: 25px;
          margin: 0 auto;

        }
      }

      .chip-ios > ion-label {
        margin: 2px;
        font-size: 10px;
        color: $fontSecondColor;
      }

      .chip-ios > .newMessage {
        //font-weight: bold;
        color: $adornColor;
        //-webkit-box-shadow: 0px 0px 17px 3px $adornColor;
        //box-shadow: 1px 1px 1px 1px $adornColor;
      }

    }

    .agendaline2 {
      position: relative;
      display: block;
      height: 30px;
      margin-top: 15px;


      .agenda-icon {
        position: relative;
        width: 12%;
        text-align: center;
        height: 100%;
        float: left;
        .icon{
          width: 12px;
          height: 12px;
          margin: 2px auto;
          background-repeat: no-repeat;
          background-size: 100% 100%;
          -moz-background-size: 100% 100%;;
        }
      }

      .agenda-sn {
        position: relative;
        width: 80%;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 12px;
        letter-spacing: 1px;
        font-weight: 500;
        height:100%;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;/*显示几行*/
        overflow: hidden;
        line-height: 16px;
      }
    }


  }


  .header-set {
    background-color: $baseBackColor;
    height: 64px;
    padding: 0px;
    position: absolute;
    width: 75px;
    z-index: 10;
    text-align: center;
    box-shadow: 0px 0px 10px 0px $baseBackColor;
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);
    display: none;

    .headerY {
      font-size: 10px;
      color: white;
      letter-spacing: 0px;
      display: inline-block;
      float: left;
      margin-top: 10px;
      margin-left: 10px;
      color: $fontSecondColor;
    }

    .headerMD {
      margin: 5px auto;
      font-size: 14px;
      color: $fontMasterColor;
      letter-spacing: 1px;
      display: inline-block;
    }
  }

  .backdrop {
    position: fixed;
    width: 40px;
    height: 40px;
    background-color: $adornColor;
    top: 50%;
    border-radius: 40px;
    right: -20px;
    z-index: 10;

    img {
      width: 15px;
      margin: 10px;
      margin-left: 6px;
    }
  }

  .dayagenda-no-content{
    width: 100%;
    margin: 0 15px 0 15px;
    height: 34px;
    background:rgba(237,241,254,.05);
    box-shadow:0px 0px 10px 0px rgba(3,0,0,0.2);
    border-radius:10px;
    p{
      font-size: 11px;
      color: rgba(121,140,170,1);
      letter-spacing: 1px;
      line-height: 34px;
      margin: 0;
      margin-left:16px
    }
  }

  .dayagenda-none-display{
    display: none;
  }
  .dayagenda-display{
    display:block;
  }

  .dayagenda-week{
    width: 100%;
    margin: 0 15px 0 15px;
    height: 34px;
    background:rgba(237,241,254,.05);
    box-shadow:0px 0px 10px 0px rgba(3,0,0,0.2);
    border-radius:10px;
    p{
      font-size: 11px;
      color: rgba(121,140,170,1);
      letter-spacing: 1px;
      line-height: 34px;
      margin: 0;
      margin-left:16px
    }
  }
  .dayagenda-month{
    height: 85px;
    margin: 0 12px 0 12px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    display: inline-block;
    p{
      margin: 0;
      margin-left: 16px;
      margin-top: 20px;
    }
    p:first-child{
      font-size:21px;
      font-weight:400;
      color:rgba(235,239,250,1);
    }
    p:last-child{
      font-size:12px;
      font-family:Heiti SC;
      font-weight:300;
      color:rgba(235,239,250,1);
      margin-top: 7px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .month7{
    background-image: url("../assets/imgs/listicon/month_7_back.png");

  }
}

