page-tdl {
  ion-header{
    width: auto;
  }
  .back1 {
    background: $lsback1;
  }

  .back0 {
    background: $lsback0;
  }
  .none1{
    background:$lsnback1;

  }
  .none0{
    background: $lsnback0;
  }

  div {
    position: relative;
  }

  .w-auto {
    flex: 1;
  }


  .ym-fsize {
    font-size: 12px;
  }

  .ys-fsize {
    font-size: 10px;
    color: $adornColor;
  }

  .d-fsize {
    font-size: 12px;
  }

  ion-grid.grid {
    padding: 0px;
  }

  .dot-set {
    width: 5px;
    height: 5px;
    background-color: #fff;
    border-radius: 50%;
    margin: 7px 3px 7px 3px;
  }

  .daynav {
    position: relative;
    width: 75px;
    background-color: $baseBackColor;
    color: #fff;
  }

  .dayagendas {
    position: relative;
    color: #fff;
    padding: 0;
  }

  .text-center {
    text-align: center;
  }

  .dayagenda {
    min-height: 80px;
    max-height: 160px;
  }

  .dayagendacontent {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 25px 5px 5px 5px;
  }

  .agendaline1 {
    position: relative;
    font-size: 10px;
    letter-spacing: 1px;
    //margin-bottom: 5px;
    margin-right: 15px;
    color:$fontSecondColor;
    text-align: right;

    .chip-ios{
      background-color: transparent;
      border-radius: 25px;
      height: 25px;
      font-size: 13px;
      line-height: 25px;
      margin: 2px 0;
      ion-avatar{
        width: 25px;
        height: 25px;
        min-width: 25px;
        min-height: 25px;
        margin: 0 auto;

      }
    }
    .chip-ios > ion-label {
      margin: 2px;
      font-size: 10px;
      color: $fontSecondColor;
    }
    .chip-ios > .newMessage {
      //font-weight: bold;
      color:  $adornColor;
      //-webkit-box-shadow: 0px 0px 17px 3px $adornColor;
      //box-shadow: 1px 1px 1px 1px $adornColor;
    }

  }

  .agendaline2 {
    position: relative;
    margin-bottom: 5px;
  }

  .agenda-st {
    position: relative;
    font-size: 11px;
    color: #FFFFFF;
    letter-spacing: 1px;
    width: 40px;
    text-align: right;
    line-height: 20px;
  }

  .agenda-sn {
    position: relative;
    width: 75%;
    text-overflow: clip;
    font-size: 15px;
    margin-left: 3px;
    letter-spacing: 1px;
    font-weight: 500;
  }

  .header-set {
    background-color: $baseBackColor;
    height:64px;
    padding: 0px;
    position: absolute;
    width: 75px;
    z-index: 10;
    text-align: center;
    box-shadow: 0px 0px 10px 0px $baseBackColor;
    padding-top: constant(safe-area-inset-top);

    .headerY {
      font-size: 10px;
      color: white;
      letter-spacing: 0px;
      display: inline-block;
      float: left;
      margin-top: 10px;
      margin-left: 10px;
      color: $fontSecondColor;
    }
    .headerMD {
      margin: 5px auto;
      font-size: 14px;
      color: $fontMasterColor;
      letter-spacing: 1px;
      display: inline-block;
    }
  }

  .backdrop{
    position: fixed;
    width: 40px;
    height: 40px;
    background-color: $adornColor;
    top: 50%;
    border-radius: 40px;
    right: -20px;
    z-index:10;
    img {
      width: 15px;
      margin: 10px;
      margin-left: 6px;
    }
  }
  .agenda-none {
    font-size: 11px;
    color: $adornColor;
    letter-spacing: 1px;
    width: 40px;
    line-height: 20px;
  }


}

