page-pg {
  //.item-inner {
  //  border-bottom-color: transparent !important;
  //  box-shadow: none !important;
  //}

  .scroll-content {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
  }

  .item-inner{
    border-bottom: 0px !important;
  }

  .item-block.item-ios{
    border-bottom: 1px solid #e5e5e5 ;
  }

  ion-item{
    height: 80px;
  }

  ion-avatar img{
    height: 40px !important;
    width: 40px !important;
  }

  .scroll-content{
    overflow-x: auto;
    overflow-y: auto;
  }


}
