pointcomponent {
  .aitool {
    position: relative;
    display: block;
  }


  .speaking {
    cursor: pointer;
    width: $speakerSize;
    height: $speakerSize;
    position: fixed;
    top: $speakertop;
    left: $speakerleft;
    border-radius: 100%;
    animation: pulse 1.4s linear infinite;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .speaking:before {
    box-sizing: border-box;
    content: "";
    border-radius: 100%;
    animation: rotate 0.45s linear infinite;
    transition: opacity 1s ease 0.6s, border 0.4s ease 0s, width 0.4s ease 0.2s, height 0.4s ease 0.2s, margin 0.4s ease 0.2s;
    position: absolute;
    left: 50%;
    top: 50%;
    width: $speakerSize / 2;
    height: $speakerSize / 2;
    margin-left: $speakerSize * -1 / 4;
    margin-top: $speakerSize * -1 / 4;
    border-top: 1px solid #3583d7;
    border-bottom: 1px solid #3583d7;
    z-index: -1;
  }

  .speaking.danger {
    border-color: #3583d7;
    box-shadow: 0 0 23px 7px #3583d7;
    animation: none;
  }

  .speaking.danger:before {
    border-color: #3583d7;
    opacity: 0;
    width: 100px;
    height: 100px;
    margin-left: -50px;
    margin-top: -50px;
    z-index: -1
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 #17212b, 0 0 2px 3px #00aaff, 0 0 1px 20px #17212b, 0 0 20px 15px #00aaff;
    }
    49.9% {
      box-shadow: 0 0 1px 20px #17212b, 0 0 20px 15px #00aaff, 0 0 1px 32px #17212b, 0 0 30px 15px #00aaff;
    }
    50% {
      box-shadow: 0 0 0 0 #17212b, 0 0 2px 3px #00aaff, 0 0 1px 20px #17212b, 0 0 20px 15px #00aaff;
    }
    100% {
      box-shadow: 0 0 1px 20px #17212b, 0 0 20px 15px #00aaff, 0 0 1px 32px #17212b, 0 0 30px 15px #00aaff;
    }
  }

  canvas {

    background: -webkit-linear-gradient(right top, #843094 0%, #25134f 30%, #1b1148 60%, #1f2857 90%, #2b657b 100%); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right top, #843094 0%, #25134f 30%, #1b1148 60%, #1f2857 90%, #2b657b 100%); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right top,#843094 0%, #25134f 30%, #1b1148 60%, #1f2857 90%, #2b657b 100%); /* Firefox 3.6 - 15 */
    background: linear-gradient(right top, #843094 0%, #25134f 30%, #1b1148 60%, #1f2857 90%, #2b657b 100%);
    //#

    display: block;
    width: $canvasSize;
    height: $canvasSize;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: $canvastop;

  }


  .spinner, .spinner:before {
    position: fixed;
    width: $spinnerSize;
    height: $spinnerSize;
    top: $spinnertop;
    left: $spinnerleft;
    border-radius: 50%;
    z-index: -1;
  }

  .spinner:before {
    content: '';
    //  background-color: bindColors($background-color);
    background: -o-linear-gradient(right top, #2b657b 0%, #8556a0 500%, #a057b4 100%); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right top, #2b657b 0%, #8556a0 500%, #a057b4 100%); /* Firefox 3.6 - 15 */
    background: linear-gradient(right top, #2b657b 0%, #8556a0 500%, #a057b4 100%);
    background: -webkit-linear-gradient(right top, #2b657b 10%, #8556a0 40%, #a057b4 100%);

    //background: -webkit-linear-gradient(left, $spcColorf, $spcColort); /* Safari 5.1 - 6.0 */
    //background: -o-linear-gradient(right, $spcColorf, $spcColort); /* Opera 11.1 - 12.0 */
    //background: -moz-linear-gradient(right, $spcColorf, $spcColort); /* Firefox 3.6 - 15 */
    //background: linear-gradient(to right, $spcColorf, $spcColort); /* 标准的语法（必须放在最后） */

    animation: r 2s linear infinite;
  }

  .inputioc {
    position: fixed;
    width: $inputiocsize;
    height: $inputiocsize;
    top: $inputioctop;
    left: $inputiocleft;
    border-radius: 50%;

    img {
      width: $inputiocsize;
    }
  }

  @keyframes r {
    to {
      transform: rotate(1turn);
    }
  }


  .jsai{
    position: absolute;
    bottom: 100px;
    display: block;
    color: $adornColor;
    font-size: 18px;
    font-weight: bold;
    margin: 25px;
  }
}
