PointComponent {

  position: fixed;
  //top: $speakertop;
  //left: $speakerleft;
  width: 100%;
  height: 60px;
  top: 100%;
  z-index: 999;
  ListeningComponent{
    margin-top: -70px;
    width: 50%;
    position: fixed;
    right: 80px;
    canvas {
      display: block;
      margin: 0 auto;
      width: 100%;
      height: 50px;
    }

    canvas1 {

      background: -webkit-linear-gradient(right top, #843094 0%, #25134f 30%, #1b1148 60%, #1f2857 90%, #2b657b 100%); /* Safari 5.1 - 6.0 */
      background: -o-linear-gradient(right top, #843094 0%, #25134f 30%, #1b1148 60%, #1f2857 90%, #2b657b 100%); /* Opera 11.1 - 12.0 */
      background: -moz-linear-gradient(right top, #843094 0%, #25134f 30%, #1b1148 60%, #1f2857 90%, #2b657b 100%); /* Firefox 3.6 - 15 */
      background: linear-gradient(right top, #843094 0%, #25134f 30%, #1b1148 60%, #1f2857 90%, #2b657b 100%);
      //#

      display: block;
      width: $canvasSize;
      height: $canvasSize;
      border-radius: 50%;
      margin: $canvastop auto;
    }
  }

  .list-grid-content {
    .sn {
      -webkit-line-clamp: inherit;
      font-size: 1.2rem;
      text-align: left;
      border-bottom: 0.55px solid #ffc107;
    }
  }

  .aitool {
    position: relative;
    float: right;
    margin: -70px 20px;
  }


  .speaking {
    cursor: pointer;
    width: $spinnerSize;
    height: $spinnerSize;
    //position: fixed;
    top: $speakertop;
    left: $speakerleft;
    border-radius: 100%;
    animation: pulse 1.4s linear infinite;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 999;
    display: -webkit-box;
  }

  .speaking:before {
    box-sizing: border-box;
    content: "";
    border-radius: 100%;
    animation: rotate 0.45s linear infinite;
    transition: opacity 1s ease 0.6s, border 0.4s ease 0s, width 0.4s ease 0.2s, height 0.4s ease 0.2s, margin 0.4s ease 0.2s;
    //position: absolute;
    //left: 50%;
    //top: 50%;
    width: $speakerSize / 2;
    height: $speakerSize / 2;
    //margin-left: $speakerSize * -1 / 4;
    //margin-top: $speakerSize * -1 / 4;
    border-top: 1px solid #3583d7;
    border-bottom: 1px solid #3583d7;
  }

  .speaking.moving {
    border-color: #3583d7;
    box-shadow: 0 0 23px 7px #3583d7;
    animation: none;
    opacity: 0.8;
  }

  .speaking.moving:before {
    border-color: #3583d7;
    opacity: 0;
    width: $speakerSize * 1.5;
    height: $speakerSize * 1.5;
    //margin-left: $speakerSize / -2 * 1.5 ;
    //margin-top: $speakerSize / -2 * 1.5;
    z-index: -1;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 $spinnerBorder1, 0 0 2px 3px $spinnerBorder2, 0 0 1px 20px $spinnerBorder1, 0 0 20px 15px $spinnerBorder2;
    }
    49.9% {
      box-shadow: 0 0 1px 20px $spinnerBorder1, 0 0 20px 15px $spinnerBorder2, 0 0 1px 32px $spinnerBorder1, 0 0 30px 15px $spinnerBorder2;
    }
    50% {
      box-shadow: 0 0 0 0 $spinnerBorder1, 0 0 2px 3px $spinnerBorder2, 0 0 1px 20px $spinnerBorder1, 0 0 20px 15px $spinnerBorder2;
    }
    100% {
      box-shadow: 0 0 1px 20px $spinnerBorder1, 0 0 20px 15px $spinnerBorder2, 0 0 1px 32px $spinnerBorder1, 0 0 30px 15px $spinnerBorder2;
    }
  }




  .spinner {
    //position: fixed;
    width: $spinnerSize;
    height: $spinnerSize;
    top: $spinnertop;
    left: $spinnerleft;
    border-radius: 50%;
    //z-index: -1;
    background-image: url('../assets/imgs/logo2.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
  }

  .spinner:before {
    content: '';
    //  background-color: bindColors($background-color);
    background: -o-linear-gradient(right top, #2b657b 0%, #8556a0 500%, #a057b4 100%); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right top, #2b657b 0%, #8556a0 500%, #a057b4 100%); /* Firefox 3.6 - 15 */
    background: linear-gradient(right top, #2b657b 0%, #8556a0 500%, #a057b4 100%);
    background: -webkit-linear-gradient(right top, #2b657b 10%, #8556a0 40%, #a057b4 100%);

    //background: -webkit-linear-gradient(left, $spcColorf, $spcColort); /* Safari 5.1 - 6.0 */
    //background: -o-linear-gradient(right, $spcColorf, $spcColort); /* Opera 11.1 - 12.0 */
    //background: -moz-linear-gradient(right, $spcColorf, $spcColort); /* Firefox 3.6 - 15 */
    //background: linear-gradient(to right, $spcColorf, $spcColort); /* 标准的语法（必须放在最后） */

    animation: r 2s linear infinite;
  }

  .inputioc {
    //position: fixed;
    margin: -57px 20px;
    border-radius: 50%;
    text-align: center;
    background: rgba(53, 152, 176, 1);
    box-shadow: 0px 0px 10px 0px rgba(3, 0, 0, 0.2);
    width: $inputiocsize;
    height: $inputiocsize;
    text-align: center;
    float: left;

    ion-icon {
      font-size: 2rem;
      line-height: $inputiocsize;
      color: white;
    }
  }

  @keyframes r {
    to {
      transform: rotate(1turn);
    }
  }

  .angular-popper {
    width: calc(100% - 120px);
    transition: background-color 200ms linear;
    padding: 0;
    border-radius: 14px;
    .angular-popper__arrow {
      border-color: rgba(50,163,190,.5);
    }

    div[content] {
      //max-height: 400px;
    }
  }
  .showNot {
    display: none;
  }
}
.black-theme {
  PointComponent {
    .angular-popper {
      background:rgba(14,29,52,.95);
      box-shadow:0px 0px 10px 0px rgba(255,255,255,0.2);
    }
  }

}
.white-theme{
  PointComponent {
    .angular-popper {
      background-color: rgba(248, 248, 248, .95);
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    }
  }
}


