page-attach {
  ion-scroll{
    height: calc((100% - 0px) - 54px);
  }
  .list-grid-content{
    .topheader{
    }
    .sn{
      -webkit-line-clamp: inherit;

    }

    ion-thumbnail{
        max-height: 15rem;
    }
    .fa-file-pdf{
      font-size: 10rem;
    }
  }

  .inputwarp{
    .toolbar-ios{
      position: fixed;
      width: 100%;
      bottom: 0px;
      button {
        margin: 0px;
        font-weight: 400;
        height: 35px;
        width: 35px;
        border-radius: 100%;
        border-width: 0px;
        background:rgba(188,209,215,1);

        .button-inner {
          width: auto;
          text-align: left;
          color:rgba(7,109,138,1);
        }
      }
      ion-input{
        background-color: white;
        margin-left: 1rem;
        margin-right: 1rem;
        .text-input-ios {
          margin: 5px 8px;
          padding: 0;
        }
      }
    }

  }
  
}
.page-attach{
    .action-sheet-title{
      border-bottom:0;
      text-align: left;
      color:rgba(51,51,51,1);
      font-size: 1.6rem;
    }
  .action-sheet-button{
    width: 120px;
    padding-top: 20px;
    padding-bottom: 20px;

    padding-left: 35px;
    padding-right: 35px;
    border-bottom:0;
    font-size: 1.4rem;
    color:rgba(7,109,138,1);
    margin: 0 ;
    span{
      ion-icon{
        width: 45px;
        height: 45px;
        line-height: 45px;
        padding-right:0;
        border-radius: 100%;
        background:rgba(188,209,215,1);
        font-size: 3rem;
        margin-bottom: 5px;
      }
      display: block;
    }
  }
}

