page-attach {
  .dataWapper {
    height: calc((100% - 0px) - 50px) !important;
  }

  .grid {
    //min-height: 110%;
    flex-direction: column-reverse;
  }

  .pulldown-wrapper {
    position: absolute;
    width: 100%;
    left: 0;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all;
    transition: all;
  }

  .list-grid-content {
    min-height:0px;
    .self {
      display: inline-flex;
      flex: 1;
      //text-align: right;
      flex-flow: row-reverse;
    }

    .other {
      float: left;
      display: inline-flex;
      flex: 1;
      //text-align: left;
      //flex-flow: row-reverse;
    }

    .st {
      flex: 1;
      text-align: center;
    }

    .icon-font-siza {
      font-size: 10rem !important;
    }

    .item-content {
      .borderback {
        padding: 1rem;
        border-radius: 10px;
      }

      .attcomment {
        flex: 1;
        width: 100%;
      }

      .sn {
        display: -webkit-box;
        max-width: 80%;
        -webkit-line-clamp: inherit;
      }

      ion-thumbnail {
        text-align: center;

        img {
          display: inline-block;
          max-width: 120px;
          max-height: 120px;
          height: 120px;
        }
      }

      .selfattcomment {
        float: right;
        flex-flow: row-reverse;

        .sn {
          float: right;
        }

        ion-thumbnail {
          text-align: right;
        }

        .borderback {
        }

      }

      .otherwarpattcomment {
        float: left;

        .sn {
          float: left;
        }

        ion-thumbnail {
          text-align: left;
        }

        .borderback {
        }
      }


    }
  }

  .inputwarp {
    padding: 0px 1rem;
    .toolbar-ios {
      //position: fixed;
      //width: 100%;
      //bottom: 0px;
      .toolbar-background-ios{
        border-color:transparent;
      }


      ion-input {
        background-color: white;
        margin-left: 1rem;
        margin-right: 1rem;
        border-radius:20px;
        width: auto;
        height: 40px;
        background-color: transparent;
        .text-input-ios {
          margin: 10px 16px;
          padding: 0;
          width: calc(100% - 90px);
          font-size: 1.4rem;
          line-height: 2rem;
          background-color: transparent;
        }
      }

      ion-buttons[end]{
        position: absolute;
        right: 18px;
        button:first-child{
          margin-right: 10px;
        }
        button {
          margin: 0px;
          height: 25px;
          width: 25px;
          border-radius: 100%;
          border-width: 0px;

          .button-inner {
            width: auto;
            text-align: left;
          }
        }
      }
    }

  }
}

.white-theme {
  page-attach {
    .list-grid-content {
      .item-content {
        box-shadow: none;

        .st {
          background: transparent;
          color: rgba(51,51,51,1);
        }

        .selfattcomment {
          .borderback {
            background: rgba(217, 233, 238, 1);
          }
        }

        .otherwarpattcomment {

          .borderback {
            background: rgba(248, 248, 248, 1);
          }
        }
      }
    }



    .inputwarp {
      .toolbar-ios {
        .toolbar-background-ios{
          background:linear-gradient(180deg,rgba(237,249,251,1) 0%,rgba(255,255,255,1) 100%);
        }
        ion-input {
          border:1px solid rgba(183,213,220,1);
          background-color: transparent;
          .text-input-ios {
            color:rgba(51,51,51,1);
            background-color: transparent;
          }
        }

        ion-buttons[end]{
          button:first-child{
            background-color: #B8E1EA;
            color: rgba(255,255,255,1);
          }

          button {
            background-color: #4BACD5;
            color: rgba(255,255,255,1);
          }

        }
      }
    }
  }
}



.black-theme {
  page-attach {
    .list-grid-content {
      .item-content {
        box-shadow: none;

        .st {
          background: transparent;
          color: rgba(121,140,170,1);
        }

        .selfattcomment {
          .borderback {
            background:rgba(16,31,55,1);
          }
        }

        .otherwarpattcomment {

          .borderback {
            background:rgba(23,41,67,1);
            box-shadow:0px 0px 5px 0px rgba(12,12,12,0.73);
          }
        }


      }
    }


    .inputwarp {
      .toolbar-ios {
        .toolbar-background-ios{
          background:linear-gradient(180deg,rgba(16,31,55,1) 0%,rgba(16,31,55,0) 100% );
        }
        ion-input {
          border:1px solid rgba(31,51,80,1);
          background-color: transparent;
          .text-input-ios {
            color:rgba(255,255,255,1);
            background-color: transparent;
          }
        }

        ion-buttons[end]{
          button:first-child{
            background-color: #4D7B85;
            color: rgba(16,31,55,1);
          }
          button {
            background-color: #4BACD5;
            color: rgba(16,31,55,1);
          }

        }
      }
    }
  }
}
