page-user-login {
  .user_login{
    $login_foot_height: 60px;
    $login_body_height:calc(100vh - 60px);

    background-color: #fff;
    .login_body{
      height: $login_body_height;
      $login_icon_height:30%;
      .login_icon{
        height: $login_icon_height;
        //margin-top: $login_icon_height/2;
      }
      .login_info{

      }
    }
    .login_foot{
      height: $login_foot_height;
    }
  }
  .custom_form{
    padding: 0 10px;
    .custom_group{
      padding: 0 10px;
      margin-bottom: 25px;
      .group_input{
        margin-right: 16px;
      }
      .login_button{
        border-radius: 25px;
        background: -webkit-linear-gradient(left, #b729ff, #382cea); /* Safari 5.1 - 6.0 */
        background: -o-linear-gradient(right, #b729ff, #382cea); /* Opera 11.1 - 12.0 */
        background: -moz-linear-gradient(right, #b729ff, #382cea); /* Firefox 3.6 - 15 */
        background: linear-gradient(to right, #b729ff, #382cea); /* 标准的语法（必须放在最后） */
      }
    }
  }
}


