[Unit]
Description=Short Application NTT Service
[Service]
User=root
# The configuration file application.properties should be here:
#change this to your workspace
WorkingDirectory=/opt/duan/ntt
#path to executable. 
#executable is a bash script which calls jar file
ExecStart=/opt/duan/ntt/startup.sh
ExecReload=/opt/duan/ntt/startup.sh
ExecStop=/opt/duan/ntt/stop.sh
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5
[Install]
WantedBy=multi-user.target
