page-at {

  ion-content.content,.toolbar-background-ios {
    background: rgba(12, 24, 42, 1);
    box-shadow: 0px 0px 5px 0px rgba(153, 153, 153, 0.28);
    color: rgba(255,255,255,1)
  }

  .img-logo {
    width: 30vmin;
    height: 30vmin;
    border-radius: 50%;
  }

  h3.app-description {
    font-size: 18px;
    letter-spacing: 1px;
  }
  span{
    min-height: 20px;
  }

  ion-header{
    background: rgba(12, 24, 42, 1);
    padding: 4px 20px;
  }

  .toolbar-title{
    color: white;
    font-size: 1.5rem;
  }
  .bar-button-ios[icon-only] ion-icon{
    font-size: 1.5rem;
    color: white;
  }

}
