page-at {

  ion-content.content {
    background-color: $baseBackcolor_black;
    color: #fff;
  }

  .img-logo {
    width: 30vmin;
    height: 30vmin;
    border-radius: 50%;
  }

  h3.app-description {
    font-size: 18px;
    letter-spacing: 1px;
  }

  ion-header{
    padding: 4px 20px;
  }

  ion-footer ion-toolbar .toolbar-background,.toolbar-background-md,.toolbar-background-ios {
    background-color: $baseBackcolor_black;
  }

  ion-footer {
    padding: 4px 20px;
  }

  .toolbar-title{
    color: white;
    font-size: 1.5rem;
  }
  .bar-button-ios[icon-only] ion-icon{
    font-size: 1.5rem;
    color: white;
  }

}
