scroll-select, scroll-select-option {
  width: 100vmin;
  position: relative;

  .img-btn {
    background-color: transparent;
  }

  .slide-btn {
    height: 6.8vmin;
    width: 1.2vmin;
  }

  div.option {
    position: relative;
    width: 100vmin;
    text-align: center;
  }

  div.option.option-3 {
    width: calc(100vmin / 3);
  }

  div.option.option-5 {
    width: calc(100vmin / 5);
  }

  div.option.option-7 {
    width: calc(100vmin / 7);
  }

  div.selected-circle {
    top: calc(-3.5vmin - 3px);
    left: calc((100vmin - 14vmin) / 2 - 27px);
    position: absolute;
    display: flex;
    justify-content: center;
  }

  div.selected-circle > div {
    height: 14vmin;
    width: 14vmin;
    background-color: #000;
    border: solid 2px #fff;
    border-radius: 50%;
  }

  .scroll-box {
    flex: 1;
    height: 6.8vmin;
    position: relative;
  }

  .scroll-box-content {
    overflow-x: auto;
    overflow-y: hidden;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    display: flex;
    -webkit-overflow-scrolling: touch;
    will-change: scroll-position;
    contain: size style layout;
    z-index: 2;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .scroll-box.scroll-without-button .scroll-box-zoom-wrapper {
    margin: 0 -27px;
  }

  .scroll-box-zoom-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    float: left;
    margin: 0 -43.5px;
    overflow: hidden;
  }
}
