page-ps {
  .scroll-content {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
  }

  .item-inner{
    border-bottom: 0px !important;
  }

  .item-block {
    border-bottom: 1px solid #545454 ;
    background-color: #000;
    color:#FFF;
    width: 94%;
    margin-left: 3%;
  }

  .rowCss{
    height: 55px;
  }

  @font-face {
    font-family: 'PingFang-Regular';
    src: url('../../assets/fonts/PingFang Regular.ttf');
  }

  ion-content {
    font-family: "PingFang-Regular";
  }

  ion-header ion-toolbar .toolbar-background,.toolbar-background-md,.toolbar-background-ios {
    background-color: #000;
  }
  ion-header {
    top: 10px;
  }
  ion-content.content {
    background-color: #000;
    color: #fff;
  }

  ion-content .plan-list-item {
    background-color: #000;
    color: #fff;
  }

  ion-list-header.plan-list-item {
    color: rgb(153,153,153);
  }
  ion-item {
    height: 60px;
  }
  .color-dot {
    width: 2vmin;
    height: 2vmin;
    background-color: #fff;
    border-radius: 50%;
  }

  .color-pink {
    background-color: rgb(192,119,219);
  }

  .color-blue {
    background-color: rgb(81,170,242);
  }

  .w-auto {
    flex: 1;
  }

  .grid .row {
    height: 100%;
  }

  .list {
    width: 100%;
  }

  .list-header, .list-header-md, .list-header-ios {
    border: 0;
  }
  .toolbar-title-ios{
    color:#ffffff;
  }

  .img-header-left{
    width: 4vmin;
    height: 4vmin;
    margin-left: 5vmin;
  }

  .toolbar-title{
    color: white;
    letter-spacing: 0.5vmin;
    font-size: 1.5rem;
  }

  .bar-button-ios{
    font-size: 1.3rem;
  }

  .img-delete{
    width: 4vmin;
    height: 4vmin;
  }
}
