page-ps {
  .scroll-content {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .item-inner{
    border-bottom: 0px !important;
  }

  .item-block {
    border-bottom: 1px solid #545454 ;
    background-color: #000;
    color:#FFF;
    width: 94%;
    margin-left: 3%;
  }

  background-color: #000;

  ion-header ion-toolbar .toolbar-background,.toolbar-background-md,.toolbar-background-ios {
    background-color: #000;
  }

  ion-content.content {
    background-color: #000;
    color: #fff;
  }

  ion-content .plan-list-item {
    background-color: #000;
    color: #fff;
  }

  ion-list-header.plan-list-item {
    color: rgb(153,153,153);
  }

  ion-item {
    height: 60px;
  }

  .w-auto {
    flex: 1;
  }

  .grid .row {
    height: 100%;
  }

  .list {
    width: 100%;
  }

  .list-header, .list-header-md, .list-header-ios {
    border: 0;
  }

  .img-header-left{
    width: 4vmin;
    height: 4vmin;
    margin-left: 5vmin;
  }

  .bar-button-ios{
    font-size: 1.3rem;
  }

  ion-list{
    padding-top: 50px;
  }

  .list-ios > .item-block:nth-child(1),
  .list-ios > .item-block:nth-child(2),
  .list-ios > .item-block:nth-child(3){
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.3);
  }

  .list-ios > .item-block:nth-child(2){
    border-top:none;
  }

  .list-ios > .item-block:first-child{
    border-top:none;
  }

  .list-ios > .item-block:last-child {
    border: none;
  }
}
