page-box {
  .box-page {
    height: calc(100vmax - 32px);
    background-color: #f1f1f1;
  }

  .box-header {
    height: 20vmax;
  }

  .box-content {
    height: calc(100vmax - 20vmax - 32px);
    background-color: #fafafa;

    ion-scroll {
      width: 100%;
    }
  }
}
