page-box {
  .box-page {
    height: calc(100vmax - 32px);
    background-color: #e1e1e1;
  }

  .box-header {
    height: calc(20vmax);

    h1 {
      position: absolute;
      left: 26px;
      bottom: 80vmax;
    }

    button {
      position: absolute;
      right: 26px;
      bottom: 80vmax;
    }
  }

  .box-content {
    height: calc(100vmax - 20vmax - 32px);
    background-color: #fafafa;

    ion-scroll {
      width: calc(100vmin - 32px);
      height: calc(80vmax - 64px);
      position: absolute;
      bottom: 32px !important;

      &> .scroll-content {
        padding: 0 0 0 0 !important;
      }
    }
  }
}
