<!--
  Generated template for the UserForgetPasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>user-forget-password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="register_body">
    <div class="custom_form">
      <div class="custom_group">
        <div class="group_input">
          <div class="input_icon">
              <span>
                 <ion-icon name="ios-person-outline"></ion-icon>
              </span>
          </div>
          <div class="input_text">
            <ion-item>
              <ion-input type="number" [(ngModel)]="accountMobile"  (ionBlur)="checkPhone()"  clearInput=true placeholder="输入您的手机号">
              </ion-input>
            </ion-item>
          </div>
        </div>
        <div>
          <div>
            <!--*ngIf="true" -->
            <div class="error_info">
              <span *ngIf="this.checkMoblieNull">手机号不能为空</span>
              <span *ngIf="this.checkMoblie">请输入正确11位手机号</span>
            </div>
          </div>
        </div>
      </div>
      <div class="custom_group verification">
        <div class="group_input ">
          <div class="verification_icon">
            <span class="img_span">
              <img src="./assets/imgs/verification.png"/>
            </span>
          </div>
          <div class="input_text_verification">
            <div class="verification_item">
              <ion-item>
                <ion-input type="text" [(ngModel)]="authCode" placeholder="验证码"></ion-input>
              </ion-item>
            </div>
            <div class="button_verification">
              <button ion-button>发送验证码</button>
            </div>
          </div>
        </div>
      </div>
      <div >
        <div >
          <!--*ngIf="true" -->
          <div class="error_info">
          </div>
        </div>
      </div>
      <div class="custom_group">
      <div class="group_input">
        <div class="input_icon">
            <span>
              <ion-icon name="ios-lock-outline"></ion-icon>
            </span>
        </div>
        <div class="input_text">
          <ion-item>
            <ion-input type="text" [(ngModel)]="accountPassword" (ionBlur)="checkPwd()" placeholder="密码"></ion-input>
          </ion-item>
        </div>
        <div >
          <div >
            <!--*ngIf="true" -->
            <div class="error_info">
              <span *ngIf="this.checkPassword">请输入密码</span>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="custom_group">
        <div class="group_input">
          <div class="input_icon">
            <span>
              <ion-icon name="ios-lock-outline"></ion-icon>
            </span>
          </div>
          <div class="input_text">
            <ion-item>
              <ion-input type="text" [(ngModel)]="accountPassword" (ionBlur)="checkPwd()" placeholder="再次确认密码"></ion-input>
            </ion-item>
          </div>
          <div >
            <div >
              <!--*ngIf="true" -->
              <div class="error_info">
                <span *ngIf="this.checkPassword">请输入密码</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="custom_group padding_0">
        <button ion-button block color="danger" (click)="register()" class="region_button">
          完成
        </button>

      </div>
    </div>
  </div>
