<!--
  Generated template for the GroupListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title style="text-align: center">参与人列表<button style="position: absolute;left:85%;padding-top: 5px;font-size: 18px;background-color: transparent;" (click)="addORedit()">添加</button></ion-title>

  </ion-navbar>

</ion-header>


<ion-content padding>


  <!--<div *ngIf="true; else elseBlock">-->
  <p style="text-align: center">----------群组----------</p>
    <div *ngFor="let item1 of data22[0].qunzu.groupList">
      <button class="row" style="width: 100%;background-color: #ffffff;" (click)="xiangqing(item1)">
        <div class="p2div">
          <p>{{item1.groupName}}</p>
        </div>
        <div class="biaoqian" *ngFor="let item2 of item1.groupLabel">
          <p>{{item2.labelName}}</p>
        </div>
      </button>
    </div>
  <p style="text-align: center">----------个人----------</p>
    <div *ngFor="let item of data22[1].qunzu.groupList">
      <button style="width: 100%;background-color: #ffffff;" (click)="gerenxiangqing(item)">
        <div class="row" *ngFor="let item2 of item.groupLabel">
          <p class="p2div">{{item2.groupName}}</p>
          <p>{{item2.userContact}}</p>
        </div>
      </button>
    </div>
  <!--</div>-->



  <!--<ng-template #elseBlock>-->
    <!--<div *ngFor="let item1 of data22[1].qunzu.groupList">-->
      <!--<button style="width: 100%;background-color: #ffffff;" (click)="xiangqing(item1)">-->
        <!--<div class="row" *ngFor="let item2 of item1.groupLabel">-->
          <!--<p class="p2div">{{item2.userName}}</p>-->
          <!--<p>{{item2.userContact}}</p>-->
        <!--</div>-->
      <!--</button>-->
    <!--</div>-->
  <!--</ng-template>-->

</ion-content>
