page-group-list {
  .row{
    flex-direction: row;
    border:1px solid #a1a1a1;
    padding:10px 15px;
    margin-bottom: 10px;
  }
  .biaoqian{
    border:1px solid #a1a1a1;
    border-radius:10px;
    text-align: center;
    width: 18%;
    margin-left: 5%;
  }
  .p2div{
    width: 20%;
  }
}
