page-gl {
  @font-face {
    font-family: 'PingFang-Regular';
    src: url('../../assets/fonts/PingFang Regular.ttf');
  }
  ion-content {
    font-family: "PingFang-Regular";
  }

  ion-header ion-toolbar .toolbar-background, .toolbar-background-md, .toolbar-background-ios {
    background-color: #000;
  }

  ion-header {
    top: 10px;
  }

  .img-header-left{
    width: 4vmin;
    height: 4vmin;
    margin-left: 5vmin;
  }

  .img-header-right{
    width: 4vmin;
    height: 4vmin;
  }

  ion-content.content {
    background-color: #000;
    color: #fff;
  }

  ion-content .plan-list-item {
    background-color: #000;
    color: #fff;
  }

  ion-list-header.plan-list-item {
    color: rgb(153, 153, 153);
  }

  .w-auto {
    flex: 1;
  }

  .grid .row {
    height: 100%;
  }

  .list {
    width: 100%;
  }

  .list-header, .list-header-md, .list-header-ios {
    border: 0;
  }

  .toolbar-title-ios {
    color: #ffffff;
  }

  .scroll-content{
    overflow-x: auto;
    overflow-y: auto;
  }

  .toolbar-title{
    color: white;
    letter-spacing: 3px;
    //font-size: 1.5rem;
  }

  .bar-button-ios{
    font-size: 1.3rem;
  }

  .item-block{
    height: 35px;
  }

  .content-gc{
    width: 12px;
    height: 15px;
  }

  ion-item ion-label{
    font-size: 1.5rem;
  }

}
.gl-alert-top .alert-button{
  margin: 0;
  margin-top: 20px;
  border-top: 0px solid #dbdbdf;

}

.gl-alert-top .alert-wrapper{
  margin-top: 40%;
}

.gl-alert-button {
  background-image: url(../../assets/imgs/gl_addGroup.png);
  background-repeat: no-repeat;
  background-position: top;
}
