page-remind {
  .content-gc{
    width: 12px;
    height: 15px;
    background-color: red;
  }
  .remind-list {
    position: absolute;
    width: 100%;
    height: 260px;
    z-index: 13;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: inherit;
    overflow: hidden;
    overflow-y: auto;
    background-color: $masterColor;

    .item-block {
      min-height: 3rem;
      background-color: $masterColor;
      color: $fontMasterColor;

      ion-label {
        font-size: 1.5rem;
      }
    }

    .color-dot {
      width: 2vmin;
      height: 2vmin;
      background-color: #fff;
      border-radius: 50%;
      margin-top: -20px;
    }
  }
}
