page-m {
  background-repeat: no-repeat;
  background-size: 100% 100%;

  .menu {
    ion-backdrop{
      display: block;
      background-color: rgba(248, 248, 248,1);
    }
    .grid {
      padding-top: 30%;
      .row:first-child{
        display: inline-block;
      }

      .row {
        margin-left: 10%;

        h1 {
          font-size: 26px;
          display: block;
          margin-top:1.2rem;
        }


        h3 {
          font-size: 18px;
          letter-spacing: 1px;
          margin-top:1.2rem;
        }
        h4{
          font-size: 16px;
          display: block;
          clear: both;
          margin-top:1.2rem;
        }

      }
    }
  }

}
.black-theme{
  page-m {
    //background-image: url('../assets/imgs/m-backgroud-black.jpg');
    .menu {
      background: rgba(13, 24, 42,.4);

      .grid {
        .row {
          color: rgba(235, 239, 250, 1);

          h1, h4 {
            color: rgba(73, 152, 188, 1);
          }


        }
      }
    }
  }
}

.white-theme{
  page-m {
    //background-image: url('../assets/imgs/m-backgroud-white.jpg');
    .menu {

      .grid {
        .row {
          color: rgba(51, 51, 51, 1);

        }

        h1, h4 {
          color: rgba(73, 152, 188, 1);
        }
      }
    }
  }
}

