page-location {
  .mapwrap{
    width: auto;
    margin: 7px 7px;
    height: 88%;
    border: 0.55px #3A3A3A dotted;
    baidu-map{
      width:98%;
      height: 98%;
      .baidu-map-instance[_ngcontent-c0]{
        background:rgba(255,255,255,1);
        box-shadow:2.5px 1.5px 10px 0px rgba(58,58,58,0.73);
        border-radius:4px 4px 0px 0px;
        width: 96%;
        height: 96%;
        margin: 2%;

      }
    }
  }

  ion-auto-complete{
    width: 100%;
    ul{
      background: #FFF;
      width: 100%;
      left:0px;
      li{
        margin: 7px 18px;
        padding: 8px;
        border-bottom: 0.55px solid  rgba(174,174,174,1);
        font-size: 14px;
      }

    }
    .searchbar-input-container{
      margin: 0 14px;
      border-bottom: 0.55px solid  rgba(174,174,174,1);
    }
    .searchbar-ios{
      border-bottom: none;
      .searchbar-search-icon{
        width: 16px;
        height: 16px;
        background-size: 16px;
      }
      .searchbar-input{
         font-size: 16px;
         font-weight:400;
       }
    }
  }

  img {
    max-width: inherit;
  }
/*  ion-searchbar {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 999;
  }*/

  .searchbar-ios {
    background-color: transparent;
  }

  baidu-map {
    width: 100vmin;
    height: 100vmax;

    .anchorBL {
      display: none;
    }
  }

  .fab-ios {
    background-color: $lsback1;
  }

  .fab-ios.activated {
    background-color: $activatedColor;
  }

  .fab ion-icon {
    font-size: 4.4rem;
  }
  .c-searchbar{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 999;
    display: inline-flex;
    background-color: white;
    border-radius: 2px;
  }
  .searchbutton{
    width: 39px;
    height: 31px;
  }
  .div-mapresult {
    .mark-list{
      position: absolute;
      width: 100%;
      height: 260px;
      z-index: 13;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      display: inherit;
      overflow: hidden;
      overflow-y: auto;
      background-color: $masterColor;

      .item-block {
        min-height: 3rem;
        background-color: $masterColor;
        color: $fontMasterColor;

        ion-label {
          font-size: 1.5rem;
        }
      }

      .color-dot {
        width: 2vmin;
        height: 2vmin;
        background-color: #fff;
        border-radius: 50%;
        margin-top: -20px;
      }
    }

    .shade {
      position: absolute;
      top: 0%;
      left: 0%;
      width: 100%;
      height: 100%;
      background-color: black;
      z-index: 12;
      -moz-opacity: 0.3;
      opacity: .30;
      filter: alpha(opacity=30);
    }
    .input-wrapper{
      display: inline;
    }

  }

}
