<!--
  Generated template for the PfPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>新建 </ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="more()">
        更多
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<!--个人添加新建搜索 -->
<ion-content padding class="page-backgroud-color">
  <div >

    <div style="margin: 20px 0px;">
      <ion-item style="height: 50px">
        <ion-input type="tel" [(ngModel)]="tel" (input)="getContacts()"  placeholder="请输入手机号" clearInput></ion-input>
      </ion-item>
    </div>

    <ion-label *ngIf="contacts.length > 0">本地联系人</ion-label>
    <div *ngFor="let contact of contacts">
      <ion-item (click)="select(contact)">
        <ion-avatar item-start>
          <img src="./assets/imgs/headImg.jpg">
        </ion-avatar>
          <h2>{{contact.phoneNumbers[0].value}}</h2>
          <p style="">{{contact.displayName}}</p>
        <div item-end>
          <!--<span *ngIf="existCode == 1" style="color: red">已添加</span>-->
          <!--<span *ngIf="existCode == 2" style="color: #488aff">添加</span>-->
          <!--<span *ngIf="existCode == 3">未注册</span>-->
        </div>
      </ion-item>
    </div>

    <div margin-top>
      <span style="width: 100%; text-align: center;display: block;padding-bottom: 20px; color: rgb(153,153,153);" *ngIf="checkMobile == false && checkMobileNull == false && isRegist == false">
        该用户未注册
      </span>
      <span style="width: 100%; text-align: center;display: block;padding-bottom: 20px; color: rgb(153,153,153);" *ngIf="errorCode ==1">
          手机号错误
      </span>
    </div>

    <div *ngIf="checkMobile == false && checkMobileNull == false ">
      <!--<ion-list>-->
      <!--<ion-item>-->
      <!--<div item-start>-->
      <!--<img src="http://file03.sg560.com/upimg01/2017/01/932752/Title/0818021950826060932752.jpg" width="60px" height="60px" style="border-radius: 50px;border-bottom: 0px">-->
      <!--</div>-->
      <!--<div>-->
      <!--<span>{{name}}</span>-->
      <!--</div>-->
      <!--<div item-end (click)="toPersonalAddDetail()">-->
      <!--<span *ngIf="isRegist == true">添加</span>-->
      <!--<span *ngIf="isRegist == false">未注册</span>-->
      <!--</div>-->
      <!--</ion-item>-->
      <!--<div *ngFor="let index of sr">-->
        <ion-item *ngIf="ru">
          <ion-avatar item-start>
            <img [src]="ru.hiu">
          </ion-avatar>
          <ion-label>
            <span style="font-family: PingFang-SC-Bold">{{ru.rN}}</span>
          </ion-label>
          <div item-end (click)="toPersonalAddDetail(ru)">
            <span *ngIf="existCode == 1" style="color: red">已添加</span>
            <span *ngIf="existCode == 2" style="color: #488aff">添加</span>
            <span *ngIf="existCode == 3">未注册</span>
          </div>
        </ion-item>
      <!--</div>-->
      <!--</ion-list>-->
    </div>
  </div>


</ion-content>
