page-pf {
  .scroll-content {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;

  }

  .item-ios.item-block:first-child .item-inner {
    border-bottom-color: transparent !important;
    box-shadow: none !important;
  }

  .item-ios.item-block:last-child .item-inner {
    border-bottom-color: transparent !important;
    box-shadow: none !important;
  }
}
