corner-badge {
  position: absolute;
  width: 45px;
  height: 25px;
  top: -12px;
  right: -20px;
  border-radius: 100%;
  background-color: white;
  font-size: 0.9rem;
  text-align: left;
  p{
    width: 22px;
    text-align: center;
    color:rgba(255,255,255,1);
    margin-block-start:15px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-left: 2px;
  }
}

corner-badge {
  position: absolute;
  width: 45px;
  height: 25px;
  top: -12px;
  right: -20px;
  border-radius: 100%;
  background-color: white;
  font-size: 0.9rem;
  text-align: left;
  p{
    width: 22px;
    text-align: center;
    color:rgba(255,255,255,1);
    margin-block-start:15px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-left: 2px;
  }
}

