//全局页面背景
$baseBackcolor_black: rgba(0, 12, 31, 1);

.black-theme {

  .haContent {
    ion-calendar {
      box-shadow: 0px 0px 5px 0px rgba(3, 0, 0, 0.2);
      ion-card-header {
        background: rgba(0, 53, 66, 1);;
        border-bottom: 1px rgba(30, 69, 89, 1) solid;

        .title {
          p {
            color: rgba(201, 242, 252, 1);
          }
        }

        .thisM {
          color: rgba(201, 242, 252, 1);
        }


      }

      ion-card-content {
        background: rgba(0, 53, 66, 1);;

        ion-calendar-week {
          .week-title li {
            color: rgba(75, 107, 115, 1);
          }
        }

        .yearshow {
          color: rgba(13, 112, 136, 0.08);
        }

      }
    }

    ion-calendar-month {
      .days {
        p {
          color: rgba(235, 239, 250, 1);
        }

        .last-month-day p, .next-month-day p {
          color: rgba(47, 78, 86, 1);
        }

        small {
          color: rgba(73, 110, 119, 1);
        }

        .on-selected {
          border: 1px rgba(19, 72, 75, 1) solid;
        }

        .today {
          //color: -webkit-linear-gradient(left, $spcColorf, $spcColort); /* Safari 5.1 - 6.0 */
          //color: -o-linear-gradient(right, $spcColorf, $spcColort); /* Opera 11.1 - 12.0 */
          //color: -moz-linear-gradient(right, $spcColorf, $spcColort); /* Firefox 3.6 - 15 */
          //color: linear-gradient(to right, $spcColorf, $spcColort); /* 标准的语法（必须放在最后） */
          p{
            font-weight: bold;
          }

        }

      }
    }
  }


  .list-contont {
    //月份表示列表
    .list-dayagenda-month {
      .month-a {
        //color: rgba(235, 239, 250, 1);
      }

      .month-b {
        //color: rgba(235, 239, 250, 1);
      }


    }

    //列表一周
    .list-dayagenda-week {
      background: rgba(237, 241, 254, .05);
      box-shadow: 0px 0px 5px 0px rgba(3, 0, 0, 0.2);

      p {
        color: rgba(121, 140, 170, 1);
      }
    }

    //列表每天头部
    .list-dayagenda-nav {
      .dayheader {

        .ym-fsize {
          color: rgba(235, 239, 250, 1)
        }

        .ys-fsize {
          color: rgba(204, 204, 204, 1)
        }

        .d-fsize {
          color: rgba(73, 152, 188, 1);
        }

      }

      .d-title {
        background: rgba(237, 241, 254, .1);
        box-shadow: 0px 0px 5px 0px rgba(3, 0, 0, 0.2);


        .d-title-chr {
          color: #556E99;

          span {
            color: rgba(235, 239, 250, 1);
          }

          .daycoment {
            color: rgba(73, 152, 188, 1);
          }
        }

        .first {
          background: rgba(237, 241, 254, .05);
          box-shadow: 0px 0px 5px 0px rgba(3, 0, 0, 0.2);
          color: rgba(235, 239, 250, 1);
        }

        .last {
        }
      }
    }


    //列表每一个日程
    .list-todolist-content {

      background: rgba(237, 241, 254, 0.05);
      box-shadow: 0px 0px 5px 0px rgba(3, 0, 0, 0.2);

      .agendaline {
        .agenda-tool {
          .icon {
            color: rgba(255, 255, 255, 1);
          }
        }

        .agenda-sn {
          color: rgba(255, 255, 255, 1);

        }

        .agenda-st {
          color: rgba(153, 152, 152, 1);
        }

        .agenda-person {
          color: rgba(57, 70, 93, 1);
        }

        .dot-set {
          background-color: rgba(206, 206, 206, 1);

        }

      }
    }

    //列表每一个日程
    .list-dayagenda-content {

      background: rgba(237, 241, 254, 0.05);
      box-shadow: 0px 0px 5px 0px rgba(3, 0, 0, 0.2);

      .agendaline {
        .agenda-sn {
          color: rgba(255, 255, 255, 1);

        }

        .agenda-st {
          color: rgba(153, 152, 152, 1);
        }

        .agenda-person {
          color: rgba(57, 70, 93, 1);
        }

        .dot-set {
          background-color: rgba(206, 206, 206, 1);

        }

      }
    }

    //没有日程
    .dayagenda-no-content {
      background: rgba(237, 241, 254, .05);
      box-shadow: 0px 0px 5px 0px rgba(3, 0, 0, 0.2);

      p {
        color: rgba(121, 140, 170, 1);
      }
    }
  }

  page-box {
    .box-header {
      ion-toolbar {
        ion-title {
          .toolbar-title {
            color: rgba(235, 239, 250, 1);
          }


        }

        .icon {
          color: rgba(235, 239, 250, 1);
        }
      }
    }

    .box-content {
      .fixed-content {
        background-color: rgba(255, 255, 255, .05);
        box-shadow: 5px 3px 5px 0px rgba(0, 12, 31, 0.73);
      }
    }
  }


  page-tdl {
    background: $baseBackcolor_black;
  }

  page-h {
    background: $baseBackcolor_black;
  }

  page-do {
    background: $baseBackcolor_black;
  }

  page-agenda {
    background: $baseBackcolor_black;
  }

  page-dailymemos {
    background: $baseBackcolor_black;
  }

  page-m {
    .menu {
      background: rgba(13, 24, 42, 1);

      .grid {
        .row {
          color:rgba(235,239,250,1);
          h1,h4{
            color: rgba(73, 152, 188, 1);
          }


        }
      }
    }
  }
}
