ion-app.black-theme {
  ion-calendar {
    opacity: 0.8;
    box-shadow: 0px 0px 5px 0px rgba(3, 0, 0, 0.2);

    ion-card-header {
      background: rgba(0, 53, 66, 1);
      border-bottom: 1px rgba(30, 69, 89, 1) solid;

      .title {
        p {
          color: rgba(201, 242, 252, 1);
        }
      }

      .thisM {
        color: rgba(255,99,44,1);
      }


    }

    ion-card-content {
      background: rgba(0, 53, 66, 1);;

      ion-calendar-week {
        .week-title li {
          color: rgba(75, 107, 115, 1);
        }
      }

      .yearshow {
        color: rgba(13, 112, 136, 0.08);
      }

    }
  }

  ion-calendar-month {
      .days {
        p {
          color: rgba(235, 239, 250, 1);
        }

        .last-month-day p, .next-month-day p , .next-month-day samll{
          color:rgba(64,106,117,1);
        }

        small {
          color: rgba(73, 110, 119, 1);
        }

        .on-selected {
          .d{
            background: rgba(255,99,44,1);
            color: rgba(255,255,255,1);
          }

          //border: 1px rgba(19, 72, 75, 1) solid;
        }

        .today {
          //color: -webkit-linear-gradient(left, $spcColorf, $spcColort); /* Safari 5.1 - 6.0 */
          //color: -o-linear-gradient(right, $spcColorf, $spcColort); /* Opera 11.1 - 12.0 */
          //color: -moz-linear-gradient(right, $spcColorf, $spcColort); /* Firefox 3.6 - 15 */
          //color: linear-gradient(to right, $spcColorf, $spcColort); /* 标准的语法（必须放在最后） */
          p {
            font-weight: bold;
          }

        }

      }
    }

  page-glory {
    background-color: $baseBackcolor_black;
  }

  .notask {
    .icon {
      color: #C9C8C8;
    }

    span {
      color: rgba(140, 150, 162, 1);
    }

    button {
      background: rgba(70, 159, 175, 1);
      color: rgba(255, 255, 255, 1);
    }
  }

  page-remind {
    .box-content {

      .toolbar-ios {
        button {
          background: rgba(7, 109, 138, 1);

          .button-inner {
            color: rgba(255, 255, 255, 1);
          }
        }
      }
    }
  }

  page-ss, page-ps {
    .page-content {
      .fixed-content {
        -webkit-box-shadow: 0px 0px 0px 0px rgba(201, 200, 200, 0.28);
        box-shadow: 0px 0px 0px 0px rgba(201, 200, 200, 0.28);
      }
    }
  }

  ion-textarea,input{
    color: rgba(235, 239, 250, 1);
  }

  .checkbox-ios .checkbox-checked{
    border-color:rgba(178,205,212,1);
    background:rgba(178,205,212,1);;
  }

  .plan {
    span {
      color: rgba(57, 70, 93, 1);
    }
  }
}
