.fa-calendar-star, .fa-gift,.fa-lock {
  color: rgba(62, 111, 202, 1);
}
.fa-download{
  color: rgba(17, 117, 141, 1);
}
.fa-sync{
  color: rgba(17, 117, 141, 1);
}

.fa-user-tag {
  color: rgba(100, 88, 188, 1);
}

.fa-alarm-exclamation,.fa-check-double {
  color: rgba(125, 85, 37, 1);
}

.fa-minus-circle ,.fa-trash-alt{
  color: rgba(153, 153, 153, 1);
}

.fa-check-circle {
  color: rgba(17, 117, 141, 1);
}

//时间
.fa-calendar-check{
  color: rgba(17, 117, 141, 1);
}
.fa-alarm-clock{
  color: rgba(243,183,77, 1);
}

corner-badge[fa-calendar-check] {
  background:rgba(255,0,0,1);
}

.fa-map-marker-alt {
  color: rgba(17,117,141,1);
}

corner-badge[fa-map-marker-alt] {
  background:rgba(255,0,0,1);
}


corner-badge[fa-comment-edit] {
  background:rgba(255,0,0,1);
}

.fa-line-columns {
  color: #FF7474;

}

corner-badge[fa-line-columns] {
  background:rgba(255,0,0,1);
}

.fa-user-friends,.fa-info-circle {
  color: rgba(17,117,141,1);

}

.fa-info-circle {
  color: rgba(50,163,190,1);
}

corner-badge[fa-user-friends] {
  background:rgba(255,0,0,1);
}

corner-badge[fa-info-circle] {
  background:rgba(255,0,0,1);
}

.fa-bells,.fa-bell {
  color: rgba(17,117,141,1);
}

.fa-bell[noval],.fa-map-marker-alt[noval],.fa-repeat[noval],.fa-copy[noval],.fa-comment-edit[noval],.fa-comment-alt-edit[noval]{
  color: rgba(184,214,221,1);
}

.fa-bell,.fa-map-marker-alt,.fa-repeat,.fa-copy,.fa-comment-edit,.fa-comment-alt-edit{
  color: rgba(50,163,190,1);
}

corner-badge[fa-bells] {
  background:rgba(255,0,0,1);
}

.fa-sparkles {
  color: #FF7474;
}

corner-badge[fa-sparkles] {
  background-color: rgba(255,0,0,1);
}


//.fa-copy{
//  color: rgba(17,117,141,1);
//}

.fa-share-alt{
  color: rgba(236,128,32,1) !important;
}
.fa-at{
   color: rgba(248,76,76,1);
 }

corner-badge[fa-copy] {
  background-color: rgba(255,0,0,1);
}
corner-badge[fa-repeat] {
   background-color: rgba(255,0,0,1);
 }

corner-badge[icon-readonly] {
  background-color: rgba(153, 153, 153, 1);
}


.icon-readonly {
  color: rgba(153, 153, 153, 1);
}

.fa, .fab, .fad, .fal, .far, .fas{
  line-height: normal;
}
