.fa-calendar-star, .fa-gift,.fa-lock {
  color: rgba(62, 111, 202, 1);
}
.fa-download{
  color: rgba(17, 117, 141, 1);
}
.fa-sync{
  color: rgba(17, 117, 141, 1);
}

.fa-user-tag {
  color: rgba(100, 88, 188, 1);
}

.fa-alarm-exclamation,.fa-check-double {
  color: rgba(125, 85, 37, 1);
}

.fa-minus-circle {
  color: rgba(153, 153, 153, 1);
}

.fa-check-circle {
  color: rgba(17, 117, 141, 1);
}

//时间
.fa-calendar-check{
  color: rgba(17, 117, 141, 1);
}

corner-badge[fa-calendar-check] {
  background-color: rgba(17, 117, 141, 1);;
}

.fa-map-marker-alt {
  color: #CEA75D;

}

corner-badge[fa-map-marker-alt] {
  background-color: #CEA75D;
}

.fa-comment-edit {
  color: #3EA7C0;

}

corner-badge[fa-comment-edit] {
  background-color: #3EA7C0;
}

.fa-line-columns {
  color: #FF7474;

}

corner-badge[fa-line-columns] {
  background-color: #FF7474;
}

.fa-user-friends {
  color: #3EA7C0;

}

corner-badge[fa-user-friends] {
  background-color: #3EA7C0;
}

.fa-bells {
  color: #4E70B6;

}

corner-badge[fa-bells] {
  background-color: #4E70B6;
}

.fa-sparkles {
  color: #FF7474;
}

corner-badge[fa-sparkles] {
  background-color: #FF7474;
}


.fa-copy {
  color: #EC8020;
}

corner-badge[fa-copy] {
  background-color: #EC8020;
}

corner-badge[icon-readonly] {
  background-color: rgba(153, 153, 153, 1);
}


.icon-readonly {
  color: rgba(153, 153, 153, 1);
}
