ion-list.list-ios {
  width: auto;
  border-radius: 4px;
  margin: 1rem 1rem 2.5rem 1rem;

  .item-ios.list-header.list-header-ios {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    min-height: 50px;

    .item-inner{
      border-bottom: 0;
    }
  }

  > .item-ios:first-child, > .item-ios:last-child {
    border-width: 0;
  }

  > .item-ios[no-lines], > .item-ios[no-lines] {
    border-width: 0;
  }

  .item-ios {
    border-width: 0;
    min-height: 50px;
    background: transparent;
    padding: 0.2rem;

    .item-inner {
      border-width: 0;

      .input-wrapper {
        margin: 0px 1rem;
      }

      .count {
        font-weight: 500;
        font-size: 18px;
      }

      ul{
        padding-inline-start:0rem;
        margin-block-start: 0em;
        margin-block-end: 0em;
        margin-inline-start: 0rem;
        margin-inline-end: 0rem;
        padding-inline-start: 0;
        li{
          float: left;
          list-style: none;
          padding: 0.3rem 0.5rem;
          width: calc(100% / 4);
          text-align: center;
          span{
            display: block;
            text-align: center;
            height: 34px;
            line-height: 34px;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .accepted{
            .icon{
              position: absolute;

            }
          }
        }
        li:last-child{
          clear: both;
          text-align: right;
          width: 100%;

        }
      }


      ion-label, input, select, ion-icon, ion-note, ion-toggle,.datetime-text {
        font-size: 14px;
        letter-spacing: 1px;
        margin: 0.1rem 0.1rem;
        min-height: 1.2rem;
      }

      ion-label {
        min-width: 6rem;
      }

      ion-icon[item-end], ion-note[item-end] {
        margin: 0.1rem 2.5rem;
      }

      .radio-ios .radio-checked .radio-inner {
      }

      .noshow.radio-ios .radio-checked .radio-inner {
        border-color: transparent;
      }
    }
  }

}

.white-theme {
  ion-list.list-ios {
    background: rgba(255, 255, 255, 1);
    box-shadow: 2.5px 1.5px 10px 0px rgba(201, 200, 200, 0.73);

    .item-ios.list-header.list-header-ios {
      color: rgba(7, 109, 138, 1);
      background: rgba(217, 233, 238, 1);

      ion-label {
        color: rgba(7, 109, 138, 1);
      }
    }

     .item-ios:last-child  .item-inner{
      border-bottom: 0;
    }

    .item-ios {
      background: transparent;

      .item-inner {
        border-bottom: 0.55px solid rgba(237,237,237,1);
        .count {
          color: rgba(7, 109, 138, 1);
        }

        ul {
          li {
            span {
              color:rgba(153,153,153,1);
            }
            .accepted{
              color: rgba(15, 114, 142, 1);
            }
            .selected{
              color: rgba(248,76,76,1);
            }
            .selected::before{
              content: "@";
            }
          }
        }

        ion-label, input, select, ion-icon, ion-note, ion-toggle,.datetime-text {
          color:rgba(59,59,59,1);

        }

        .radio-ios .radio-checked .radio-inner {
          border-color: rgba(51, 51, 51, 1);
        }

        .noshow.radio-ios .radio-checked .radio-inner {
          border-color: transparent;
        }
      }
    }
    .item-ios[no-lines]{
      border-width: 0;
    }

  }
}

.black-theme {

  ion-list.list-ios {
    background:rgba(23,41,67,1);
    box-shadow:0px 0px 5px 0px rgba(12,12,12,0.73);

    .item-ios.list-header.list-header-ios {
      color:rgba(255,255,255,1);
      background:rgba(7,109,138,1);

      ion-label {
        color:rgba(235,239,250,1)
      }
    }

     .item-ios:last-child  .item-inner{
      border-bottom: 0;
    }

    .item-ios {
      background: transparent;

      .item-inner {
        border-bottom: 0.55px solid rgba(217,233,238,.1);
        .count {
          color: rgba(255, 255, 255, 1);
        }
        ul {
          li {

            span {
              color:rgba(153,153,153,1);
            }

            .accepted{
              color: rgba(15, 114, 142, 1);
            }

            .selected{
              color: rgba(248,76,76,1);
            }
            .selected::before{
              content: "@";
            }
          }
        }
        ion-label, input, select, ion-icon, ion-note, ion-toggle,.datetime-text {
          color:rgba(235,239,250,1)

        }

        .radio-ios .radio-checked .radio-inner {
          color:rgba(235,239,250,1)
        }

        .noshow.radio-ios .radio-checked .radio-inner {
          border-color: transparent;
        }
      }
    }
  }
}




