//全局页面背景

.list-grid-content {
  min-height:101%;

  .item-content .line[leftmargin], .item-content[leftmargin] {
    margin-left: 1rem;;
  }

  .item-content .line[rightmargin], .item-content[rightmargin] {
    margin-right: 1rem;
  }

  .item-content .line[toppadding], .item-content[toppadding] {
    padding-top: 1rem;;
  }

  .item-content .line[bottompadding], .item-content[bottompadding] {
    padding-bottom: 1rem;
  }

  .item-content .line[toppaddingsamll], .item-content[toppaddingsamll] {
    padding-top: 0.75rem;;
  }

  .item-content .line[bottompaddingsamll], .item-content[bottompaddingsamll] {
    padding-bottom: 0.75rem;
  }


  .dayagenda-month.month1 {

    background-image: url("../assets/imgs/listicon/1@3x.png");
    .month-a,.month-b{
      color: rgba(69, 60, 133, 1);
    }
  }

  .dayagenda-month.month2 {

    background-image: url("../assets/imgs/listicon/2@3x.png");
    .month-a,.month-b{
      color: rgba(143, 37, 101, 1);
    }

  }

  .dayagenda-month.month3 {

    background-image: url("../assets/imgs/listicon/3@3x.png");
    .month-a,.month-b{
      color: rgba(141, 107, 34, 1);
    }

  }

  .dayagenda-month.month4 {

    background-image: url("../assets/imgs/listicon/4@3x.png");
    .month-a,.month-b{
      color: rgba(153, 13, 70, 1);
    }

  }

  .dayagenda-month.month5 {

    background-image: url("../assets/imgs/listicon/5@3x.png");
    .month-a,.month-b{
      color: rgba(254, 240, 246, 1);
    }

  }

  .dayagenda-month.month6 {

    background-image: url("../assets/imgs/listicon/6@3x.png");
    .month-a,.month-b{
      color: rgba(45, 101, 105, 1);
    }

  }

  .dayagenda-month.month7 {

    background-image: url("../assets/imgs/listicon/7@3x.png");
    .month-a,.month-b{
      color: rgba(157, 20, 40, 1);
    }


  }

  .dayagenda-month.month8 {

    background-image: url("../assets/imgs/listicon/8@3x.png");
    .month-a,.month-b{
      color: rgba(20, 88, 98, 1);
    }

  }

  .dayagenda-month.month9 {

    background-image: url("../assets/imgs/listicon/9@3x.png");
    .month-a,.month-b{
      color: rgba(255, 252, 245, 1);
    }

  }

  .dayagenda-month.month10 {

    background-image: url("../assets/imgs/listicon/10@3x.png");
    .month-a,.month-b{
      color: rgba(93, 90, 19, 1);
    }

  }

  .dayagenda-month.month11 {

    background-image: url("../assets/imgs/listicon/11@3x.png");
    .month-a,.month-b{
      color: rgba(119, 92, 72, 1);
    }

  }

  .dayagenda-month.month12 {

    background-image: url("../assets/imgs/listicon/12@3x.png");
    .month-a,.month-b{
      color: rgba(78, 70, 119, 1);
    }
  }




  .sn {
    font-weight: 500;
    display: -webkit-box;
    white-space: normal;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /*显示几行*/
    overflow: hidden;
    margin: 0 0.5rem;
    font-size: 1.4rem;
    //line-height: 1.6rem;
  }

  .st {
    padding: .2rem 1rem;
    border-radius: 2px;
  }
  .wc{
    text-decoration: line-through;

  }

  .update{
    display: none;
    width: 30px;
    font-size: 1.2rem;
    margin: 0.2rem 0.2rem;
    text-align: center;
  }

  .item-content-hasmessage {
    .update{
      display: inline-flex;
    }
  }

  .invite {
    margin: 0 0.5rem;

    span {
      margin: 0 0.6rem;
    }

    span:first-child {
    }
  }

  .person {
    font-weight: 300;
    margin: 0 0.5rem;
  }

  .item-no-display {
    display: none;
  }

  .item-display {
    display: block;
  }

  .item-content {
    border-radius: 4px;
    height: auto;
    width: auto;
    margin: 0.4rem 1rem;
    position: relative;
    overflow: hidden;

    .syncing {
      height: 100%;
      width: 100%;
      position: absolute;
    }



    .line {
      position: relative;
      display: flex;
      width: 100%;
      height: auto;
      //margin: 0.2rem 0.6rem;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      .icon {
        margin: 0rem 0.2rem;
        font-size: 1.4rem;

        ion-icon {
          //padding-top: 0.1rem;
          //font-size: 1rem;
          font-size: 1.4rem;
        }
        b{
          font-size: .8rem;
        }

      }
    }

    .first-line {
      margin: 0.6rem 0.6rem 0.2rem 0.6rem;
    }

    [end] {
      flex-grow: 1;
      text-align: right;

    }
  }

  //月份表示列表
  .dayagenda-month {
    height: 85px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0.5rem 0;

    p {
      margin-top: 0.8rem;
      margin-left: 1rem;
      margin-right: 1rem;
      margin-bottom: 0.6rem;
      width: auto;
    }

    .month-a {
      font-size: 2rem;
    }

    .month-b {
      font-size: 1rem;
      margin-top: 0.3rem;
      line-height: 1;
      white-space: normal;
      font-weight:bold;
    }


  }

  //列表一周
  .dayagenda-week, .no-content {
    height: 34px;
    margin-left: 1rem;
    margin-right: 1rem;
    line-height: 34px;


    p {
      font-size: 1.2rem;
      letter-spacing: 1px;
      margin: 0;
      margin-left: 1rem;
    }
  }


  //列表每天头部
  .dayagenda-nav {
    background: transparent;
    box-shadow: none;
    //width: calc(100% - 30px);
    overflow: inherit;

    .dayheader {
      width: 59px;
      height: 50px;
      padding: 0.5rem;
      padding-top: 1rem;
      text-align: center;
      border-radius:4px 0px 0px 4px;

      .ym-fsize {
        font-size: 2.3rem;
        line-height: 2rem;
        text-align: center;
      }

      .ys-fsize {
        font-size: 1rem;
        font-weight: 300;
        text-align: center;
        padding-left: 0.5rem;
      }

      .d-fsize {
        font-size: .9rem;
        font-weight: 300;
        letter-spacing: 3px;
        float: right;
        writing-mode: tb-rl;
      }

    }

    .d-title {
      border-radius:0px 4px 4px 0px;
      width: 100%;
      display: inline-flex;
      position: relative;

      .d-title-chr {
        height: 50px;
        line-height: 50px;
        overflow: hidden;
        font-size: 1.2rem;
        //margin-left: 1.5rem;
        width: calc((100% - 50px) / 3);
        //margin-right: 1.2rem;
        text-align: center;
        z-index: 10;
        display: inline-block;
        span {
          font-size: 1.6rem;
          font-weight: 800;
        }
      }

      .d-title-chr:first-child {
        border-radius:0px 4px 4px 0px;
        width: 50px;
        margin-left: 0;
        margin-right: 0;
        letter-spacing: 2px;

        p {
          font-size: 1.6rem;
          font-weight: 800;
          line-height: 18px;
          margin: 0 auto;
          margin-top: 1rem;
        }

        p:last-child {
          font-size: 0.9rem;
          font-weight: 100;
          margin-top: 0px;
        }
      }

      .mome {
        text-align: center;
        overflow: hidden;
        .icon{
          font-size: 2rem;
          line-height: 50px;
          margin-left: -35px;
          //margin: 1rem;

        }
      }
      .weather{
        position: absolute;
        text-align: center;
        right:1rem;
        opacity: .8;
        top:10px;

        //color:rgba(56,160,185,.8);

        //margin-left: 1rem;
        span{
          font-size: .9rem;
          overflow: hidden;
          display: -webkit-box;
          text-align: center;
          ion-icon{
            font-size: 1.6rem;
          }
        }

      }
    }
  }


  .dayagenda-content {
    width: auto;
    padding: 0.2rem;
    .line{
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  .calendaritem-content {
    width: auto;
    padding-top: 0.5rem;
    min-height: 44px;
    .line{
      padding-left: 1rem;
      padding-right: 1rem;
      .sn{
        font-size: 1.4rem;
        -webkit-line-clamp:1;
      }
    }
  }
}


.white-theme {
  .list-grid-content {

    .before {
      color: #11758D
    }

    .after {
      color: #11758D;
    }

    .current {
      color: #B18E00;
    }


    .sn {
      color: rgba(51, 51, 51, 1);
    }

    .st {
      color:rgba(51,51,51,1);
      background:rgba(243,243,243,1);
    }

    .update{
      color:rgba(255,106,106,1);
    }

    .invite {
      color: rgba(0, 109, 136, 1);

      span:first-child {
        color: rgba(143, 194, 206, 1);
      }
    }

    .person {
      color: rgba(206, 206, 206, 1);

    }

    .item-content-backgroud {
      background:rgba(255,255,255,.9);
      box-shadow:0px 0px 5px 0px rgba(153,153,153,0.28);
    }

    .noinvite{
      background:rgba(243,243,243,1);
    }

    .item-content {
      .line {
        color: rgba(51, 51, 51, 1);

        .icon {
          .fa-check-double,.fa-alarm-exclamation,.fa-at {
            color:rgba(206,206,206,1);
          }

          b{
            color: rgba(51, 51, 51, 1);
          }
          .over {
            color: rgba(17,117,141,1);
          }
        }

      }

    }

    //列表一周
    .dayagenda-week, .no-content {

      background:rgba(105,182,200,.8);
      box-shadow:0px 0px 5px 0px rgba(3,0,0,0.2);

      p {
        color:rgba(255,255,255,1);
      }
    }


    //列表每天头部

    .dayagenda-nav {
      .dayheader {
        background:rgba(47,117,213,.8);
        box-shadow:0px 0px 5px 0px rgba(3,0,0,0.2);
        .ym-fsize {
          color:rgba(254,255,255,1);
          text-shadow:0px 1.5px 3.5px rgba(0, 0, 0, 0.35);
        }

        .ys-fsize {
          color:rgba(245,245,245,1);
          text-shadow:0px 1.5px 3.5px rgba(0, 0, 0, 0.35);
        }

        .d-fsize {
          color:rgba(245,245,245,1);
          text-shadow:0px 1.5px 3.5px rgba(0, 0, 0, 0.35);
        }

      }

      .d-title {
        background:rgba(25,87,180,.9);
        //box-shadow: inset 1px 0px 2px 0px rgba(255, 255, 255, 0.5);

        .d-title-chr {
          color:rgba(211,211,211,1);

          span {
            color:rgba(255,255,255,1);
          }
        }

        .d-title-chr:first-child {
          background:rgba(21,73,147,.8);
          box-shadow:0px 0px 5px 0px rgba(3,0,0,0.1);
          p{
            color:rgba(255,255,255,1);
          }
          p:last-child{
            color:rgba(211,211,211,1);
          }
        }

        .mome {
          color:rgba(211,211,211,1);
        }

        .weather{
          color:rgba(211,211,211,1);
          span {
            color:rgba(211,211,211,1);
          }

        }

      }
    }


    .today{

      .dayheader {
        background:rgba(30,151,193,.8);
        box-shadow:0px 0px 5px 0px rgba(3,0,0,0.2);
        .ym-fsize {
          color:rgba(255,254,254,1);
        }

        .ys-fsize {
          color:rgba(211,211,211,1);
        }

        .d-fsize {
          color:rgba(211,211,211,1);
        }
      }
      .d-title {
        background:rgba(0,69,86,1);
        //box-shadow:0px 0px 5px 0px rgba(255,255,255,0.5);

        .d-title-chr {

          color:rgba(211,211,211,1);

          span {
            color:rgba(235,239,250,1);
          }
        }

        .d-title-chr:first-child {
          background:rgba(30,151,193,.8);
          box-shadow:0px 0px 5px 0px rgba(3,0,0,0.2);
          color:rgba(235,239,250,1);
        }

        .mome {
          color: rgba(235, 239, 250, 1);
        }

        .weather{
          color: rgba(235, 239, 250, 1);
          span {
            color:rgba(211,211,211,1);
          }

        }
      }
    }


    .dayagenda-content {
    }

    .calendaritem-content {
      background:rgba(53,152,176,.8);
      box-shadow:0px 0px 5px 0px rgba(3,0,0,0.2);
      .sn{
        color:rgba(255,255,255,1);
      }
    }
  }

}

.black-theme {
  .list-grid-content {

    .before {
      color: #11758D
    }

    .after {
      color: #11758D;
    }

    .current {
      color: #B18E00;
    }

    .sn {
      color: rgba(255, 255, 255, 1);
    }

    .update{
      color:rgba(255,106,106,1);
    }

    .st {
      color:rgba(249,249,249,1);
    }

    .invite {
      color: rgba(62, 111, 202, 1);

      span:first-child {
        color: rgba(41, 74, 134, 1);
      }
    }

    .person {
      color:rgba(206,206,206,1)

    }

    .item-content-backgroud {
      background:rgba(12,24,42,.8);
      box-shadow:0px 0px 5px 0px rgba(153,153,153,0.28);
    }
    .noinvite{
      background: rgba(255, 255, 255, .2);
    }

    .item-content {
      .syncing {
        background-color: rgba(255, 255, 255, .2);
      }

      .line {
        color: rgba(51, 51, 51, 1);
        .icon {
          .fa-check-double,.fa-alarm-exclamation,.fa-at {
            color:rgba(206,206,206,1);
          }
          b{
            color: rgba(57, 70, 93, 1);
          }
          //.fa-check-circle,.fa-minus-circle{
          //  color: rgba(53,152,176,1);
          //}
          .over {
            color: rgba(17,117,141,1);
          }

        }
      }

    }

    //列表一周
    .dayagenda-week, .no-content {

      background:rgba(12,24,42,.8);
      box-shadow: 0px 0px 5px 0px rgba(3, 0, 0, 0.2);

      p {
        color:rgba(138,171,224,1);
      }
    }

    .dayagenda-nav {
      .dayheader {
        background:rgba(47,117,213,.8);
        box-shadow:0px 0px 5px 0px rgba(3,0,0,0.2);
        .ym-fsize {
          color:rgba(255,254,254,1);
        }

        .ys-fsize {
          color:rgba(211,211,211,1);
        }

        .d-fsize {
          color:rgba(211,211,211,1);
        }

      }

      .d-title {
        background:rgba(14,52,109,.8);
        //box-shadow:0px 0px 5px 0px rgba(255,255,255,0.5);

        .d-title-chr {

          color:rgba(211,211,211,1);

          span {
            color:rgba(235,239,250,1);
          }
        }

        .d-title-chr:first-child {
          background:rgba(21,73,147,.8);
          box-shadow:0px 0px 5px 0px rgba(3,0,0,0.2);
          color:rgba(235,239,250,1);
        }

        .mome {
          color: rgba(235, 239, 250, 1);
        }
        .weather{
          color: rgba(235, 239, 250, 1);
          span {
            color:rgba(211,211,211,1);
          }

        }
      }
    }

    //列表每天头部
    .today{
      .dayheader {
        background:rgba(30,151,193,.8);
        //box-shadow:0px 0px 5px 0px rgba(3,0,0,0.2);
        .ym-fsize {
          color:rgba(255,254,254,1);
        }

        .ys-fsize {
          color:rgba(211,211,211,1);
        }

        .d-fsize {
          color:rgba(211,211,211,1);
        }
      }
      .d-title {
        background:rgba(0,69,86,1);
        //box-shadow:0px 0px 5px 0px rgba(255,255,255,0.5);

        .d-title-chr {

          color:rgba(211,211,211,1);

          span {
            color:rgba(235,239,250,1);
          }
        }

        .d-title-chr:first-child {
          background:rgba(30,151,193,.8);
          //box-shadow:0px 0px 5px 0px rgba(3,0,0,0.2);
          color:rgba(235,239,250,1);
        }

        .mome {
          color: rgba(235, 239, 250, 1);

          span {
            color:rgba(211,211,211,1);
          }
        }
        .weather{
          color: rgba(235, 239, 250, 1);
          span {
            color:rgba(211,211,211,1);
          }

        }
      }

    }


    .dayagenda-content {
    }

    .calendaritem-content {
      background:rgba(53,152,176,.8);
      box-shadow:0px 0px 5px 0px rgba(3,0,0,0.2);
    }
  }
}

.hand {
  width: 100%;
  text-align: right;
  margin: 2% auto;
  padding: 0;
}

.finger {
  display: inline-block;
  width: 0.2rem;
  height: 1.5rem;
  background-color: rgba(42, 119, 138, 1);
  margin: 0 .2rem;
  border-radius: 15% 15% 25% 25%;
  animation-name: tap;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.finger:nth-child(2) {
  animation-delay: .8s;
}

.finger:nth-child(3) {
  animation-delay: .7s;
}

.finger:nth-child(4) {
  animation-delay: .6s;
}

.finger:nth-child(5) {
  animation-delay: .5s;
}

@keyframes tap {
  0% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-1rem);
  }
  70% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
