//主题页面布局控件
modal-box {
  .disdiv{
    width: 100%;
    height: 100%;
    z-index: 9999999;
    opacity: 0.8;
    position: fixed;
  }

  width: 100%;
  height: 100%;
  position: absolute;

  .box-modal {
    height: 100%;
    padding: 0px 1rem;
    .box-header {
      height: 110px;

      > .toolbar-ios {
        height: 100%;
        padding:0px 1rem;
        margin: 0;

        .toolbar-background {
          border-style: none;
          background-color: transparent;
        }

        ion-title {
          padding: 0;
          .toolbar-title {
            position: absolute;
            bottom: 1rem;
            left: 1rem;
            width: auto;
            font-size: 2.4rem;
            font-weight: 500;
            padding: 0.2rem 0.25rem;
            max-width: 60%;
            margin-left: 1rem;
            .subtilte{
              font-size: 1.4rem;
              padding: 4px 12px;
              border-radius:2px;
              margin-left: 4px;
            }
          }
        }

        .toolbar {
          position: absolute;
          width: auto;
          right: 1rem;
          bottom: 1rem;
          div{
            padding: .3rem;
          }
          .icon {
            margin: 0 1.2rem;
            padding: 0.2rem 0.25rem;
            font-size: 2rem;
          }
          .fa-times,.fa-plus,fa-check{
            font-size: 2.4rem;
          }
        }

      }
    }

    .box-content {
      > .fixed-content {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        //margin-bottom: 47px;

      }

      > .scroll-content {
        //margin-bottom: 49px;
        overflow-y: hidden

      }
    }
  }

}

.white-theme {

  modal-box {
    background: rgba(0, 0, 0, .95);

    .box-header {
      > .toolbar-ios {
        ion-title {
          .toolbar-title {
            color: rgba(255, 255, 255, 1);
          }
        }

        .icon {
          color: rgba(255, 255, 255, .8);
        }
      }
    }

    .box-content {
      > .fixed-content {
        background: rgba(255, 255, 255, 1);
        box-shadow: 0px 0px 5px 0px rgba(201, 200, 200, 0.28);
      }
    }
  }

}

.black-theme {

  modal-box {
    background: rgba(0, 0, 0, .95);

    .box-header {
      > .toolbar-ios {
        ion-title {
          .toolbar-title {
            color: rgba(235, 239, 250, 1);
          }
        }

        .icon {
          color: rgba(235, 239, 250, 1);
        }
      }
    }

    .box-content {
      > .fixed-content {
        background: rgba(12, 24, 42, 1);
        box-shadow: 0px 0px 5px 0px rgba(12, 12, 12, 0.73);
      }
    }
  }

}

