// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts


//颜色变量
//全局页面背景
$allBackColor:#000;
//页面主页颜色
$masterColor:rgba(60,144,155,1);
//页面次要颜色
$secondColor:rgba(60,144,155,.9);
//页面第三颜色
$thirdColor:rgba(60,144,155,.6);
//header不背景色
$titleColor:rgba(62,109,119,1);
//thisMonth
$monthColor:rgba(98,186,204,1);
//selectBackcolor
$selectColor:rgba(62,109,119,1);
//selectcolosecolor
$selectCloseColor:rgba(62,109,119,.4);
//白色不透名降低
$whitedown:rgba(255,255,255,.3);
//主页提示文字颜色
$h-tip:rgba(60,144,155,1);

//所有提示的背景色
$popBackColor:#000;

//主要字体颜色
$fontMasterColor:#ffffff;


//$secondaryColor:rgba(60,144,155,.5);
//次要字体颜色
$fontColor2:#ffffff;
//标题字号大小
$font-size1:14px;
//内容字号大小
$font-size1:14px;

//页面选择园大小
//


$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  none:       transparent
);

//html backcolor set
$background-color-content:(
  first:(
  start:#953a8b,
  end:#5652de
  )
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
