ion-app.white-theme {
  ion-calendar {
    //opacity: 0.8;

    ion-card-header {
      //background: rgba(0, 53, 66, 1);
      //border-bottom: 0px rgba(30, 69, 89, 1) solid;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0)0%, rgba(255, 255, 255, 0.4) 60% , rgba(255, 255, 255, 0.8) 100%);

      .title {
        p {
          color:rgba(0,109,136,1);
          text-shadow: 0px -1px 5px rgba(255, 255, 255, 0.53);
        }
      }

      .thisM {
        color: rgba(255,99,44,1);
        text-shadow: 0px -1px 5px rgba(255, 255, 255, 0.53);
      }

      .fa-calendar-day,.fa-plus-circle{
        color:rgba(0,109,136,1);
        text-shadow: 0px -1px 5px rgba(255, 255, 255, 0.53);
      }


    }

    ion-card-content {
      //background: linear-gradient(180deg, rgba(255, 255, 255, .8)0%, rgba(255, 255, 255, 0.75) 90%, rgba(255, 255, 255, 0.2) 100%);
      background: rgba(255, 255, 255, .8);
      box-shadow: 0px 20px 14px 0px rgba(201, 200, 200, 0.28);

      ion-calendar-week {
        .week-title li {
          color: rgba(153, 153, 153, 1);
        }
      }

      .yearshow {
        color: rgba(216,232,237,.8);
      }

    }
  }

  ion-calendar-month {




      .days {
        p {
          color: rgba(51, 51, 51, 1);
        }

        .last-month-day p, .next-month-day p {
          color: rgba(220, 221, 221, 1);
        }

        small {
          color:rgba(188,188,188,1);
        }
        .calendaritem{
          color:rgba(2,97,150,1);
        }
        .on-selected {
          .days-btn{
            background: rgba(0,109,136,.8);
            box-shadow: 0px 0px 8px 2px rgba(0,109,136,.4);
          }
          .d{
            color: rgba(255,255,255,1);
          }
          .calendaritem {
          }
          //small{
          //  color: rgba(255,255,255,.8);
          //}

          //border: 1px rgba(19, 72, 75, 1) solid;
        }

        .today {
          //background: -webkit-linear-gradient(left, $spcColorf, $spcColort); /* Safari 5.1 - 6.0 */
          //background: -o-linear-gradient(right, $spcColorf, $spcColort); /* Opera 11.1 - 12.0 */
          //background: -moz-linear-gradient(right, $spcColorf, $spcColort); /* Firefox 3.6 - 15 */
          //background: linear-gradient(to right, $spcColorf, $spcColort); /* 标准的语法（必须放在最后） */
          //border-radius: 50%;
          p {
            font-weight: bold;
          }
        }

      }
    }

  page-glory {
    background-color: $baseBackcolor_white;
  }


  .notask {
    .icon {
      color: #C9C8C8;
    }

    span {
      color: rgba(140, 150, 162, 1);
    }

    button {
      background: rgba(70, 159, 175, 1);
      color: rgba(255, 255, 255, 1);
    }
  }
  page-remind {
    .box-content {
      .toolbar-ios {
        button {
          background: rgba(217, 233, 238, 1);

          .button-inner {
            color: rgba(7, 109, 138, 1);
          }
        }
      }
    }
  }

  page-ss, page-ps ,page-bl,page-gl{
    .page-content {
      .fixed-content {
        //background: transparent;
        //box-shadow: none;
      }
    }
  }

  ion-textarea,input{
    color: rgba(51, 51, 51, 1);
  }

  .checkbox-ios .checkbox-checked{
    border-color:rgba(42,119,138,1);
    background:rgba(42,119,138,1);
  }


  .plan {
    span {
      color: rgba(51,51,51, 1);
    }
  }


  .action-sheet-title {
    color: rgba(51, 51, 51, 1);
  }

  .action-sheet-button {
    color: rgba(7, 109, 138, 1);

    span {
      ion-icon {
        background: rgba(188, 209, 215, 1);
      }
    }
  }
  .action-sheet-cancel{
    color: rgba(7, 109, 138, .5);
  }
}
