//全局页面背景
$baseBackcolor_white: rgba(241,241,241,1);


.white-theme {

  .haContent {
    ion-calendar {
      ion-card-header {
        background: rgba(0, 53, 66, 1);;
        border-bottom: 0px rgba(30, 69, 89, 1) solid;
        .title {
          p {
            color: rgba(201, 242, 252, 1);
          }
        }

        .thisM {
          color: rgba(201, 242, 252, 1);
        }


      }

      ion-card-content {
        background :rgba(255,255,255,1);

        ion-calendar-week {
          .week-title li {
            color:rgba(153,153,153,1);
          }
        }

        .yearshow {
          color:rgba(241,247,249,1);
        }

      }
    }

    ion-calendar-month {
      .days {
        p {
          color: rgba(51,51,51,1);
        }

        .last-month-day p, .next-month-day p {
          color:rgba(220,221,221,1);
        }

        small {
          color:rgba(220,221,221,1);
        }

        .on-selected {
          border: 1px rgba(19, 72, 75, 1) solid;
        }

        .today {
          background: -webkit-linear-gradient(left, $spcColorf, $spcColort); /* Safari 5.1 - 6.0 */
          background: -o-linear-gradient(right, $spcColorf, $spcColort); /* Opera 11.1 - 12.0 */
          background: -moz-linear-gradient(right, $spcColorf, $spcColort); /* Firefox 3.6 - 15 */
          background: linear-gradient(to right, $spcColorf, $spcColort); /* 标准的语法（必须放在最后） */
          border-radius: 50%;
        }

      }
    }
  }


  .list-contont {
    //月份表示列表
    .list-dayagenda-month {
      .month-a {
        color:rgba(51,51,51,1);
      }

      .month-b {
        color:rgba(51,51,51,1);
      }
    }

    //列表一周
    .list-dayagenda-week {
      background:rgba(42,119,138,1);
      box-shadow:0px 0px 10px 0px rgba(3,0,0,0.2);

      p {
        color:rgba(229,250,255,1);
      }
    }

    //列表每天头部
    .list-dayagenda-nav {
      .dayheader {

        .ym-fsize {
          color:rgba(0,0,3,1);
        }

        .ys-fsize {
          color:rgba(56,160,185,1);
        }

        .d-fsize {
          color:rgba(153,153,153,1);
        }

      }

      .d-title {
        background:rgba(42,119,138,1);
        box-shadow:0px 0px 10px 0px rgba(3,0,0,0.2);

        .first {
          background:rgba(53,152,176,1);
          box-shadow: 0px 0px 0px 0px rgba(3, 0, 0, 0.2);
          color: rgba(235,239,250,1);
        }
      }
    }


    //列表每一个日程
    .list-todolist-content {

      background:rgba(255,255,255,1);
      box-shadow:0px 0px 5px 0px rgba(201,200,200,0.4);

      .agendaline {
        .agenda-sn {
          color:rgba(51,51,51,1);

        }

        .agenda-st {
          color:rgba(153,153,153,1);
        }

        .agenda-person {
          color: rgba(57, 70, 93, 1);
        }

        .dot-set {
          background-color: rgba(206, 206, 206, 1);

        }

      }
    }

    //列表每一个日程
    .list-dayagenda-content {

      background:rgba(255,255,255,1);
      box-shadow:0px 0px 10px 0px rgba(153,153,153,0.28);

      .agendaline {
        .agenda-sn {
          color:rgba(51,51,51,1);

        }

        .agenda-st {
          color:rgba(153,152,152,1);
        }

        .agenda-person {
          color:rgba(206,206,206,1);
        }

        .dot-set {
          background-color: rgba(206, 206, 206, 1);

        }
      }
    }

    //没有日程
    .dayagenda-no-content {
      background:rgba(42,119,138,1);
      box-shadow:0px 0px 10px 0px rgba(3,0,0,0.2);

      p {
        color:rgba(229,250,255,1);
      }
    }
  }

  page-box {
    .box-header {
      ion-toolbar {
        .toolbar-background {
        }
        ion-title{
          .toolbar-title {
            color:rgba(17,117,141,1);
          }
        }
      }
    }

    .box-content {
      .fixed-content{
        background:rgba(255,255,255,1);
        box-shadow:0px 0px 5px 0px rgba(201,200,200,0.28);
      }
    }
  }


  page-tdl {
    background: $baseBackcolor_white;
  }

  page-h {
    background: $baseBackcolor_white;
  }
  page-do {
    background:rgba(248,248,248,1);
  }
  page-agenda {
    background:rgba(248,248,248,1);
  }
}
