page-group-detail {
  .row11{
    flex-direction: row;
    border:1px solid #a1a1a1;
    padding:10px 15px;
    margin-bottom: 10px;
  }
  .biaoqian1{
    border:1px solid #a1a1a1;
    border-radius:10px;
    text-align: center;
    width: 25%;
    margin-left: 6%;
  }
  .qunchengyuan1{
    border-top:1px solid #a1a1a1;border-bottom:1px solid #a1a1a1;margin-top: 5px;margin-bottom: 5px
  }
  .pmingcheng1{
    margin-left: 5%;
    width: 25%;
  }
}
