page-member {
  .selected{
    display: inline-flex;
    overflow-x: auto;
    width: 100%;
    //min-height: 80px;
    background-color: rgba(0,0,0,.1);
    border-radius: 10px 10px 0 0;
    margin-bottom: 5px;
  }
}
