// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
//*{font-family:PingFang-SC-Regular,PingFang-SC,"微软雅黑",Georgia}

//}
//@font-face {
//  font-family: 'PingFang-Bold';
//  src: url('../assets/fonts/PingFang Bold.ttf') format('truetype'),
//  url('../assets/fonts/PingFang Bold.eot') format('embedded-opentype'),
//  url('../assets/fonts/PingFang Bold.otf') format('opentype'),
//  url('../assets/fonts/PingFang Bold.woff') format('woff'),
//  url('../assets/fonts/PingFang Bold.woff2') format('woff2'),
//  url('../assets/fonts/PingFang Bold.svg') format('svg');
//}
//@font-face {
//  font-family: 'PingFang-Medium';
//  src: url('../assets/fonts/PingFang Medium.ttf') format('truetype'),
//  url('../assets/fonts/PingFang Medium.eot') format('embedded-opentype'),
//  url('../assets/fonts/PingFang Medium.otf') format('opentype'),
//  url('../assets/fonts/PingFang Medium.woff') format('woff'),
//  url('../assets/fonts/PingFang Medium.woff2') format('woff2'),
//  url('../assets/fonts/PingFang Medium.svg') format('svg');
//}
* {
  font-family: PingFang-Regular, PingFang-SC-Regular, PingFang-SC, "微软雅黑", Roboto
}

@font-face {
  font-family: 'PingFang-Regular';
  src: url('../assets/fonts/PingFang Regular.ttf') format('truetype'),
  url('../assets/fonts/PingFang Regular.eot') format('embedded-opentype'),
  url('../assets/fonts/PingFang Regular.woff') format('woff'),
  url('../assets/fonts//PingFang Regular.svg') format('svg');
}
//@font-face {
//  font-family: 'PingFang-Regular';
//  src: local("PingFang-Regular"),
//  url('https://www.guobaa.com/mif/static/xiaoji/fonts/L2ZkZC90aHltZWxlYWYvOTc0MC9qc29uLzk3NDE/PingFang-Regular.ttf') format('truetype'),
//  url('https://www.guobaa.com/mif/static/xiaoji/fonts/L2ZkZC90aHltZWxlYWYvOTc0MC9qc29uLzk3NDE/PingFang-Regular.eot') format('embedded-opentype'),
//  url('https://www.guobaa.com/mif/static/xiaoji/fonts/L2ZkZC90aHltZWxlYWYvOTc0MC9qc29uLzk3NDE/PingFang-Regular.woff') format('woff'),
//  url('https://www.guobaa.com/mif/static/xiaoji/fonts/L2ZkZC90aHltZWxlYWYvOTc0MC9qc29uLzk3NDE/PingFang-Regular.svg') format('svg');
//}

body {
  //background-image:url('../assets/imgs/alback.jpg');
  //background-repeat:no-repeat;
  //background-size:100% 100%;
  //-moz-background-size:100% 100%;
  background: $allBackColor;


  .ios .ion-page.show-page ~ .nav-decor {
    background: transparent;
  }

  //防止input框获取焦点抖动
  .input-cover {
    position: static;
  }


  .no-border {
    border: none !important;
  }

  .toast-ios {
    .toast-message {
      font-size: 10px;
      color: #fff;
      padding: 1.5rem;
    }

    .toast-wrapper {
      background: #1f2324;
      width: 85%;
    }
  }

  .loading-ios .loading-wrapper {
    background: transparent;
  }

  .picker-ios {
    .picker-wrapper {
      background: $selectColor;
      border-top:0px;
    }

    .picker-toolbar {
      background: $secondColor;
      border-top:0px;
      border-bottom:0px;
    }

    .picker-above-highlight {
      background: $secondColor;
      border-top:0px;
      border-bottom:0px;
    }

    .picker-below-highlight {
      background: $secondColor;
      border-top:0px;
      border-bottom:0px;
    }

    .picker-opt {
      color: white;
      font-size: 18px;
    }

    .picker-button {
      color: #fff;
      padding-right: 50px;
      padding-left: 50px;
      font-size: 16px;
    }
  }

  .popover-ios .popover-content{
    background-color:$popBackColor;
    font-size: 14px;
    min-width: 300px;
    min-height: 130px;
    color: $fontMasterColor;
  }
  .alert-ios {
    .alert-wrapper{
      background-color:$popBackColor;
      color: $fontMasterColor;
      font-size: 14px;
    }
    .alert-button{
      border-top: 0px solid $secondColor;
      color: $fontMasterColor;
      border-right:0px solid $secondColor;
    }
  }

}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
