// http://ionicframework.com/docs/theming/
//@font-face {
//  font-family: 'Alibaba-PuHuiTi-Bold';
//  src: url('../assets/fonts/Alibaba-PuHuiTi-Bold.otf') format('opentype');
//}
//
//@font-face {
//  font-family: 'Alibaba-PuHuiTi-Heavy';
//  src: url('../assets/fonts/Alibaba-PuHuiTi-Heavy.otf') format('opentype');
//}
//
//@font-face {
//  font-family: 'Alibaba-PuHuiTi-Bold';
//  src: url('../assets/fonts/Alibaba-PuHuiTi-Bold.otf') format('opentype');
//}
//
//@font-face {
//  font-family: 'Alibaba-PuHuiTi-Light';
//  src: url('../assets/fonts/Alibaba-PuHuiTi-Light.otf') format('opentype');
//}
//
//@font-face {
//  font-family: 'Alibaba-PuHuiTi-Medium';
//  src: url('../assets/fonts/Alibaba-PuHuiTi-Medium.otf') format('opentype');
//}
//@font-face {
//  font-family: 'AlibabaSans-Black';
//  src: url('../assets/fonts/AlibabaSans-Black.otf') format('opentype');
//}
//
//@font-face {
//  font-family: 'AlibabaSans-Bold';
//  src: url('../assets/fonts/AlibabaSans-Bold.otf') format('opentype');
//}
//
//@font-face {
//  font-family: 'AlibabaSans-BoldItalic';
//  src: url('../assets/fonts/AlibabaSans-BoldItalic.otf') format('opentype');
//}
//
//@font-face {
//  font-family: 'AlibabaSans-Heavy';
//  src: url('../assets/fonts/AlibabaSans-Heavy.otf') format('opentype');
//}
//
//@font-face {
//  font-family: 'AlibabaSans-HeavyItalic';
//  src: url('../assets/fonts/AlibabaSans-HeavyItalic.otf') format('opentype');
//}
//
//@font-face {
//  font-family: 'AlibabaSans-Italic';
//  src: url('../assets/fonts/AlibabaSans-Italic.otf') format('opentype');
//}
//
//@font-face {
//  font-family: 'AlibabaSans-Light';
//  src: url('../assets/fonts/AlibabaSans-Light.otf') format('opentype');
//}
//
//@font-face {
//  font-family: 'AlibabaSans-LightItalic';
//  src: url('../assets/fonts/AlibabaSans-LightItalic.otf') format('opentype');
//}
//
//@font-face {
//  font-family: 'AlibabaSans-Medium';
//  src: url('../assets/fonts/AlibabaSans-Medium.otf') format('opentype');
//}
//
//@font-face {
//  font-family: 'AlibabaSans-MediumItalic';
//  src: url('../assets/fonts/AlibabaSans-MediumItalic.otf') format('opentype');
//}
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
//*{font-family:PingFang-SC-Regular,PingFang-SC,"微软雅黑",Georgia}

//}
//@font-face {
//  font-family: 'PingFang-Bold';
//  src: url('../assets/fonts/PingFang Bold.ttf') format('truetype'),
//  url('../assets/fonts/PingFang Bold.eot') format('embedded-opentype'),
//  url('../assets/fonts/PingFang Bold.otf') format('opentype'),
//  url('../assets/fonts/PingFang Bold.woff') format('woff'),
//  url('../assets/fonts/PingFang Bold.woff2') format('woff2'),
//  url('../assets/fonts/PingFang Bold.svg') format('svg');
//}
//@font-face {
//  font-family: 'PingFang-Medium';
//  src: url('../assets/fonts/PingFang Medium.ttf') format('truetype'),
//  url('../assets/fonts/PingFang Medium.eot') format('embedded-opentype'),
//  url('../assets/fonts/PingFang Medium.otf') format('opentype'),
//  url('../assets/fonts/PingFang Medium.woff') format('woff'),
//  url('../assets/fonts/PingFang Medium.woff2') format('woff2'),
//  url('../assets/fonts/PingFang Medium.svg') format('svg');
//}
@font-face {
  font-family: 'Alibaba-PuHuiTi-Regular';
  src: url('../assets/fonts/Alibaba-PuHuiTi-Regular.otf') format('opentype');
}

* {
  font-family: Alibaba-PuHuiTi-Regular, Helvetica, Arial, sans-serif;
}


//@font-face {
//  font-family: 'PingFang-Regular';
//  src: local("PingFang-Regular"),
//  url('https://www.guobaa.com/mif/static/xiaoji/fonts/L2ZkZC90aHltZWxlYWYvOTc0MC9qc29uLzk3NDE/PingFang-Regular.ttf') format('truetype'),
//  url('https://www.guobaa.com/mif/static/xiaoji/fonts/L2ZkZC90aHltZWxlYWYvOTc0MC9qc29uLzk3NDE/PingFang-Regular.eot') format('embedded-opentype'),
//  url('https://www.guobaa.com/mif/static/xiaoji/fonts/L2ZkZC90aHltZWxlYWYvOTc0MC9qc29uLzk3NDE/PingFang-Regular.woff') format('woff'),
//  url('https://www.guobaa.com/mif/static/xiaoji/fonts/L2ZkZC90aHltZWxlYWYvOTc0MC9qc29uLzk3NDE/PingFang-Regular.svg') format('svg');
//}
html {

  //默认值16px
  font-size: 10px;

}

body {
  background-image:url('../assets/imgs/alback.jpg');
  background-repeat:no-repeat;
  background-size:100% 100%;
  -moz-background-size:100% 100%;
  ion-app.ios, .content-ios,.ios .menu-inner,.ios .ion-page.show-page ~ .nav-decor  {
    background-color: transparent;
  }
  //防止input框获取焦点抖动
  .input-cover {
    position: static;
  }

  .no-border {
    border: none !important;
  }


  .datetime-disabled {
    opacity: 1;
  }

  .item-ios.item-block .item-inner {
    padding-right: 0;
    border-width: 0;
  }

  .font-small-x {
    font-size: 1rem !important;
    //line-height: 1rem;
  }

  .font-small {
    font-size: 1.2rem !important;
    //line-height: 1.2rem;
  }

  .font-normal {
    font-size: 1.4rem !important;
    //line-height: 1.4rem;
  }

  .font-large {
    font-size: 1.6rem !important;
    //line-height: 1.6rem;
  }

  .font-large-x {
    font-size: 1.8rem !important;
    //line-height: 1.8rem;
  }

  .towline {
    min-height: 2.8rem !important;
  }

  .threeline {
    min-height: 3.8rem !important;
  }


  .plan {
    position: absolute;
    height: 20px;
    line-height: 20px;
    text-align: center;
    width: 74px;
    opacity: .95;

    span {
      overflow: hidden;
      white-space: nowrap;
      font-size: .9rem;
      font-weight: 100;
    }
  }

  .plan-right {
    transform: rotate(45deg);
    right: -3.2rem;
  }

  .plan-left {
    transform: rotate(-45deg);
    left: -3.2rem;

    span {
      margin-left: 1rem;
    }
  }

  .help-inline{
    zoom: 1;
    margin-bottom: 9px;
    vertical-align: middle;
    color: #999999;
    font-size: 1rem;
  }


  //.scroll-y[scrollY] {
  //  //--top: window.off;
  //  height: calc(100% - 4px);
  //
  //  .scroll-content {
  //    overflow-y: auto;
  //  }
  //}
}

// 主题
@import "../../node_modules/ionic2-auto-complete/auto-complete";
@import "../theme/autocomplete";
//@import "../assets/css/weather-icons.min.css";
@import "../theme/entrysystem";
@import "../theme/black.theme";
@import "../theme/white.theme";
@import "../theme/list-grid-content";
@import "../theme/list-content";
@import "../theme/pagebox";
@import "../theme/modalbox";
@import "../theme/picker";
@import "../theme/toggle";
@import "../theme/icon";
@import "../theme/prompt";

