// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
//*{font-family:PingFang-SC-Regular,PingFang-SC,"微软雅黑",Georgia}
@font-face {
  font-family: 'PingFang-Regular';
  src: url('../assets/fonts/PingFang Regular.ttf') format('truetype'),
  url('../assets/fonts/PingFang Regular.eot') format('embedded-opentype'),
  url('../assets/fonts/PingFang Regular.otf') format('opentype'),
  url('../assets/fonts/PingFang Regular.woff') format('woff'),
  url('../assets/fonts/PingFang Regular.woff2') format('woff2'),
  url('../assets/fonts/PingFang Regular.svg') format('svg');
}
* {
    font-family: 'PingFang-Regular',Georgia;
}

.ios .ion-page.show-page ~ .nav-decor{
  background: transparent;
}

//防止input框获取焦点抖动
.input-cover{
  position: static;
}


//时间选择
.picker-ios .picker-toolbar{
  border-top: 1px solid #dbdbdf;
}


.no-border{
  border: none !important;
}

