page-repeat {
  .repeattitle{
    p{
      font-size: 1.4rem;
      margin: 0;
      text-align: center;
    }

  }
  .itemwarp{
    p{
      font-size: 1.6rem;
    }
    .endwith{
      border-radius: 2px;
      margin:0;
      width: 85%;
      ion-item.item-radio-checked{
        .item-inner{
          ion-label{
            font-size: 1.4rem;
            font-weight: bold;
          }
        }
      }
      .radio-ios{
        .radio-checked .radio-inner{
        }
      }
       .item-ios .radio-ios[item-start] {
        margin: 1rem;
      }
    }

  }
  //ion-grid {
  //  justify-content: center;
  //}
  //
  //ion-grid.h100 {
  //  height: 100%;
  //}
  //
  //ion-grid.ph15 {
  //  padding-left: 10vmin;
  //  padding-right: 10vmin;
  //}
  //
  //p.title {
  //  font-size: 1.7rem;
  //}
  //
  //.endwith {
  //  margin-left: calc(-1.4rem - 14px);
  //
  //  .item-block {
  //    min-height: 2.4rem;
  //  }
  //
  //  .item-ios {
  //    background-color: transparent;
  //    padding-left: 0px;
  //    font-size: 1.4rem;
  //    color: #111;
  //
  //    .label-ios {
  //      margin: 0px 8px 0px 0;
  //    }
  //
  //    .radio-ios[item-left], .radio-ios[item-start] {
  //      margin: 0px 11px 0px 3px;
  //    }
  //  }
  //
  //  .item-radio-checked.item-ios ion-label {
  //    color: #111;
  //  }
  //
  //  .radio-ios .radio-checked .radio-inner {
  //    border-color: #111;
  //  }
  //}
  //
  //ion-label.inline {
  //  display: inline-flex;
  //}
  //
  //ion-label div.inlabel {
  //  display: flex;
  //  align-items: center;
  //  height: calc(2.1rem + 3px + 9.6px + 10px);
  //  margin-right: 12px;
  //}

}
.white-theme {
  page-repeat {
    .repeattitle{
      p{
        color:rgba(239, 239, 239, 1);
      }

    }
    .itemwarp{
      p{
        color:rgba(7,109,138,1);
      }
      .endwith{
        ion-item.item-radio-checked{
          .item-inner{
            ion-label{
              color:rgba(7,109,138,1) !important;
            }
          }
        }
        .radio-ios{
          .radio-checked .radio-inner{
            border-color: rgba(7,109,138,.8);
          }
        }
      }

    }

  }
}

.black-theme {
  page-repeat {
    .repeattitle{
      p{
        color:rgba(239, 239, 239, 1);
      }

    }
    .itemwarp{
      p{
        color:rgba(7,109,138,1);
      }
      .endwith{
        ion-item.item-radio-checked{
          .item-inner{
            ion-label{
              color:rgba(7,109,138,1) !important;
            }
          }
        }
        .radio-ios{
          .radio-checked .radio-inner{
            border-color: rgba(7,109,138,.8);
          }
        }
      }

    }

  }
}
