speech-bubble {
  .outground {
    background-color: #222;
    width: 120px;
    height: 32px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    padding: 8px;
    margin: 12px 0;

    ion-icon {
      font-size: 1.4em;
      line-height: 0.9;
    }

    span {
      padding-left: 4px;
      position: absolute;
      margin-top: -1px;
    }
  }

  .outtitle {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;

    font-size: 2vmin;
    color: rgba(255, 255, 255, 0.6);
  }
}
