page-al {
  background-color: $baseBackColor;
  background-image: url('../assets/imgs/alback.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;

  .container {
    width: 100%;
    height: 100%;
  }

  .text {
    text-align: center;
    color: $fontSecondColor;
    position: relative;
    margin-top: calc(100% + 50%);
  }
}
