page-fd {
  background-color: $baseBackColor;


  .grid {
    padding: 0;
    text-align:center;
    .row{
      color: $fontMasterColor;
      text-align: center;
      display: inline-block;
      font-size: 14px;
      margin: 15px;
    }
  }

  ion-header ion-toolbar .toolbar-background,.toolbar-background-md,.toolbar-background-ios {
    background-color: $masterColor;
  }

  ion-header{
    padding: 4px 20px;
  }

  .img-header-left{
    width: 4vmin;
    height: 4vmin;
  }
  ion-avatar{
    width: 100%;
  }


  ion-content.content {
    background-color: $masterColor;
  }

  .img-hiu{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: unset;
  }
  .rel{
    color: $adornColor;
    font-size: 13px;
  }

  .button{
    width: 100%;
    background:transparent;
    margin: 0;
    border-radius: 0;
  }
  ion-buttons{
    margin: 0;
  }

  .scroll-content{
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .fdname{
    padding: 10px;
    margin: 40px 30% 5px 30%;
    color: $fontMasterColor;
    font-size: 18px;
    font-weight: bold;
  }

}
