page-fd {
  background-color: #000;

  .w-auto {
    flex: 1;
  }

  .grid {
    padding: 0;
  }

  .grid .row {
    height: 100%;
  }

  .list {
    width: 100%;
  }

  .list-header, .list-header-md, .list-header-ios {
    border: 0;
  }

  ion-header ion-toolbar .toolbar-background,.toolbar-background-md,.toolbar-background-ios {
    background-color: #96162d;
  }

  ion-header{
    padding: 4px 20px;
  }

  .img-header-left{
    width: 4vmin;
    height: 4vmin;
  }

  .toolbar-title{
    color: white;
    letter-spacing: 0.5vmin;
    font-size: 1.5rem;
  }

  .bar-button-ios{
    font-size: 1.5rem;
  }

  ion-input{
    font-size: 1.5rem;
  }

  ion-content.content {
    background-color: #96162d;
    color: #fff;
  }

  .img-hiu{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: unset;
  }

  .button{
    width: 100%;
    background: #96162d;
  }

  .scroll-content{
    overflow-x: hidden;
    overflow-y: hidden;
  }

  #fdname{
    padding: 10px;
    margin: 30px 30% 5px 30%;
    border-bottom: 1px solid #fff
  }

  ion-label{
    margin:5px;
  }
}
