page-fs4c ,page-fs4g{
  background-color: #000;

  .w-auto {
    flex: 1;
  }

  .grid {
    padding: 0;
  }

  .grid .row {
    height: 100%;
  }

  .list {
    width: 100%;
  }

  .list-header, .list-header-md, .list-header-ios {
    border: 0;
  }

  ion-header ion-toolbar .toolbar-background,.toolbar-background-md,.toolbar-background-ios {
    background-color: #000;
  }

  ion-header{
    padding: 4px 20px;
  }

  .img-header-left{
    width: 4vmin;
    height: 4vmin;
  }

  .toolbar-title{
    color: white;
    letter-spacing: 0.5vmin;
    font-size: 1.5rem;
  }

  .bar-button-ios{
    font-size: 1.5rem;
  }

  ion-input{
    font-size: 1.5rem;
  }

  ion-content.content {
    background-color: #000;
    color: #fff;
  }

  ion-content .plan-list-item {
    background-color: #000;
    color: #fff;
    padding-left: 8px;
    font-size: 1.5rem;
    min-height: 9vmin;
  }

  .list-ios .item-block .item-inner {
    padding-right: 0;
  }

  .content-gc{
    width: 12px;
    height: 15px;
  }

  .scroll-content{
    overflow-x: auto;
    overflow-y: auto;
  }

  ion-checkbox {
    left: 75%;
  }
  .item.item-ios .checkbox-ios {
    position: relative;
    display: block;
    margin: 0;
  }
  .item-inner{
    margin-left: -30px;
  }
}
