<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleDisplayName</key>
	<string>冥王星</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>cn.sh.com.xj.timeApp</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>zh</string>
		<string>en</string>
		<string>de</string>
		<string>nl</string>
		<string>fr</string>
		<string>it</string>
		<string>pt-BR</string>
	</array>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>15</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>127.0.0.1</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>[冥王星]需要您的同意,才能访问媒体资料库</string>
	<key>NSCalendarsUsageDescription</key>
	<string>[冥王星]需要您的同意,才能访问日历</string>
	<key>NSCameraUsageDescription</key>
	<string>[冥王星]需要您的同意,才能访问相机</string>
	<key>NSContactsUsageDescription</key>
	<string>[冥王星]需要您的同意,才能访问相册使用您的通讯录</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>[冥王星]需要您的同意,才能始终访问位置</string>
	<key>NSLocationUsageDescription</key>
	<string>[冥王星]需要您的同意,才能访问位置</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>[冥王星]需要您的同意,才能在使用期间访问位置</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>[冥王星]需要您的同意,才能访问麦克风</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>[冥王星]需要您的同意,才能访问相册</string>
	<key>NSRemindersUsageDescription</key>
	<string>[冥王星]需要您的同意,才能访问提醒事项</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>remote-notification</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
