<!--
  Generated template for the SbPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>创建日程</ion-title>
    <ion-buttons end padding-right>
      <button (click)="newProject()" ion-only ion-button>
          发布
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-label></ion-label>

  <ion-textarea placeholder="要发的内容..." [(ngModel)]="title"></ion-textarea>

  <div ion-item no-padding>
    <div *ngFor="let index of select">
      <div float-left margin-left title="{{pRelAl[index].ran}}">
        <ion-thumbnail ion-button color="light" float-start class="button-border padding-0 " no-margin>
          <img src="http://pics.sc.chinaz.com/files/pic/pic9/201811/bpic9202.jpg" class="button-border">
        </ion-thumbnail>
        <div style="clear: both; font-size:10px;width:56px;overflow: hidden;text-overflow: ellipsis;" text-center >{{pRelAl[index].ran}}</div>
      </div>
    </div>
    <div float-left margin-left (click)="showCheckbox()">
      <ion-thumbnail ion-button color="light" class="div-add-border button-border" no-margin >
        <ion-icon name="add"></ion-icon>
      </ion-thumbnail>
      <div style="clear: both; font-size:10px" text-center></div>
    </div>
  </div>

  <div ion-item>
    <ion-label></ion-label>
    <!--<ion-select item-end [(ngModel)]="type" style="width: 100px">-->
      <!--<ion-option [selected]="true" value="BQA">任务</ion-option>-->
      <!--<ion-option [selected]="false" value="BQB">日常</ion-option>-->
      <!--<ion-option [selected]="false" value="BQC">日程</ion-option>-->
      <!--<ion-option [selected]="false" value="BQD">纪念日</ion-option>-->
      <!--<ion-option [selected]="false" value="BQE">备忘录</ion-option>-->
    <!--</ion-select>-->
    <ion-select item-end [(ngModel)]="type" placeholder="标签">
      <ion-option  *ngFor="let lb of lbs" value="{{lb.lai}}">{{lb.lan}}</ion-option>
    </ion-select>
  </div>
  <button ion-item>
    <img src="./assets/imgs/1.png" item-start/>
    <ion-label>时间</ion-label>
    <!--<ion-label text-end>2018年11月20日</ion-label>-->
    <ion-datetime displayFormat="YYYY-MM-DD HH:mm" [(ngModel)]="startTime"></ion-datetime>
  </button>
  <ion-item *ngIf="false">
    <img src="./assets/imgs/4.png" item-start/>
    <ion-label>重复类型</ion-label>
    <ion-select item-end >
      <ion-option [selected]="true">月</ion-option>
      <ion-option [selected]="false">年</ion-option>
      <ion-option [selected]="false">周</ion-option>
      <ion-option [selected]="false">日</ion-option>
    </ion-select>
  </ion-item>
  <button ion-item  *ngIf="false">
    <img src="./assets/imgs/1.png" item-start/>
    <ion-label>重复时间</ion-label>
    <ion-datetime displayFormat="MM-DD"></ion-datetime>
  </button>
  <button ion-item *ngIf="false">
    <img src="./assets/imgs/b.png" item-start/>
    <ion-label>备注</ion-label>
    <ion-input text-end type="text">2018年11月20日</ion-input>
  </button>

    <!--<button ion-icon>-->
    <!--<div style="background-color: #f1f1f1;width: 150px" padding>-->
      <!--<img src="./assets/imgs/i.png"/>添加计划-->
    <!--</div>-->
    <!--</button>-->


  <!--<ion-list>-->

    <!--<ion-item>-->
      <!--<ion-label floating>参与人</ion-label>-->
      <!--&lt;!&ndash;<ion-select [(ngModel)]="" multiple="true">&ndash;&gt;-->
        <!--&lt;!&ndash;<div>&ndash;&gt;-->
          <!--&lt;!&ndash;<ion-option>张三</ion-option>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;</ion-select>&ndash;&gt;-->
    <!--</ion-item>-->

    <!--<ion-item>-->
      <!--<ion-label floating>日程内容</ion-label>-->
      <!--&lt;!&ndash;<ion-input type="text" ></ion-input>&ndash;&gt;-->
    <!--</ion-item>-->


    <!--<ion-item>-->
      <!--<ion-label floating>标签</ion-label>-->
      <!--&lt;!&ndash;<ion-select (focus)="findLabel()" multiple="true" ion-text="标签">&ndash;&gt;-->
        <!--&lt;!&ndash;<div >&ndash;&gt;-->
          <!--&lt;!&ndash;<ion-option >}</ion-option>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;</ion-select>&ndash;&gt;-->
    <!--</ion-item>-->

  <!--</ion-list>-->

  <!--<ion-list>-->
    <!--<ion-item>-->
      <!--<ion-label>全天</ion-label>-->
      <!--<ion-toggle checked="false"></ion-toggle>-->
    <!--</ion-item>-->

    <!--<ion-item>-->
      <!--<ion-label floating>开始时间</ion-label>-->
      <!--<ion-datetime displayFormat="YYYY-MM-DD HH:mm DDDD "></ion-datetime>-->

    <!--</ion-item>-->

    <!--<ion-item>-->
      <!--<ion-label floating>结束时间</ion-label>-->
      <!--<ion-datetime displayFormat="HH:mm YYYY-MM-DD DDDD"></ion-datetime>-->
    <!--</ion-item>-->
  <!--</ion-list>-->

</ion-content>
