page-sb {
  .padding-0{
    padding: 0 !important;

  }

  .scroll-content {
    padding-left: 16px !important;
    padding-right: 16px !important;
    padding-bottom: 16px !important;
  }

  .item-inner{
    border-bottom: 0 !important;
  }

  .item-block.item-ios{
    border-bottom: 0.55px solid #c8c7cc ;
  }


  .div-add-border{
    border: 0.5px dotted #ccc;
  }
  .button-border{
    border-radius: 50%;
  }

  textarea.text-input{
    height:120px;
  }

  ion-textarea{
    border:0.5px solid #f2f2f2;
    border-radius: 5px;
  }

  .item-ios>img{
    width: 20px;
    height: 20px;
  }

  .pop-css{
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 80% !important;
    height: 40% !important;
    background-color: #FFFFFF;
    z-index: 1000;
    border-radius: 20px;
  }

  .selectcss{
    border-radius: 20px;
    border:1px solid #df34d2;
    background-color: #FFF;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .noselectcss{
    border-radius: 20px;
    border:1px solid #f5f5f5;
    background-color: #85db82;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .jhCss{
    border-radius: 20px;
    border:1px solid #df34d2;
    background-color: #FFF;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
  }



  .titlecss{
    font-size: 16px;
    padding-bottom:16px;
    border-bottom: 0.58px solid #7f8e9e;
    margin-top: 16px;

  }

  .contentcss{
  }

  .flexCss{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

  }

  .buttonCssA{
    padding:5px;
    border-radius: 5%;
    background-color: #f0f0f0;
    border:0.5px solid #7f8e9e;
    .divCssA{
      padding: 3px;

    }
  }

  .buttonCssB{
    padding:5px;
    border-radius: 5%;
    background-color: #fff;
    border:0.5px solid #24BEB9;
    color:#24BEB9;
    .divCssB{
      padding: 3px;

    }
  }

  .bor{
    border-radius: 5px;
  }

  ion-thumbnail img{
    width: 45px;
    height: 45px;
  }

  .height56{
    height: 56px;
  }

  .padding-left-0{
    padding-left: 0px;
  }

  .arrowCss{
    left: 5px;
    top: 50%;
    margin-top: -2px;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 5px solid;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    color: #24BEB9;
    pointer-events: none;
  }



  .selectCss {
    /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
    border: solid 1px #000;
    border-radius: 5px;

    /*很关键：将默认的select选择框样式清除*/
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;

    /*在选择框的最右侧中间显示小箭头图片*/
    background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll right center transparent;


    /*为下拉小箭头留出一点位置，避免被文字覆盖*/
    padding-right: 14px;
    padding-top: 8px;
    padding-bottom:8px ;
    padding-left: 8px;
  }


  /*清除ie的默认选择框样式清除，隐藏下拉箭头*/
  select::-ms-expand { display: none; }


}
.itemClass{
  z-index: 20 !important;

}
