swagger: '2.0'
info:
  description: 效吉软件日历产品Client-Server接口交互定义.
  version: 1.0.0
  title: Swagger 效吉日历
  termsOfService: 'https://pluto.guobaa.com/terms/'
  contact:
    email: apiteam@guobaa.com
  license:
    name: 效吉软件版权所有
    url: 'http://pluto.guobaa.com/LICENSE-1.0.html'
host: www.guobaa.com
basePath: /
tags:
  - name: share
    description: '日程与计划分享, 内建计划下载'
  - name: initial
    description: 产品初始化参数
  - name: backup
    description: 客户端数据备份与恢复
  - name: inteligence service
    description: 智能服务
  - name: account service
    description: 帐户服务
schemes:
  - https
  - http
paths:
  /ini/parameters:
    get:
      tags:
        - initial
      summary: 获取产品初始化参数
      description: ''
      produces:
        - application/json
      parameters:
        - name: lt
          in: header
          type: string
          description: 登录令牌
          required: false
        - name: pi
          in: header
          type: string
          description: 产品ID
          required: true
        - name: pv
          in: header
          type: string
          description: 产品版本
          required: true
        - name: di
          in: header
          type: string
          description: 设备ID
          required: true
        - name: dt
          in: header
          type: string
          description: 设备类型
          required: true
      responses:
        '200':
          description: 获取初始化参数成功
          schema:
            type: object
            properties:
              rc:
                type: integer
              rm:
                type: string
              d:
                type: object
                properties:
                  apil:
                    type: array
                    items:
                      type: object
                  bipl:
                    type: array
                    items:
                      type: object
                  vrs:
                    type: array
                    items:
                      type: object
  /sha/agendashare:
    post:
      tags:
        - share
      summary: 分享日程
      description: ''
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: lt
          in: header
          type: string
          description: 登录令牌
          required: false
        - name: pi
          in: header
          type: string
          description: 产品ID
          required: true
        - name: pv
          in: header
          type: string
          description: 产品版本
          required: true
        - name: ai
          in: header
          type: string
          description: 帐户ID
          required: true
        - name: di
          in: header
          type: string
          description: 设备ID
          required: true
        - name: dt
          in: header
          type: string
          description: 设备类型
          required: true
        - name: body
          in: body
          description: 当前分享日程对象
          required: true
          schema:
            type: object
            properties:
              oai:
                type: string
                description: 操作帐户ID
              ompn:
                type: string
                description: 操作手机号码
              c:
                type: object
                description: 上下文
              d:
                type: object
                properties:
                  a:
                    type: object
                    $ref: '#/definitions/Agenda'
      responses:
        '200':
          description: 日程分享成功
          schema:
            type: object
            properties:
              rc:
                type: integer
              rm:
                type: string
              d:
                type: object
                properties:
                  asurl:
                    type: string
        '405':
          description: Invalid input
  '/sha/agenda/share/{shareid}':
    get:
      tags:
        - share
      summary: 分享日程浏览
      description: ''
      produces:
        - text/html
      parameters:
        - name: shareid
          in: path
          description: 共享ID
          required: true
          type: string
      responses:
        '200':
          description: 显示分享日程
  /sha/planshare:
    post:
      tags:
        - share
      summary: 分享计划
      description: ''
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: lt
          in: header
          type: string
          description: 登录令牌
          required: false
        - name: pi
          in: header
          type: string
          description: 产品ID
          required: true
        - name: pv
          in: header
          type: string
          description: 产品版本
          required: true
        - name: ai
          in: header
          type: string
          description: 帐户ID
          required: true
        - name: di
          in: header
          type: string
          description: 设备ID
          required: true
        - name: dt
          in: header
          type: string
          description: 设备类型
          required: true
        - name: body
          in: body
          description: 当前分享计划对象
          required: true
          schema:
            type: object
            properties:
              oai:
                type: string
                description: 操作帐户ID
              ompn:
                type: string
                description: 操作手机号码
              c:
                type: object
                description: 上下文
              d:
                type: object
                properties:
                  p:
                    $ref: '#/definitions/Plan'
      responses:
        '200':
          description: 计划分享成功
          schema:
            type: object
            properties:
              rc:
                type: integer
              rm:
                type: string
              d:
                type: object
                properties:
                  asurl:
                    type: string
        '405':
          description: Invalid input
  '/sha/plan/share/{shareid}':
    get:
      tags:
        - share
      summary: 分享计划浏览
      description: ''
      produces:
        - text/html
      parameters:
        - name: shareid
          in: path
          description: 共享ID
          required: true
          type: string
      responses:
        '200':
          description: 显示分享计划
  /sha/plan/buildin/download:
    post:
      tags:
        - share
      summary: 内建计划下载
      description: ''
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: lt
          in: header
          type: string
          description: 登录令牌
          required: false
        - name: pi
          in: header
          type: string
          description: 产品ID
          required: true
        - name: pv
          in: header
          type: string
          description: 产品版本
          required: true
        - name: ai
          in: header
          type: string
          description: 帐户ID
          required: false
        - name: di
          in: header
          type: string
          description: 设备ID
          required: true
        - name: dt
          in: header
          type: string
          description: 设备类型
          required: true
        - name: body
          in: body
          description: 内建计划下载条件
          required: true
          schema:
            type: object
            properties:
              oai:
                type: string
                description: 操作帐户ID
              ompn:
                type: string
                description: 操作手机号码
              c:
                type: object
                description: 上下文
              d:
                type: object
                properties:
                  pi:
                    type: string
                    description: 计划ID
      responses:
        '200':
          description: 下载内建计划成功
          schema:
            type: object
            properties:
              rc:
                type: integer
              rm:
                type: string
              d:
                $ref: '#/definitions/Plan'
        '405':
          description: Invalid input
  /bac/backup:
    post:
      tags:
        - backup
      summary: 备份日历数据
      description: ''
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: lt
          in: header
          type: string
          description: 登录令牌
          required: false
        - name: pi
          in: header
          type: string
          description: 产品ID
          required: true
        - name: pv
          in: header
          type: string
          description: 产品版本
          required: true
        - name: di
          in: header
          type: string
          description: 设备ID
          required: true
        - name: dt
          in: header
          type: string
          description: 设备类型
          required: true
        - name: ai
          in: header
          type: string
          description: 帐户ID
          required: true
        - name: body
          in: body
          description: 备份版本识别符和备份数据
          required: true
          schema:
            type: object
            properties:
              oai:
                type: string
                description: 操作帐户ID
              ompn:
                type: string
                description: 操作手机号码
              c:
                type: object
                description: 上下文
              d:
                type: object
                properties:
                  bts:
                    type: integer
                    format: int64
                    description: 备份时间戳
                  default:
                    description: '备份数据, 表名作为字段名, 表数据为数组对象值, 无数据放空数组'
      responses:
        '200':
          description: 备份成功
          schema:
            type: object
            properties:
              rc:
                type: integer
              rm:
                type: string
              d:
                type: object
                properties:
                  bts:
                    type: string
                    format: int64
                    description: 备份时间戳
        '405':
          description: Invalid input
  /bac/recover:
    post:
      tags:
        - backup
      summary: 恢复日历数据
      description: ''
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: lt
          in: header
          type: string
          description: 登录令牌
          required: false
        - name: pi
          in: header
          type: string
          description: 产品ID
          required: true
        - name: pv
          in: header
          type: string
          description: 产品版本
          required: true
        - name: di
          in: header
          type: string
          description: 设备ID
          required: true
        - name: dt
          in: header
          type: string
          description: 设备类型
          required: true
        - name: ai
          in: header
          type: string
          description: 帐户ID
          required: true
        - name: body
          in: body
          description: 恢复指定备份时间戳的日历数据
          required: true
          schema:
            type: object
            properties:
              oai:
                type: string
                description: 操作帐户ID
              ompn:
                type: string
                description: 操作手机号码
              c:
                type: object
                description: 上下文
              d:
                type: object
                properties:
                  bts:
                    type: integer
                    format: int64
                    description: 备份时间戳
      responses:
        '200':
          description: 获取备份数据成功
          schema:
            type: object
            properties:
              rc:
                type: integer
              rm:
                type: string
              d:
                type: object
                properties:
                  default:
                    description: 备份日历数据
        '405':
          description: Invalid input
  /bac/latest:
    get:
      tags:
        - backup
      summary: 获取日历数据备份时间戳
      description: ''
      produces:
        - application/json
      parameters:
        - name: lt
          in: header
          type: string
          description: 登录令牌
          required: false
        - name: pi
          in: header
          type: string
          description: 产品ID
          required: true
        - name: pv
          in: header
          type: string
          description: 产品版本
          required: true
        - name: di
          in: header
          type: string
          description: 设备ID
          required: true
        - name: dt
          in: header
          type: string
          description: 设备类型
          required: true
        - name: ai
          in: header
          type: string
          description: 帐户ID
          required: true
      responses:
        '200':
          description: 获取备份数据成功
          schema:
            type: object
            properties:
              rc:
                type: integer
              rm:
                type: string
              d:
                type: object
                properties:
                  bts:
                    type: integer
                    format: int64
                    description: 备份时间戳
        '405':
          description: Invalid input
  /ias/starter/audio:
    post:
      tags:
      - inteligence service
      summary: "智能音频语音服务"
      description: ""
      produces: 
        - application/json
      parameters: 
        - name: lt
          in: header
          type: string
          description: 登录令牌
          required: false
        - name: pi
          in: header
          type: string
          description: 产品ID
          required: true
        - name: pv
          in: header
          type: string
          description: 产品版本
          required: true
        - name: di
          in: header
          type: string
          description: 设备ID
          required: true
        - name: dt
          in: header
          type: string
          description: 设备类型
          required: true
        - name: ai
          in: header
          type: string
          description: 帐户ID
          required: true
        - name: body
          in: body
          description: 语音服务请求数据
          required: true
          schema:
            type: object
            properties:
              c:
                type: object
                description: 上下文
              d:
                type: object
                properties:
                  vb64:
                    type: string
                    description: Base64编码语音
      responses:
        '200':
          description: 语音服务请求成功
          schema:
            type: object
            properties:
              rc:
                type: integer
              rm:
                type: string
              d:
                type: object
  /ias/starter/text:
    post:
      tags:
      - inteligence service
      summary: "智能文本语音服务"
      description: ""
      produces: 
        - application/json
      parameters: 
        - name: lt
          in: header
          type: string
          description: 登录令牌
          required: false
        - name: pi
          in: header
          type: string
          description: 产品ID
          required: true
        - name: pv
          in: header
          type: string
          description: 产品版本
          required: true
        - name: di
          in: header
          type: string
          description: 设备ID
          required: true
        - name: dt
          in: header
          type: string
          description: 设备类型
          required: true
        - name: ai
          in: header
          type: string
          description: 帐户ID
          required: true
        - name: body
          in: body
          description: 语音服务请求数据
          required: true
          schema:
            type: object
            properties:
              c:
                type: object
                description: 上下文
              d:
                type: object
                properties:
                  text:
                    type: string
                    description: 文本文字
      responses:
        '200':
          description: 语音服务请求成功
          schema:
            type: object
            properties:
              rc:
                type: integer
              rm:
                type: string
              d:
                type: object
  /aup/dologin:
    post:
      tags:
      - account service
      summary: "帐户登录"
      description: ""
      consumes:
        - application/json
      produces: 
        - application/json
      parameters: 
        - name: body
          in: body
          description: 帐户登录请求数据
          required: true
          schema:
            type: object
            properties:
              phoneno:
                type: string
                description: 手机号码
              verifykey:
                type: string
                description: 短信验证码KEY(可选)
              verifycode:
                type: string
                description: 短信验证码(可选)
              userpassword:
                type: string
                description: 帐户密码(可选)
      responses:
        '200':
          description: 帐户登录请求成功
          schema:
            type: object
            properties:
              errcode:
                type: integer
              errmsg:
                type: string
              data:
                type: object
  /aup/doregister:
    post:
      tags:
      - account service
      summary: "帐户注册"
      description: ""
      consumes:
        - application/json
      produces: 
        - application/json
      parameters: 
        - name: body
          in: body
          description: 帐户注册请求数据
          required: true
          schema:
            type: object
            properties:
              phoneno:
                type: string
                description: 手机号码
              verifykey:
                type: string
                description: 短信验证码KEY
              verifycode:
                type: string
                description: 短信验证码
              username:
                type: string
                description: 姓名
              userpassword:
                type: string
                description: 帐户密码
      responses:
        '200':
          description: 帐户注册成功
          schema:
            type: object
            properties:
              errcode:
                type: integer
              errmsg:
                type: string
              data:
                type: object
  /aup/verifycode:
    post:
      tags:
      - account service
      summary: "发送短信验证码"
      description: ""
      consumes:
        - application/json
      produces: 
        - application/json
      parameters: 
        - name: body
          in: body
          description: 短信验证码发送请求数据
          required: true
          schema:
            type: object
            properties:
              phoneno:
                type: string
                description: 手机号码
      responses:
        '200':
          description: 短信验证码发送请求成功
          schema:
            type: object
            properties:
              errcode:
                type: integer
              errmsg:
                type: string
              data:
                type: object
  /aup/api/access_token:
    get:
      tags:
      - account service
      summary: "登录令牌获取"
      description: ""
      produces: 
        - application/json
      parameters: 
        - name: appid
          in: query
          type: string
          description: 授权应用ID
          required: true
        - name: secret
          in: query
          type: string
          description: 授权应用密钥
          required: true
        - name: code
          in: query
          type: string
          description: 登录授权码
          required: true
        - name: grant_type
          in: query
          type: string
          description: 授权方式
          required: true
      responses:
        '200':
          description: 登录令牌获取成功
          schema:
            type: object
            properties:
              errcode:
                type: integer
              errmsg:
                type: string
              data:
                type: object
              access_token:
                type: string
              refresh_token:
                type: string
              access_time:
                type: integer
              expires_in:
                type: integer
  /aup/api/refresh_token:
    get:
      tags:
      - account service
      summary: "刷新登录令牌"
      description: ""
      produces: 
        - application/json
      parameters: 
        - name: appid
          in: query
          type: string
          description: 授权应用ID
          required: true
        - name: refresh_token
          in: query
          type: string
          description: 刷新令牌
          required: true
        - name: grant_type
          in: query
          type: string
          description: 授权方式
          required: true
      responses:
        '200':
          description: 登录令牌刷新成功
          schema:
            type: object
            properties:
              errcode:
                type: integer
              errmsg:
                type: string
              data:
                type: object
              access_token:
                type: string
              refresh_token:
                type: string
              access_time:
                type: integer
              expires_in:
                type: integer
  /aup/api/userinfo:
    get:
      tags:
      - account service
      summary: "获取帐户信息"
      description: ""
      produces: 
        - application/json
      parameters: 
        - name: openid
          in: query
          type: string
          description: 第三方用户ID
          required: true
        - name: access_token
          in: query
          type: string
          description: 登录令牌
          required: true
      responses:
        '200':
          description: 帐户信息获取成功
          schema:
            type: object
            properties:
              errcode:
                type: integer
              errmsg:
                type: string
              data:
                type: object
definitions:
  Agenda:
    type: object
    description: 日程
    properties:
      ai:
        type: string
      at:
        type: string
      adt:
        type: string
        format: date
      ap:
        type: string
      ar:
        type: string
      aa:
        type: string
      am:
        type: string
      ac:
        type: array
        items:
          type: object
  Plan:
    type: object
    description: 计划
    properties:
      pn:
        type: object
      pa:
        type: array
        items:
          $ref: '#/definitions/Agenda'
  Contact:
    type: object
    description: 联系人
    properties:
      ai:
        type: string
      mpn:
        type: string
externalDocs:
  description: Find out more about Swagger
  url: 'http://swagger.io'
