swagger: '2.0'
info:
  description: 效吉软件日历产品Client-Server接口交互定义.
  version: 1.0.0
  title: Swagger 效吉日历
  termsOfService: 'https://pluto.guobaa.com/terms/'
  contact:
    email: apiteam@guobaa.com
  license:
    name: 效吉软件版权所有
    url: 'http://pluto.guobaa.com/LICENSE-1.0.html'
host: www.guobaa.com
basePath: /
tags:
  - name: share
    description: '日程与计划分享, 内建计划下载'
  - name: initial
    description: 产品初始化参数
  - name: backup
    description: 客户端数据备份与恢复
  - name: inteligence service
    description: 智能服务
  - name: account service
    description: 帐户服务
  - name: avatar service
    description: 头像图片服务
  - name: caculate service
    description: 计算服务
  - name: agenda
    description: 日程
  - name: black
    description: 黑名单
  - name: sms
    description: 短信接口
schemes:
  - https
  - http
paths:
  /nlp/api/parsetext:
    get:
      tags:
        - inteligence service
      summary: 自然语言分析
      description: ''
      produces:
        - application/json
      parameters:
        - name: text
          in: query
          type: string
          description: 中文句子
          required: true
      responses:
        '200':
          description: 中文语义分析成功返回
          schema:
            type: object
            properties:
              function:
                type: string
  /aaf/convert/base64:
    post:
      tags:
        - avatar service
      summary: "图片转换成Base64图片格式"
      consumes:
      - multipart/form-data
      produces:
        - text/plain
      parameters:
        - in: formData
          name: imagefile
          type: file
          description: 图片文件
      responses:
        200:
          description: "转换成功"
          content:
            text/plain:
              schema:
                type: string
        400:
          description: "Invalid status value"
  /cdc/{caculateid}/starter:
    post:
      tags:
        - caculate service
      summary: 计算重复日程
      description: ''
      produces:
        - application/json
      parameters:
        - name: caculateid
          in: path
          type: string
          description: 计算ID
          required: true
        - name: body
          in: body
          description: 日程计算目标日程数据
          required: true
          schema:
            type: object
            properties:
              d:
                type: object
      responses:
        '200':
          description: 返回计算结果
          schema:
            type: object
            properties:
              rc:
                type: integer
              rm:
                type: string
              d:
                type: object
                properties:
                  apil:
                    type: array
                    items:
                      type: object
                  bipl:
                    type: array
                    items:
                      type: object
                  vrs:
                    type: array
                    items:
                      type: object
                  dpfu:
                    type: array
                    items:
                      type: object
  /cdc/{flowid}/query/trigger:
    post:
      tags:
        - caculate service
      summary: 触发作业流
      description: ''
      produces:
        - application/json
      parameters:
        - name: flowid
          in: path
          type: string
          description: 作业流程ID
          required: true
        - name: from
          in: query
          description: 开始年份（获取香港天文台农历数据）
          required: false
        - name: to
          in: query
          description: 截止年份（获取香港天文台农历数据）
          required: false
      responses:
        '200':
          description: 作业流触发成功
          schema:
            type: object
            properties:
              rc:
                type: integer
              rm:
                type: string
              d:
                type: object
  /ini/parameters:
    get:
      tags:
        - initial
      summary: 获取产品初始化参数
      description: ''
      produces:
        - application/json
      parameters:
        - name: lt
          in: header
          type: string
          description: 登录令牌
          required: false
        - name: pi
          in: header
          type: string
          description: 产品ID
          required: true
        - name: pv
          in: header
          type: string
          description: 产品版本
          required: true
        - name: di
          in: header
          type: string
          description: 设备ID
          required: true
        - name: dt
          in: header
          type: string
          description: 设备类型
          required: true
      responses:
        '200':
          description: 获取初始化参数成功
          schema:
            type: object
            properties:
              rc:
                type: integer
              rm:
                type: string
              d:
                type: object
                properties:
                  apil:
                    type: array
                    items:
                      type: object
                  bipl:
                    type: array
                    items:
                      type: object
                  vrs:
                    type: array
                    items:
                      type: object
                  dpfu:
                    type: array
                    items:
                      type: object
  /sha/agendashare:
    post:
      tags:
        - share
      summary: 分享日程
      description: ''
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: lt
          in: header
          type: string
          description: 登录令牌
          required: false
        - name: pi
          in: header
          type: string
          description: 产品ID
          required: true
        - name: pv
          in: header
          type: string
          description: 产品版本
          required: true
        - name: ai
          in: header
          type: string
          description: 帐户ID
          required: true
        - name: di
          in: header
          type: string
          description: 设备ID
          required: true
        - name: dt
          in: header
          type: string
          description: 设备类型
          required: true
        - name: body
          in: body
          description: 当前分享日程对象
          required: true
          schema:
            type: object
            properties:
              oai:
                type: string
                description: 操作帐户ID
              ompn:
                type: string
                description: 操作手机号码
              c:
                type: object
                description: 上下文
              d:
                type: object
                properties:
                  a:
                    type: object
                    $ref: '#/definitions/Agenda'
      responses:
        '200':
          description: 日程分享成功
          schema:
            type: object
            properties:
              rc:
                type: integer
              rm:
                type: string
              d:
                type: object
                properties:
                  asurl:
                    type: string
        '405':
          description: Invalid input
  '/sha/agenda/share/{shareid}':
    get:
      tags:
        - share
      summary: 分享日程浏览
      description: ''
      produces:
        - text/html
      parameters:
        - name: shareid
          in: path
          description: 共享ID
          required: true
          type: string
      responses:
        '200':
          description: 显示分享日程
  /sha/planshare:
    post:
      tags:
        - share
      summary: 分享计划
      description: ''
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: lt
          in: header
          type: string
          description: 登录令牌
          required: false
        - name: pi
          in: header
          type: string
          description: 产品ID
          required: true
        - name: pv
          in: header
          type: string
          description: 产品版本
          required: true
        - name: ai
          in: header
          type: string
          description: 帐户ID
          required: true
        - name: di
          in: header
          type: string
          description: 设备ID
          required: true
        - name: dt
          in: header
          type: string
          description: 设备类型
          required: true
        - name: body
          in: body
          description: 当前分享计划对象
          required: true
          schema:
            type: object
            properties:
              oai:
                type: string
                description: 操作帐户ID
              ompn:
                type: string
                description: 操作手机号码
              c:
                type: object
                description: 上下文
              d:
                type: object
                properties:
                  p:
                    $ref: '#/definitions/Plan'
      responses:
        '200':
          description: 计划分享成功
          schema:
            type: object
            properties:
              rc:
                type: integer
              rm:
                type: string
              d:
                type: object
                properties:
                  asurl:
                    type: string
        '405':
          description: Invalid input
  '/sha/plan/share/{shareid}':
    get:
      tags:
        - share
      summary: 分享计划浏览
      description: ''
      produces:
        - text/html
      parameters:
        - name: shareid
          in: path
          description: 共享ID
          required: true
          type: string
      responses:
        '200':
          description: 显示分享计划
  /sha/plan/buildin/download:
    post:
      tags:
        - share
      summary: 内建计划下载
      description: ''
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: lt
          in: header
          type: string
          description: 登录令牌
          required: false
        - name: pi
          in: header
          type: string
          description: 产品ID
          required: true
        - name: pv
          in: header
          type: string
          description: 产品版本
          required: true
        - name: ai
          in: header
          type: string
          description: 帐户ID
          required: false
        - name: di
          in: header
          type: string
          description: 设备ID
          required: true
        - name: dt
          in: header
          type: string
          description: 设备类型
          required: true
        - name: body
          in: body
          description: 内建计划下载条件
          required: true
          schema:
            type: object
            properties:
              oai:
                type: string
                description: 操作帐户ID
              ompn:
                type: string
                description: 操作手机号码
              c:
                type: object
                description: 上下文
              d:
                type: object
                properties:
                  pi:
                    type: string
                    description: 计划ID
      responses:
        '200':
          description: 下载内建计划成功
          schema:
            type: object
            properties:
              rc:
                type: integer
              rm:
                type: string
              d:
                $ref: '#/definitions/Plan'
        '405':
          description: Invalid input
  /bac/backup:
    post:
      tags:
        - backup
      summary: 备份日历数据
      description: '备份时间戳(bts)字段可选, 当一次备份需要上传多次的时候, 第一次备份请求返回的备份时间戳(bts)放入第二次备份请求参数中, 服务器将本次备份放入指定的备份版本中。备份数据放入和备份时间戳同级位置, 数据表名作为Key, 数据表中的数据以数组形式放入Value, 例如：<br>{<br>"d": <br>{<br>"bts": 0, <br>"TableA": [{...}, {...}, ...]<br>}<br>}'
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: lt
          in: header
          type: string
          description: 登录令牌
          required: false
        - name: pi
          in: header
          type: string
          description: 产品ID
          required: true
        - name: pv
          in: header
          type: string
          description: 产品版本
          required: true
        - name: di
          in: header
          type: string
          description: 设备ID
          required: true
        - name: dt
          in: header
          type: string
          description: 设备类型
          required: true
        - name: ai
          in: header
          type: string
          description: 帐户ID
          required: true
        - name: body
          in: body
          description: 备份版本识别符和备份数据
          required: true
          schema:
            type: object
            properties:
              oai:
                type: string
                description: 操作帐户ID
              ompn:
                type: string
                description: 操作手机号码
              c:
                type: object
                description: 上下文
              d:
                type: object
                properties:
                  bts:
                    type: integer
                    format: int64
                    description: 备份时间戳
                  default:
                    description: '备份数据, 表名作为字段名, 表数据为数组对象值, 无数据放空数组'
      responses:
        '200':
          description: 备份成功
          schema:
            type: object
            properties:
              rc:
                type: integer
              rm:
                type: string
              d:
                type: object
                properties:
                  bts:
                    type: string
                    format: int64
                    description: 备份时间戳
        '405':
          description: Invalid input
  /bac/recover:
    post:
      tags:
        - backup
      summary: 恢复日历数据
      description: ''
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: lt
          in: header
          type: string
          description: 登录令牌
          required: false
        - name: pi
          in: header
          type: string
          description: 产品ID
          required: true
        - name: pv
          in: header
          type: string
          description: 产品版本
          required: true
        - name: di
          in: header
          type: string
          description: 设备ID
          required: true
        - name: dt
          in: header
          type: string
          description: 设备类型
          required: true
        - name: ai
          in: header
          type: string
          description: 帐户ID
          required: true
        - name: body
          in: body
          description: 恢复指定备份时间戳的日历数据
          required: true
          schema:
            type: object
            properties:
              oai:
                type: string
                description: 操作帐户ID
              ompn:
                type: string
                description: 操作手机号码
              c:
                type: object
                description: 上下文
              d:
                type: object
                properties:
                  bts:
                    type: integer
                    format: int64
                    description: 备份时间戳
                  rdn:
                    type: array
                    description: 恢复数据表名称列表
                    items:
                      type: string
      responses:
        '200':
          description: 获取备份数据成功
          schema:
            type: object
            properties:
              rc:
                type: integer
              rm:
                type: string
              d:
                type: object
                properties:
                  default:
                    description: 备份日历数据
        '405':
          description: Invalid input
  /bac/latest:
    get:
      tags:
        - backup
      summary: 获取日历数据备份时间戳
      description: ''
      produces:
        - application/json
      parameters:
        - name: lt
          in: header
          type: string
          description: 登录令牌
          required: false
        - name: pi
          in: header
          type: string
          description: 产品ID
          required: true
        - name: pv
          in: header
          type: string
          description: 产品版本
          required: true
        - name: di
          in: header
          type: string
          description: 设备ID
          required: true
        - name: dt
          in: header
          type: string
          description: 设备类型
          required: true
        - name: ai
          in: header
          type: string
          description: 帐户ID
          required: true
      responses:
        '200':
          description: 获取备份数据成功
          schema:
            type: object
            properties:
              rc:
                type: integer
              rm:
                type: string
              d:
                type: object
                properties:
                  bts:
                    type: integer
                    format: int64
                    description: 备份时间戳
        '405':
          description: Invalid input
      security:
        - mwxing_auth:
            - any
  /ias/starter/audio:
    post:
      tags:
        - inteligence service
      summary: 智能音频语音服务
      description: ''
      produces:
        - application/json
      parameters:
        - name: lt
          in: header
          type: string
          description: 登录令牌
          required: false
        - name: pi
          in: header
          type: string
          description: 产品ID
          required: true
        - name: pv
          in: header
          type: string
          description: 产品版本
          required: true
        - name: di
          in: header
          type: string
          description: 设备ID
          required: true
        - name: dt
          in: header
          type: string
          description: 设备类型
          required: true
        - name: ai
          in: header
          type: string
          description: 帐户ID
          required: true
        - name: body
          in: body
          description: 语音服务请求数据
          required: true
          schema:
            type: object
            properties:
              c:
                type: object
                description: 上下文
              d:
                type: object
                properties:
                  vb64:
                    type: string
                    description: Base64编码语音
      responses:
        '200':
          description: 语音服务请求成功
          schema:
            type: object
            properties:
              rc:
                type: integer
              rm:
                type: string
              d:
                type: object
  /ias/starter/text:
    post:
      tags:
        - inteligence service
      summary: 智能文本语音服务
      description: ''
      produces:
        - application/json
      parameters:
        - name: lt
          in: header
          type: string
          description: 登录令牌
          required: false
        - name: pi
          in: header
          type: string
          description: 产品ID
          required: true
        - name: pv
          in: header
          type: string
          description: 产品版本
          required: true
        - name: di
          in: header
          type: string
          description: 设备ID
          required: true
        - name: dt
          in: header
          type: string
          description: 设备类型
          required: true
        - name: ai
          in: header
          type: string
          description: 帐户ID
          required: true
        - name: body
          in: body
          description: 语音服务请求数据
          required: true
          schema:
            type: object
            properties:
              c:
                type: object
                description: 上下文
              d:
                type: object
                properties:
                  text:
                    type: string
                    description: 文本文字
      responses:
        '200':
          description: 语音服务请求成功
          schema:
            type: object
            properties:
              rc:
                type: integer
              rm:
                type: string
              d:
                type: object
  /aup/dologin:
    post:
      tags:
        - account service
      summary: 帐户登录
      description: '登录成功后取得code, 使用api/access_token取得token和用户信息, 完成登录流程'
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          description: 帐户登录请求数据
          required: true
          schema:
            type: object
            properties:
              phoneno:
                type: string
                description: 手机号码
              verifykey:
                type: string
                description: 短信验证码KEY(可选 短信登录时必须)
              verifycode:
                type: string
                description: 短信验证码(可选 短信登录时必须)
              userpassword:
                type: string
                description: 帐户密码(可选 密码登录时必须)
      responses:
        '200':
          description: 帐户登录请求成功
          schema:
            type: object
            properties:
              errcode:
                type: integer
              errmsg:
                type: string
              data:
                type: object
  /aup/doregister:
    post:
      tags:
        - account service
      summary: 帐户注册
      description: ''
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          description: 帐户注册请求数据
          required: true
          schema:
            type: object
            properties:
              phoneno:
                type: string
                description: 手机号码
              verifykey:
                type: string
                description: 短信验证码KEY
              verifycode:
                type: string
                description: 短信验证码
              username:
                type: string
                description: 姓名
              userpassword:
                type: string
                description: 帐户密码
      responses:
        '200':
          description: 帐户注册成功
          schema:
            type: object
            properties:
              errcode:
                type: integer
              errmsg:
                type: string
              data:
                type: object
  /aup/verifycode:
    post:
      tags:
        - account service
      summary: 发送短信验证码
      description: ''
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          description: 短信验证码发送请求数据
          required: true
          schema:
            type: object
            properties:
              phoneno:
                type: string
                description: 手机号码
      responses:
        '200':
          description: 短信验证码发送请求成功
          schema:
            type: object
            properties:
              errcode:
                type: integer
              errmsg:
                type: string
              data:
                type: object
  '/aup/user/{unionid}':
    get:
      tags:
        - account service
      summary: 取得帐户信息
      description: ''
      produces:
        - application/json
      parameters:
        - name: lt
          in: header
          type: string
          description: 登录令牌
          required: true
        - name: pi
          in: header
          type: string
          description: 产品ID
          required: true
        - name: pv
          in: header
          type: string
          description: 产品版本
          required: true
        - name: di
          in: header
          type: string
          description: 设备ID
          required: true
        - name: dt
          in: header
          type: string
          description: 设备类型
          required: true
        - name: ai
          in: header
          type: string
          description: 帐户ID
          required: true
        - name: unionid
          in: path
          type: string
          description: 帐户唯一ID
          required: true
      responses:
        '200':
          description: 帐户信息取得成功
          schema:
            type: object
            properties:
              errcode:
                type: integer
              errmsg:
                type: string
              data:
                type: object
    put:
      tags:
        - account service
      summary: 更新用户信息(包括密码)
      description: '更新用户信息时, 只上传需要更新的字段内容, 例如:修改密码时, 只上传密码'
      produces:
        - application/json
      parameters:
        - name: lt
          in: header
          type: string
          description: 登录令牌
          required: true
        - name: pi
          in: header
          type: string
          description: 产品ID
          required: true
        - name: pv
          in: header
          type: string
          description: 产品版本
          required: true
        - name: di
          in: header
          type: string
          description: 设备ID
          required: true
        - name: dt
          in: header
          type: string
          description: 设备类型
          required: true
        - name: ai
          in: header
          type: string
          description: 帐户ID
          required: true
        - name: unionid
          in: path
          type: string
          description: 帐户唯一ID
          required: true
        - name: body
          in: body
          description: 帐户信息更新请求数据
          required: true
          schema:
            type: object
            properties:
              nickname:
                type: string
                description: 姓名
              password:
                type: string
                description: 密码
              sex:
                type: string
                enum:
                  - '0'
                  - '1'
                  - '2'
                description: '性别 0 未知, 1 男性, 2 女性'
              avatar:
                type: string
                description: 头像
              birthday:
                type: string
                format: date
                description: 出生日期
              province:
                type: string
                description: 省市/地区
              city:
                type: string
                description: 城市
              country:
                type: string
                description: 国家
      responses:
        '200':
          description: 帐户信息更新成功
          schema:
            type: object
            properties:
              errcode:
                type: integer
              errmsg:
                type: string
              data:
                type: object
  '/aup/user/{phoneno}/userinfo':
    get:
      tags:
        - account service
      summary: 通过手机查询帐户概要信息
      description: ''
      produces:
        - application/json
      parameters:
        - name: phoneno
          in: path
          type: string
          description: 手机号码
          required: true
      responses:
        '200':
          description: 帐户概要信息取得成功
          schema:
            type: object
            properties:
              errcode:
                type: integer
              errmsg:
                type: string
              data:
                type: object
  '/aup/user/{phoneno}/avatar':
    get:
      tags:
        - account service
      summary: 通过手机查询帐户头像
      description: '匹配到帐户时,返回base64编码的图片,其它情况返回json格式错误信息'
      produces:
        - application/json
        - text/plain
      parameters:
        - name: phoneno
          in: path
          type: string
          description: 手机号码
          required: true
      responses:
        '200':
          description: 头像取得返回
          schema:
            type: string
        default:
          description: 未知异常
          schema:
            type: object
            properties:
              errcode:
                type: integer
              errmsg:
                type: string
              data:
                type: object
  /aup/api/access_token:
    get:
      tags:
        - account service
      summary: 登录令牌获取
      description: '获取登录令牌需要提供appid和secret, 这两个参数可以在客户端写死, 测试用appid:d3d3Lmd1b2JhYS5jb20, secret:c2VjcmV0QHd3dy5ndW9iYWEuY29t'
      produces:
        - application/json
      parameters:
        - name: appid
          in: query
          type: string
          description: 授权应用ID
          required: true
        - name: secret
          in: query
          type: string
          description: 授权应用密钥
          required: true
        - name: code
          in: query
          type: string
          description: 登录授权码
          required: true
        - name: grant_type
          in: query
          type: string
          description: 授权方式
          required: true
      responses:
        '200':
          description: 登录令牌获取成功
          schema:
            type: object
            properties:
              errcode:
                type: integer
              errmsg:
                type: string
              data:
                type: object
              access_token:
                type: string
              refresh_token:
                type: string
              access_time:
                type: integer
              expires_in:
                type: integer
  /aba/user/mwxing/access:
    get:
      tags:
        - account service
      summary: 登录令牌获取(统一登录入口获取令牌)
      description: '获取登录令牌需要提供appid和secret, 这两个参数可以在客户端写死, 测试用appid:d3d3Lmd1b2JhYS5jb20, secret:c2VjcmV0QHd3dy5ndW9iYWEuY29t'
      produces:
        - application/json
      parameters:
        - name: appid
          in: query
          type: string
          description: 授权应用ID
          required: true
        - name: secret
          in: query
          type: string
          description: 授权应用密钥
          required: true
        - name: code
          in: query
          type: string
          description: 登录授权码
          required: true
        - name: grant_type
          in: query
          type: string
          description: 授权方式
          required: true
      responses:
        '200':
          description: 登录令牌获取成功
          schema:
            type: object
            properties:
              errcode:
                type: integer
              errmsg:
                type: string
              data:
                type: object
              access_token:
                type: string
              refresh_token:
                type: string
              access_time:
                type: integer
              expires_in:
                type: integer
  /aup/api/refresh_token:
    get:
      tags:
        - account service
      summary: 刷新登录令牌
      description: ''
      produces:
        - application/json
      parameters:
        - name: appid
          in: query
          type: string
          description: 授权应用ID
          required: true
        - name: refresh_token
          in: query
          type: string
          description: 刷新令牌
          required: true
        - name: grant_type
          in: query
          type: string
          description: 授权方式
          required: true
      responses:
        '200':
          description: 登录令牌刷新成功
          schema:
            type: object
            properties:
              errcode:
                type: integer
              errmsg:
                type: string
              data:
                type: object
              access_token:
                type: string
              refresh_token:
                type: string
              access_time:
                type: integer
              expires_in:
                type: integer
  /aup/api/userinfo:
    get:
      tags:
        - account service
      summary: 获取帐户信息
      description: ''
      produces:
        - application/json
      parameters:
        - name: openid
          in: query
          type: string
          description: 第三方用户ID
          required: true
        - name: access_token
          in: query
          type: string
          description: 登录令牌
          required: true
      responses:
        '200':
          description: 帐户信息获取成功
          schema:
            type: object
            properties:
              errcode:
                type: integer
              errmsg:
                type: string
              data:
                type: object
  /agd/agenda/save:
    post:
      tags:
        - agenda
      summary: 日程保存/更新
      description: ''
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: lt
          in: header
          type: string
          description: 登录令牌
          required: false
        - name: pi
          in: header
          type: string
          description: 产品ID
          required: true
        - name: pv
          in: header
          type: string
          description: 产品版本
          required: true
        - name: ai
          in: header
          type: string
          description: 帐户ID
          required: false
        - name: di
          in: header
          type: string
          description: 设备ID
          required: true
        - name: dt
          in: header
          type: string
          description: 设备类型
          required: true
        - name: body
          in: body
          description: 日程保存/更新
          required: true
          schema:
            type: object
            properties:
              rai:
                type: string
                description: 关联日程ID
              fc:
                type: string
                description: 来自于谁(日程发送人用户ID)
              ai:
                type: string
                description: 日程ID
              at:
                type: string
                description: 主题
              adt:
                type: string
                description: '时间(YYYY/MM/DD HH:mm)'
              ap:
                type: string
                description: 计划
              ar:
                type: string
                description: 重复
              aa:
                type: string
                description: 提醒
              am:
                type: string
                description: 备注
              ac:
                type: object
                properties:
                  ai:
                    type: string
                    description: 帐户ID
                  mpn:
                    type: string
                    description: 手机号码
                  'n':
                    type: string
                    description: 姓名
                  a:
                    type: string
                    description: 头像
                  s:
                    type: string
                    description: 性别
                  bd:
                    type: string
                    description: 生日
      responses:
        '200':
          description: 保存/更新成功
          schema:
            type: object
            properties:
              rc:
                type: integer
              rm:
                type: string
              d:
                type: object
        '405':
          description: Invalid input
  /agd/agenda/info:
    post:
      tags:
        - agenda
      summary: 根据日程ID获取信息
      description: ''
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: lt
          in: header
          type: string
          description: 登录令牌
          required: false
        - name: pi
          in: header
          type: string
          description: 产品ID
          required: true
        - name: pv
          in: header
          type: string
          description: 产品版本
          required: true
        - name: ai
          in: header
          type: string
          description: 帐户ID
          required: false
        - name: di
          in: header
          type: string
          description: 设备ID
          required: true
        - name: dt
          in: header
          type: string
          description: 设备类型
          required: true
        - name: body
          in: body
          description: 日程获取信息条件日程ID"
          required: true
          schema:
            type: object
            properties:
              ai:
                type: string
                description: 日程ID
      responses:
        '200':
          description: 日程获取信息成功
          schema:
            type: object
            properties:
              rc:
                type: integer
              rm:
                type: string
              d:
                type: object
        '405':
          description: Invalid input
  /agd/agenda/remove:
    post:
      tags:
        - agenda
      summary: 根据日程ID删除日程信息
      description: ''
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: lt
          in: header
          type: string
          description: 登录令牌
          required: false
        - name: pi
          in: header
          type: string
          description: 产品ID
          required: true
        - name: pv
          in: header
          type: string
          description: 产品版本
          required: true
        - name: ai
          in: header
          type: string
          description: 帐户ID
          required: false
        - name: di
          in: header
          type: string
          description: 设备ID
          required: true
        - name: dt
          in: header
          type: string
          description: 设备类型
          required: true
        - name: body
          in: body
          description: 删除日程条件日程ID
          required: true
          schema:
            type: object
            properties:
              ai:
                type: string
                description: 删除日程条件日程ID
      responses:
        '200':
          description: 删除日程信息成功
          schema:
            type: object
            properties:
              rc:
                type: integer
              rm:
                type: string
              d:
                type: object
        '405':
          description: Invalid input
  /agd/agendacontacts/save:
    post:
      tags:
        - agenda
      summary: 保存日程参与人
      description: ''
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: lt
          in: header
          type: string
          description: 登录令牌
          required: false
        - name: pi
          in: header
          type: string
          description: 产品ID
          required: true
        - name: pv
          in: header
          type: string
          description: 产品版本
          required: true
        - name: ai
          in: header
          type: string
          description: 帐户ID
          required: false
        - name: di
          in: header
          type: string
          description: 设备ID
          required: true
        - name: dt
          in: header
          type: string
          description: 设备类型
          required: true
        - name: body
          in: body
          description: 保存日程参与人条件
          required: true
          schema:
            type: object
            properties:
              ai:
                type: string
                description: 日程ID
              ac:
                type: object
                properties:
                  ai:
                    type: string
                    description: 帐户ID
                  mpn:
                    type: string
                    description: 手机号码
                  'n':
                    type: string
                    description: 姓名
                  a:
                    type: string
                    description: 头像
                  s:
                    type: string
                    description: 性别
                  bd:
                    type: string
                    description: 生日
      responses:
        '200':
          description: 保存日程参与人成功
          schema:
            type: object
            properties:
              rc:
                type: integer
              rm:
                type: string
              d:
                type: object
        '405':
          description: Invalid input
  /bla/target/add:
    post:
      tags:
        - black
      summary: 添加黑名单
      description: ''
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: lt
          in: header
          type: string
          description: 登录令牌
          required: false
        - name: pi
          in: header
          type: string
          description: 产品ID
          required: true
        - name: pv
          in: header
          type: string
          description: 产品版本
          required: true
        - name: ai
          in: header
          type: string
          description: 帐户ID
          required: false
        - name: di
          in: header
          type: string
          description: 设备ID
          required: true
        - name: dt
          in: header
          type: string
          description: 设备类型
          required: true
        - name: body
          in: body
          description: 添加黑名单人员信息
          required: true
          schema:
            type: object
            properties:
              ai:
                type: string
                description: 帐户ID
              mpn:
                type: string
                description: 手机号码
              'n':
                type: string
                description: 姓名
              a:
                type: string
                description: 头像
              s:
                type: string
                description: 性别
              bd:
                type: string
                description: 生日
      responses:
        '200':
          description: 添加黑名单人员成功
          schema:
            type: object
            properties:
              rc:
                type: integer
              rm:
                type: string
              d:
                type: object
        '405':
          description: Invalid input
  /bla/target/remove:
    post:
      tags:
        - black
      summary: 删除单个黑名单人员
      description: ''
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: lt
          in: header
          type: string
          description: 登录令牌
          required: false
        - name: pi
          in: header
          type: string
          description: 产品ID
          required: true
        - name: pv
          in: header
          type: string
          description: 产品版本
          required: true
        - name: ai
          in: header
          type: string
          description: 帐户ID
          required: false
        - name: di
          in: header
          type: string
          description: 设备ID
          required: true
        - name: dt
          in: header
          type: string
          description: 设备类型
          required: true
        - name: body
          in: body
          description: 添加黑名单人员信息
          required: true
          schema:
            type: object
            properties:
              ai:
                type: string
                description: 帐户ID
              mpn:
                type: string
                description: 手机号码
      responses:
        '200':
          description: 删除单个黑名单人员
          schema:
            type: object
            properties:
              rc:
                type: integer
              rm:
                type: string
              d:
                type: object
        '405':
          description: Invalid input
  /bla/list:
    post:
      tags:
        - black
      summary: 获取黑名单信息成功
      description: ''
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: lt
          in: header
          type: string
          description: 登录令牌
          required: false
        - name: pi
          in: header
          type: string
          description: 产品ID
          required: true
        - name: pv
          in: header
          type: string
          description: 产品版本
          required: true
        - name: ai
          in: header
          type: string
          description: 帐户ID
          required: false
        - name: di
          in: header
          type: string
          description: 设备ID
          required: true
        - name: dt
          in: header
          type: string
          description: 设备类型
          required: true
      responses:
        '200':
          description: 获取黑名单信息成功
          schema:
            type: object
            properties:
              rc:
                type: integer
              rm:
                type: string
              d:
                type: object
        '405':
          description: Invalid input
  /bla/getOne:
    post:
      tags:
        - black
      summary: 添加黑名单
      description: ''
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: relId
          in: query
          type: string
          description: 关联账户ID
          required: false
        - name: mpn
          in: query
          type: string
          description: 加入黑名单的手机号
          required: true
      responses:
        '200':
          description: 添加黑名单人员成功
          schema:
            type: object
            properties:
              rc:
                type: integer
              rm:
                type: string
              d:
                type: object
        '405':
          description: Invalid input
  /sms/send:
    post:
      tags:
        - sms
      summary: 短信发送接口
      description: ''
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: platformType
          in: query
          type: string
          description: 平台
          required: false
        - name: mobile
          in: query
          type: string
          description: 手机号
          required: true
        - name: sendType
          in: query
          type: string
          description: '模板ID  0:验证码   1:日程共享发送未注册'
          required: true
        - name: sendContent
          in: query
          type: string
          description: 发送内容  sendType=0是改内容为超时时间
          required: false
      responses:
        '200':
          description: 获取黑名单信息成功
          schema:
            type: object
            properties:
              rc:
                type: integer
              rm:
                type: string
              d:
                type: object
        '405':
          description: Invalid input
definitions:
  Agenda:
    type: object
    description: 日程
    properties:
      ai:
        type: string
      at:
        type: string
      adt:
        type: string
        format: date
      ap:
        type: string
      ar:
        type: string
      aa:
        type: string
      am:
        type: string
      ac:
        type: array
        items:
          type: object
  Plan:
    type: object
    description: 计划
    properties:
      pn:
        type: object
        properties:
          pt:
            type: string
            description: 计划标题
          pd:
            type: string
            description: 计划描述
          pm:
            type: string
            description: 计划颜色标记
          pc:
            type: string
            description: 计划类型
            enum:
              - build-in
              - custom
      pa:
        type: array
        items:
          $ref: '#/definitions/Agenda'
  Contact:
    type: object
    description: 联系人
    properties:
      ai:
        type: string
      mpn:
        type: string
securityDefinitions:
  mwxing_auth:
    type: oauth2
    authorizationUrl: 'https://www.guobaa.com/auo/login?appid=d3d3Lmd1b2JhYS5jb20'
    tokenUrl: 'https://www.guobaa.com/auo/api/access_token'
    flow: accessCode
    scopes:
      any: do anythings in your account
externalDocs:
  description: Find out more about Swagger
  url: 'http://swagger.io'
