[Unit]
Description=Short Application INI Service
[Service]
User=root
# The configuration file application.properties should be here:
#change this to your workspace
WorkingDirectory=/opt/duan/ini
#path to executable. 
#executable is a bash script which calls jar file
ExecStart=/opt/duan/ini/startup.sh
ExecReload=/opt/duan/ini/startup.sh
ExecStop=/opt/duan/ini/stop.sh
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5
[Install]
WantedBy=multi-user.target
