<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-BaiduSpeechAndTTS" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-plugin-BaiduSpeechAndTTS</name>
    <js-module name="XjBaiduSpeech" src="www/xjBaiduSpeech.js">
        <clobbers target="cordova.plugins.XjBaiduSpeech"/>
    </js-module>
    <js-module name="XjBaiduTts" src="www/xjBaiduTts.js">
        <clobbers target="cordova.plugins.XjBaiduTts"/>
    </js-module>
    <js-module name="XjBaiduWakeUp" src="www/xjBaiduWakeUp.js">
        <clobbers target="cordova.plugins.XjBaiduWakeUp"/>
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="XjBaiduSpeech">
                <param name="android-package" value="com.xj.ionic.speechandtts.XjBaiduSpeech"/>
            </feature>
            <feature name="XjBaiduTts">
                <param name="android-package" value="com.xj.ionic.speechandtts.XjBaiduTts"/>
            </feature>
            <feature name="XjBaiduWakeUp">
                <param name="android-package" value="com.xj.ionic.speechandtts.XjBaiduWakeUp"/>
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.RECORD_AUDIO" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
            <uses-permission android:name="android.permission.WRITE_SETTINGS" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
            <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

        </config-file>

        <config-file parent="application" target="AndroidManifest.xml">
            <meta-data android:name="com.baidu.speech.APP_ID" android:value="14502702" />
            <meta-data android:name="com.baidu.speech.API_KEY" android:value="6YvlNRGZ5I4CkA715XnVyoSm" />
            <meta-data android:name="com.baidu.speech.SECRET_KEY" android:value="9oHZPMLgc0BM9a4m3DhpHUhGSqYvsrAF" />

        </config-file>

        <!-- JAVA-->
        <source-file src="src/android/com/xj/ionic/speechandtts/XjBaiduTts.java" target-dir="src/com/xj/ionic/speechandtts/"/>
        <source-file src="src/android/com/xj/ionic/speechandtts/XjBaiduSpeech.java" target-dir="src/com/xj/ionic/speechandtts/"/>
        <source-file src="src/android/com/xj/ionic/speechandtts/XjBaiduWakeUp.java" target-dir="src/com/xj/ionic/speechandtts/"/>

        <source-file src="src/android/com/xj/ionic/speechandtts/listener/XjSpeechRecogListener.java" target-dir="src/com/xj/ionic/speechandtts/listener/"/>
        <source-file src="src/android/com/xj/ionic/speechandtts/listener/XjTtsListener.java" target-dir="src/com/xj/ionic/speechandtts/listener/"/>
        <source-file src="src/android/com/xj/ionic/speechandtts/listener/XjWakeupListener.java" target-dir="src/com/xj/ionic/speechandtts/listener/"/>


        <source-file src="src/android/com/baidu/aip/asrwakeup3/core/recog/IStatus.java" target-dir="src/com/baidu/aip/asrwakeup3/core/recog/"/>
        <source-file src="src/android/com/baidu/aip/asrwakeup3/core/recog/MyRecognizer.java" target-dir="src/com/baidu/aip/asrwakeup3/core/recog/"/>
        <source-file src="src/android/com/baidu/aip/asrwakeup3/core/recog/RecogResult.java" target-dir="src/com/baidu/aip/asrwakeup3/core/recog/"/>

        <source-file src="src/android/com/baidu/aip/asrwakeup3/core/recog/listener/ChainRecogListener.java" target-dir="src/com/baidu/aip/asrwakeup3/core/recog/listener/"/>
        <source-file src="src/android/com/baidu/aip/asrwakeup3/core/recog/listener/IRecogListener.java" target-dir="src/com/baidu/aip/asrwakeup3/core/recog/listener/"/>
        <source-file src="src/android/com/baidu/aip/asrwakeup3/core/recog/listener/MessageStatusRecogListener.java" target-dir="src/com/baidu/aip/asrwakeup3/core/recog/listener/"/>
        <source-file src="src/android/com/baidu/aip/asrwakeup3/core/recog/listener/RecogEventAdapter.java" target-dir="src/com/baidu/aip/asrwakeup3/core/recog/listener/"/>
        <source-file src="src/android/com/baidu/aip/asrwakeup3/core/recog/listener/StatusRecogListener.java" target-dir="src/com/baidu/aip/asrwakeup3/core/recog/listener/"/>


        <source-file src="src/android/com/baidu/aip/asrwakeup3/core/util/FileUtil.java" target-dir="src/com/baidu/aip/asrwakeup3/core/util/"/>
        <source-file src="src/android/com/baidu/aip/asrwakeup3/core/util/MyLogger.java" target-dir="src/com/baidu/aip/asrwakeup3/core/util/"/>


        <source-file src="src/android/com/baidu/aip/asrwakeup3/core/wakeup/IWakeupListener.java" target-dir="src/com/baidu/aip/asrwakeup3/core/wakeup/"/>
        <source-file src="src/android/com/baidu/aip/asrwakeup3/core/wakeup/MyWakeup.java" target-dir="src/com/baidu/aip/asrwakeup3/core/wakeup/"/>
        <source-file src="src/android/com/baidu/aip/asrwakeup3/core/wakeup/RecogWakeupListener.java" target-dir="src/com/baidu/aip/asrwakeup3/core/wakeup/"/>
        <source-file src="src/android/com/baidu/aip/asrwakeup3/core/wakeup/SimpleWakeupListener.java" target-dir="src/com/baidu/aip/asrwakeup3/core/wakeup/"/>
        <source-file src="src/android/com/baidu/aip/asrwakeup3/core/wakeup/WakeupEventAdapter.java" target-dir="src/com/baidu/aip/asrwakeup3/core/wakeup/"/>
        <source-file src="src/android/com/baidu/aip/asrwakeup3/core/wakeup/WakeUpResult.java" target-dir="src/com/baidu/aip/asrwakeup3/core/wakeup/"/>

        <source-file src="src/android/com/baidu/tts/MyTts.java" target-dir="src/com/baidu/tts/"/>
        <source-file src="src/android/com/baidu/tts/sample/MainHandlerConstant.java" target-dir="src/com/baidu/tts/sample/"/>

        <source-file src="src/android/com/baidu/tts/sample/control/InitConfig.java" target-dir="src/com/baidu/tts/sample/control/"/>
        <source-file src="src/android/com/baidu/tts/sample/control/MySyntherizer.java" target-dir="src/com/baidu/tts/sample/control/"/>
        <source-file src="src/android/com/baidu/tts/sample/control/NonBlockSyntherizer.java" target-dir="src/com/baidu/tts/sample/control/"/>
        <source-file src="src/android/com/baidu/tts/sample/listener/MessageListener.java" target-dir="src/com/baidu/tts/sample/listener/"/>
        <source-file src="src/android/com/baidu/tts/sample/util/AutoCheck.java" target-dir="src/com/baidu/tts/sample/util/"/>
        <source-file src="src/android/com/baidu/tts/sample/util/FileUtil.java" target-dir="src/com/baidu/tts/sample/util/"/>
        <source-file src="src/android/com/baidu/tts/sample/util/OfflineResource.java" target-dir="src/com/baidu/tts/sample/util/"/>


        <!--lib-->
        <source-file src="src/android/libs/bdasr_V3_20191210_81acdf5.jar" target-dir="libs"/>
        <source-file src="src/android/libs/com.baidu.tts_2.5.5.109.20191014_01b8485.jar" target-dir="libs"/>

        <source-file src="src/android/libs/jniLibs/arm64-v8a/libBaiduSpeechSDK.so" target-dir="libs/arm64-v8a"/>
        <source-file src="src/android/libs/jniLibs/arm64-v8a/libbd_easr_s1_merge_normal_20151216.dat.so" target-dir="libs/arm64-v8a"/>
        <source-file src="src/android/libs/jniLibs/arm64-v8a/libbd_etts.so" target-dir="libs/arm64-v8a"/>
        <source-file src="src/android/libs/jniLibs/arm64-v8a/libbdEASRAndroid.so" target-dir="libs/arm64-v8a"/>
        <source-file src="src/android/libs/jniLibs/arm64-v8a/libBDSpeechDecoder_V1.so" target-dir="libs/arm64-v8a"/>
        <source-file src="src/android/libs/jniLibs/arm64-v8a/libbdSpilWakeup.so" target-dir="libs/arm64-v8a"/>
        <source-file src="src/android/libs/jniLibs/arm64-v8a/libgnustl_shared.so" target-dir="libs/arm64-v8a"/>
        <source-file src="src/android/libs/jniLibs/arm64-v8a/libvad.dnn.so" target-dir="libs/arm64-v8a"/>


        <source-file src="src/android/libs/jniLibs/armeabi/libBaiduSpeechSDK.so" target-dir="libs/armeabi"/>
        <source-file src="src/android/libs/jniLibs/armeabi/libbd_easr_s1_merge_normal_20151216.dat.so" target-dir="libs/armeabi"/>
        <source-file src="src/android/libs/jniLibs/armeabi/libbd_etts.so" target-dir="libs/armeabi"/>
        <source-file src="src/android/libs/jniLibs/armeabi/libbdEASRAndroid.so" target-dir="libs/armeabi"/>
        <source-file src="src/android/libs/jniLibs/armeabi/libBDSpeechDecoder_V1.so" target-dir="libs/armeabi"/>
        <source-file src="src/android/libs/jniLibs/armeabi/libbdSpilWakeup.so" target-dir="libs/armeabi"/>
        <source-file src="src/android/libs/jniLibs/armeabi/libgnustl_shared.so" target-dir="libs/armeabi"/>
        <source-file src="src/android/libs/jniLibs/armeabi/libvad.dnn.so" target-dir="libs/armeabi"/>


        <source-file src="src/android/libs/jniLibs/armeabi-v7a/libBaiduSpeechSDK.so" target-dir="libs/armeabi-v7a"/>
        <source-file src="src/android/libs/jniLibs/armeabi-v7a/libbd_easr_s1_merge_normal_20151216.dat.so" target-dir="libs/armeabi-v7a"/>
        <source-file src="src/android/libs/jniLibs/armeabi-v7a/libbd_etts.so" target-dir="libs/armeabi-v7a"/>
        <source-file src="src/android/libs/jniLibs/armeabi-v7a/libbdEASRAndroid.so" target-dir="libs/armeabi-v7a"/>
        <source-file src="src/android/libs/jniLibs/armeabi-v7a/libBDSpeechDecoder_V1.so" target-dir="libs/armeabi-v7a"/>
        <source-file src="src/android/libs/jniLibs/armeabi-v7a/libbdSpilWakeup.so" target-dir="libs/armeabi-v7a"/>
        <source-file src="src/android/libs/jniLibs/armeabi-v7a/libgnustl_shared.so" target-dir="libs/armeabi-v7a"/>
        <source-file src="src/android/libs/jniLibs/armeabi-v7a/libvad.dnn.so" target-dir="libs/armeabi-v7a"/>


        <source-file src="src/android/libs/jniLibs/x86/libBaiduSpeechSDK.so" target-dir="libs/x86"/>
        <source-file src="src/android/libs/jniLibs/x86/libbd_easr_s1_merge_normal_20151216.dat.so" target-dir="libs/x86"/>
        <source-file src="src/android/libs/jniLibs/x86/libbd_etts.so" target-dir="libs/x86"/>
        <source-file src="src/android/libs/jniLibs/x86/libbdEASRAndroid.so" target-dir="libs/x86"/>
        <source-file src="src/android/libs/jniLibs/x86/libBDSpeechDecoder_V1.so" target-dir="libs/x86"/>
        <source-file src="src/android/libs/jniLibs/x86/libbdSpilWakeup.so" target-dir="libs/x86"/>
        <source-file src="src/android/libs/jniLibs/x86/libgnustl_shared.so" target-dir="libs/x86"/>
        <source-file src="src/android/libs/jniLibs/x86/libvad.dnn.so" target-dir="libs/x86"/>


        <source-file src="src/android/libs/jniLibs/x86_64/libBaiduSpeechSDK.so" target-dir="libs/x86_64"/>
        <source-file src="src/android/libs/jniLibs/x86_64/libbd_easr_s1_merge_normal_20151216.dat.so" target-dir="libs/x86_64"/>
        <source-file src="src/android/libs/jniLibs/x86_64/libbd_etts.so" target-dir="libs/x86_64"/>
        <source-file src="src/android/libs/jniLibs/x86_64/libbdEASRAndroid.so" target-dir="libs/x86_64"/>
        <source-file src="src/android/libs/jniLibs/x86_64/libBDSpeechDecoder_V1.so" target-dir="libs/x86_64"/>
        <source-file src="src/android/libs/jniLibs/x86_64/libbdSpilWakeup.so" target-dir="libs/x86_64"/>
        <source-file src="src/android/libs/jniLibs/x86_64/libgnustl_shared.so" target-dir="libs/x86_64"/>
        <source-file src="src/android/libs/jniLibs/x86_64/libvad.dnn.so" target-dir="libs/x86_64"/>

        <!--Assets -->
        <source-file src="src/android/assets/WakeUp.bin" target-dir="assets"/>
        <source-file src="src/android/assets/baidu_speech_grammar.bsg" target-dir="assets"/>
        <source-file src="src/android/assets/baiduTTS/bd_etts_common_speech_as_mand_eng_high_am_v3.0.0_20170516.dat" target-dir="assets/"/>
        <source-file src="src/android/assets/baiduTTS/bd_etts_common_speech_f7_mand_eng_high_am-mix_v3.0.0_20170512.dat" target-dir="assets/"/>
        <source-file src="src/android/assets/baiduTTS/bd_etts_common_speech_m15_mand_eng_high_am-mix_v3.0.0_20170505.dat" target-dir="assets/"/>
        <source-file src="src/android/assets/baiduTTS/bd_etts_common_speech_yyjw_mand_eng_high_am-mix_v3.0.0_20170512.dat" target-dir="assets/"/>
        <source-file src="src/android/assets/baiduTTS/bd_etts_text.dat" target-dir="assets/"/>
        <source-file src="src/android/assets/baiduTTS/auth.properties" target-dir="assets/"/>

        <source-file src="src/android/assets/msc/iat.pcm" target-dir="assets/msc/"/>

        <!-- res raw -->
        <source-file src="src/android/res/raw/bdspeech_recognition_cancel.mp3" target-dir="res/raw/"/>
        <source-file src="src/android/res/raw/bdspeech_recognition_error.mp3" target-dir="res/raw/"/>
        <source-file src="src/android/res/raw/bdspeech_recognition_start.mp3" target-dir="res/raw/"/>
        <source-file src="src/android/res/raw/bdspeech_recognition_success.mp3" target-dir="res/raw/"/>
        <source-file src="src/android/res/raw/bdspeech_speech_end.mp3" target-dir="res/raw/"/>

    </platform>

    <platform name="ios">
        <config-file parent="/*" target="config.xml">

            <feature name="XjBaiduSpeech">
                <param name="ios-package" value="XjBaiduSpeech"/>
            </feature>
            <feature name="XjBaiduTts">
                <param name="ios-package" value="XjBaiduTts"/>
            </feature>
            <feature name="XjBaiduWakeUp">
                <param name="ios-package" value="XjBaiduWakeUp"/>
            </feature>

            <preference name="bdasrappid" value="14502702"/>
            <preference name="bdasrapikey" value="6YvlNRGZ5I4CkA715XnVyoSm"/>
            <preference name="bdasrsecretkey" value="9oHZPMLgc0BM9a4m3DhpHUhGSqYvsrAF"/>
        </config-file>

        <!-- 运行支持库-->
        <framework src="libc++.tbd" weak="true"/>
        <framework src="libz.1.2.5.tbd" weak="true"/>
        <framework src="libiconv.2.4.0.tdb" weak="true"/>
        <framework src="AVFoundation.framework" weak="true"/>
        <framework src="CFNetwork.framework" weak="true"/>
        <framework src="CoreLocation.framework" weak="true"/>
        <framework src="CoreTelephony.framework" weak="true"/>
        <framework src="SystemConfiguration.framework" weak="true"/>
        <framework src="GLKit.framework" weak="true"/>

        <!-- ASR 头部文件-->
        <header-file src="src/ios/BDSClientHeaders/ASR/BDSASRDefines.h"/>
        <header-file src="src/ios/BDSClientHeaders/ASR/BDSASRParameters.h"/>
        <header-file src="src/ios/BDSClientHeaders/ASR/BDSEventManager.h"/>
        <header-file src="src/ios/BDSClientHeaders/ASR/BDSUploaderDefines.h"/>
        <header-file src="src/ios/BDSClientHeaders/ASR/BDSUploaderParameters.h"/>
        <header-file src="src/ios/BDSClientHeaders/ASR/BDSWakeupDefines.h"/>
        <header-file src="src/ios/BDSClientHeaders/ASR/BDSWakeupParameters.h"/>

        <!-- TTS 头部文件-->
        <header-file src="src/ios/BDSClientHeaders/TTS/BDS_EttsModelManagerInterface.h"/>
        <header-file src="src/ios/BDSClientHeaders/TTS/BDSBuiltInPlayer.h"/>
        <header-file src="src/ios/BDSClientHeaders/TTS/BDSMixedModeSynthesizer.h"/>
        <header-file src="src/ios/BDSClientHeaders/TTS/BDSSpeechSynthesizer.h"/>
        <header-file src="src/ios/BDSClientHeaders/TTS/BDSSpeechSynthesizerDelegate.h"/>
        <header-file src="src/ios/BDSClientHeaders/TTS/BDSSpeechSynthesizerErrors.h"/>
        <header-file src="src/ios/BDSClientHeaders/TTS/BDSSpeechSynthesizerParams.h"/>
        <header-file src="src/ios/BDSClientHeaders/TTS/BDSSynthesizerLogLevel.h"/>
        <header-file src="src/ios/BDSClientHeaders/TTS/BDSSynthesizerStatusNotifications.h"/>
        <header-file src="src/ios/BDSClientHeaders/TTS/BDSTTSEventManager.h"/>



        <resource-file src="src/ios/BDSClientLib/BDSClientResource.bundle/BDSClientEASRResources/bds_easr_basic_model.dat"/>
        <!--<resource-file src="src/ios/BDSClientLib/BDSClientResource.bundle/BDSClientEASRResources/bds_easr_dnn_wakeup_model.dat"/>-->
        <resource-file src="src/ios/BDSClientLib/BDSClientResource.bundle/BDSClientEASRResources/bds_easr_gramm.dat"/>
        <resource-file src="src/ios/BDSClientLib/BDSClientResource.bundle/BDSClientEASRResources/bds_easr_input_model.dat"/>
        <resource-file src="src/ios/BDSClientLib/BDSClientResource.bundle/BDSClientEASRResources/bds_easr_mfe_cmvn.dat"/>
        <resource-file src="src/ios/BDSClientLib/BDSClientResource.bundle/BDSClientEASRResources/bds_easr_mfe_dnn.dat"/>
        <resource-file src="src/ios/BDSClientLib/BDSClientResource.bundle/BDSClientEASRResources/bds_easr_wakeup_words.dat"/>
        <resource-file src="src/ios/BDSClientLib/BDSClientResource.bundle/BDSClientEASRResources/bds_license.dat"/>
        <resource-file src="src/ios/BDSClientLib/BDSClientResource.bundle/BDSClientEASRResources/Chinese_And_English_Speech_DYY.dat"/>
        <!--<resource-file src="src/ios/BDSClientLib/BDSClientResource.bundle/BDSClientEASRResources/Chinese_And_English_Speech_Female.dat"/>-->
        <!--<resource-file src="src/ios/BDSClientLib/BDSClientResource.bundle/BDSClientEASRResources/Chinese_And_English_Speech_Male.dat"/>-->
        <!--<resource-file src="src/ios/BDSClientLib/BDSClientResource.bundle/BDSClientEASRResources/Chinese_And_English_Speech_Male-yyjw.dat"/>-->
        <!--<resource-file src="src/ios/BDSClientLib/BDSClientResource.bundle/BDSClientEASRResources/Chinese_And_English_Text.dat"/>-->
        <!--<resource-file src="src/ios/BDSClientLib/BDSClientResource.bundle/BDSClientEASRResources/Chinese_Speech_Female.dat"/>-->
        <!--<resource-file src="src/ios/BDSClientLib/BDSClientResource.bundle/BDSClientEASRResources/Chinese_Speech_Male.dat"/>-->
        <!--<resource-file src="src/ios/BDSClientLib/BDSClientResource.bundle/BDSClientEASRResources/Chinese_Text.dat"/>-->
        <!--<resource-file src="src/ios/BDSClientLib/BDSClientResource.bundle/BDSClientEASRResources/English_Speech_Female.dat"/>-->
        <!--<resource-file src="src/ios/BDSClientLib/BDSClientResource.bundle/BDSClientEASRResources/English_Speech_Male.dat"/>-->
        <resource-file src="src/ios/BDSClientLib/BDSClientResource.bundle/BDSClientEASRResources/English_Text.dat"/>
        <resource-file src="src/ios/BDSClientLib/BDSClientResource.bundle/BDSClientEASRResources/license-ios-etts-BaiduBoxDev.dat"/>
        <resource-file src="src/ios/BDSClientLib/BDSClientResource.bundle/BDSClientEASRResources/offline_engine_tmp_license.dat"/>
        <resource-file src="src/ios/BDSClientLib/BDSClientResource.bundle/BDSClientEASRResources/tmp_license.dat"/>
        <resource-file src="src/ios/BDSClientLib/BDSClientResource.bundle/BDSClientEASRResources/WakeUp.bin"/>
        <resource-file src="src/ios/BDSClientLib/BDSClientResource.bundle/BDSClientEASRResources/BDSClientResources"/>


        <source-file framework="true" src="src/ios/BDSClientLib/libBaiduTTSSDK.a"/>
        <source-file framework="true" src="src/ios/BDSClientLib/libBaiduASRSDK.a"/>

        <source-file src="src/ios/XjBaiduSpeech.m"/>
        <source-file src="src/ios/XjBaiduTts.m"/>
        <source-file src="src/ios/XjBaiduWakeUp.m"/>

        <config-file parent="NSMicrophoneUsageDescription" target="*-Info.plist">
            <string>是否允许[冥王星]使用您的麦克风？</string>
        </config-file>

    </platform>
</plugin>