page-invites {
  modal-box .box-modal .box-content > .scroll-content {
    overflow-y: auto;
    .somemmember{
      height: 12.5rem;
    }
    .showMember{
      float:right;
      color: #dddddd;
      margin: 1rem;

    }

    .addMember{
      width: 34px;
      height: 34px;
      margin: 0 auto;
    }
  }
}
.white-theme {
  page-invites {
    modal-box .box-modal .box-content > .scroll-content {
      .showMember{
        color:rgba(51,51,51,1);
      }
      .addMember{
          border: 0.55px dashed rgba(217,233,238,1);
      }
    }
  }
}

.black-theme {
  page-invites {
    modal-box .box-modal .box-content > .scroll-content {
      .showMember{
        color:rgba(255,255,255,1);
      }
      .addMember{
        border: 0.55px dashed rgba(217,233,238,1);
      }
    }
  }

}

