page-invites {
  modal-box .box-modal .box-content > .scroll-content {
    overflow-y: auto;
    .somemmember{
      height: 12.5rem;
    }
    .showMember{
      float:right;
      color: #dddddd;
      margin: 1rem;

    }
  }
}
