<!--
  Generated template for the HomeGroupDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>home-group-detail</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-fab bottom right>
    <button ion-fab>+</button>
    <ion-fab-list side="top">
      <button ion-fab (click)="addScheduleByGroup()" color="primary">add</button>
    </ion-fab-list>
    <ion-fab-list side="left">
      <button ion-fab (click)="callVoicePlugin()">♡</button>
    </ion-fab-list>
  </ion-fab>

  <ion-item no-lines>
    <ion-avatar item-start>
      <img src="{{groupDetail.groupHeadImg}}">
    </ion-avatar>
    <h2>{{groupDetail.groupName}}</h2>
    <h3>群主：{{groupDetail.groupMaster}}</h3>
  </ion-item>

  <ion-list *ngIf="groupScheduleList != null; else scheduleList">
    <ion-item-sliding *ngFor="let gs of groupScheduleList">
      <button ion-item (click)="updateSchedule(gs.scheduleId)">
        <h2 item-start>{{gs.scheduleName}}</h2>
        <p *ngIf="gs.scheduleIssuerName!==null" >发布人：{{gs.scheduleIssuerName}}</p>
        <ion-note item-end>{{gs.scheduleCreateDate}}</ion-note>
      </button>
      <ion-item-options>
        <button ion-button color="light" ion-start>
          <ion-icon name="delete"></ion-icon>
          删除
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <button ion-item (click)="callvoice()"></button>
  <button ion-item (click)="callVoicePlugin()"></button>
  <ng-template #scheduleList>
  </ng-template>

  <!--<ion-item *ngIf="" *ngFor=""></ion-item>

  <ng-template #groupSchedule></ng-template>-->

</ion-content>
