<!--
  Generated template for the UserRegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>用户注册</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="RegisterForm" (ngSubmit)="register(RegisterForm.value)" novalidate>

    <ion-item>
      <ion-label fixed>用户名</ion-label>
      <ion-input type="text" placeholder="请输入用户名" [formControl]="accountName" clearInput=true pattern="[0-9a-zA-Z]*"></ion-input>
    </ion-item>
    <div *ngIf="accountName.hasError('required') && accountName.touched"   class="error-message" color="danger">请输入用户名</div>
    <div *ngIf="accountName.hasError('pattern') && accountName.touched"   class="error-message" color="danger">请输入只含有字母和数字的用户名！</div>
    <div *ngIf="(accountName.hasError('minlength') || accountName.hasError('maxlength')) && accountName.touched" class="error-message" color="danger">
      请输入4到12位用户名
    </div>

    <ion-item>
      <ion-label fixed>手机号</ion-label>
      <ion-input type="number" placeholder="请输入手机号" [formControl]="accountMobile" clearInput=true pattern="[0-9]*"></ion-input>
    </ion-item>
    <div *ngIf="accountMobile.hasError('required') && accountMobile.touched"   class="error-message" color="danger">请输入手机号</div>
    <div *ngIf="(accountMobile.hasError('minlength') || accountMobile.hasError('maxlength')) && accountMobile.touched"   class="error-message" color="danger">
      请输入正确11位手机号
    </div>

    <!--<ion-item>
      <ion-label fixed>验证码</ion-label>
      <ion-input type="text" placeholder="请输入验证码" clearInput=true></ion-input>
    </ion-item>
    <button ion-button color="light">获取验证码</button>-->

    <ion-item>
      <ion-label fixed>密码</ion-label>
      <ion-input type="password" placeholder="请输入密码" [formControl]="accountPassword" clearInput=true></ion-input>
    </ion-item>
    <div *ngIf="accountPassword.hasError('required') && accountPassword.touched"  color="danger" class="error-message">请输入密码</div>
    <div *ngIf="(accountPassword.hasError('minlength')) && accountPassword.touched"  color="danger" class="error-message">密码长度最少为六位</div>
    <div *ngIf="(accountPassword.hasError('maxlength')) && accountPassword.touched"  color="danger" class="error-message">密码长度最多为十六位</div>

    <ion-item>
      <ion-label fixed>确认密码</ion-label>
      <ion-input type="password" placeholder="请再次输入密码" [formControl]="reAccountPassword" clearInput=true></ion-input>
    </ion-item>
    <div *ngIf="reAccountPassword.hasError('required') && reAccountPassword.touched" color="danger" class="error-message">请输入确认密码</div>

    <div *ngIf="!reAccountPassword.hasError('required')&&!reAccountPassword.hasError('minlength')&&accountPassword.value!=reAccountPassword.value" color="danger" class="error-message">两次输入的密码不一致</div>

    <div style="text-align: center; margin-left: 30px; margin-right: 30px;">
      <button ion-button block color="danger" type="submit" [disabled]="!RegisterForm.valid||(accountPassword.value!=reAccountPassword.value)">
        注册
      </button>
    </div>

  </form>
</ion-content>
