#voice {
  position: fixed;
  left: 40%;
  top: 85%;
}
#homeTitle {

}

.calendar_home .button-inner{
}

.homeCalendar{
  width: 100%;
  height: 50%;
  background-color: #eee;
  position:relative;
}


.calendarButton {
  max-width: 45px;
  //margin: 40px auto;
  background-color:transparent;
  height:25px;
  border-radius: 12px;
  min-width: 35px;
}
.calendarButton span{
  color :black;
  font-weight: 100;
  font-size: 1.1em;
}

table{
 width: 100%;
}
ion-slide{
  background-color: white;
}
ion-card-header{
  border-bottom-width:1px;
  border-bottom-style:ridge;
  border-bottom-color:#eee;
}
ion-card{
  border-radius:10px;
  margin: 14%;
}
.card-ios{
  border-radius:10px;
  height:88%;
}
.card-ios p{
  margin: 12px 2px 8px 8px;
}
.toolbar-background-ios{
 background-color: white;
}
.slide-zoom{
  height: 100%;
}
th{
  font-weight: lighter;
  font-size:1.3em;
}
.card-content{
  padding-top:5px
}


