ion-app.ios page-home ion-header [padding-left]{
  padding-left:10px
}
ion-app.ios page-home ion-header [padding-right] {
  padding-right: 10px;
}
super-tabs{
  height: 200px;
  super-tabs-toolbar{
    .toolbar-background-md{
      background: transparent;
    }
    .toolbar-content-md{
      width: 50%;
    }
  }
}

.homeContent{
 position: absolute;
  top: 10px;
  left:10px;
  right:10px;
  bottom:10px;
  background-color:#FFFFFF ;
  background-image: url('../assets/imgs/homebackImg.png');
  background-repeat:no-repeat;
  background-size:100% 100%;
  -moz-background-size:100% 100%;

}
.homeCalendar{
  width: 100%;
  //background-color: #fff;
  position:relative;
  height: 350px;
}
.assistant{
  //   height:50px;
  border-radius:100%;
  //background-color: red;
  background-color: rgba(0,0,0,0.0);
  right: 10px;
  bottom:10px;
  position: absolute;
  z-index:999;
  img{
    height: 90px;
  }
}



