
TellyouComponent {
  .closebutton {
    font-size: 1.2rem;
    position: fixed;
    right: .5rem;
    top: .5rem;
    z-index: 999;
    //margin-top: -1px;
  }

  .card-ios {
    padding: 1rem;
    border-radius: 5% 5% 5% 5%;
    background-color: transparent;
    box-shadow: none;
    width: auto;

    .card-header-ios {
      margin: 5px 0px;

      .tellType {
          font-size: 18px;
          text-align: left;
        display: flex;
        .spearktool{
          margin-left: 16px;
          display:inline-flex;
          .aispeech {
            border-radius: 50%;
            width: 21px;
            height: 21px;
            padding: 0;
            margin: 0;
            .fa-stop-circle,.fa-play-circle {
              font-size: 1.6rem;
              line-height: 21px;
            }
          }
        }
        .ignoretool{
          flex-grow: 1;
          text-align: right;
          .ignore{
            background-color:transparent;
            font-size: 1.2rem;
          }
        }
      }
    }

    .card-content {
      .formperson {
        p{
          font-size: 1.2rem;
          text-align: right;
          padding: 0 6px;
        }
      }

      .fromdate {
        p{
          font-size: 1rem;
          text-align: left;
        }
      }
      .sn {
        text-align: left;
        white-space: normal;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        font-size: 1.4rem;
        line-height: 1.8rem;
        //white-space: pre-line;
        //font-size: 1.2rem;
        min-height: 4rem;
      }
      .mesn{
        text-align: left;
      }

      .accept {
      }

      .reject {
      }
      .warning {
        margin-top: 20px;
        display: flex;
         p {
          font-size: 1rem;

          ion-icon {
            margin-right: 2rem;
          }

          ion-icon::before {
            margin-right: .5rem;
          }
        }

        .show {
          flex-grow: 1;
          text-align: right;
          button{
            font-size: 1.2rem;
            background-color: transparent;
          }

        }
      }
    }
  }
}

.black-theme {
  TellyouComponent {
    .closebutton {
      color: rgba(187, 187, 187, 1);
    }
    .card-ios {
      .card-header-ios {

        .tellType {
            color: rgba(50, 163, 190, 1);
          .fa-play-circle,.fa-stop-circle {
            color:rgba(255,133,91,1);
          }

          .aispeech {
            //background:linear-gradient(0deg,rgba(255,223,212,1) 0%,rgba(255,223,223,1) 100%);
            background:transparent;
          }
          .ignore{
            color: rgba(100, 132, 179, 1);
          }
        }
      }

      .card-content {

        .formperson {
          p{
            color:rgba(113,174,188,1);
          }
        }

        .fromdate{
          color: rgba(188, 188, 188, 1);
        }
        .sn {
          color: rgba(255, 255, 255, 1);
        }

        .accept,.again {
          color: rgba(255, 255, 255, 1);
          background: rgba(74, 139, 185, 1);
        }

        .reject {
          color: rgba(67, 113, 145, 1);
          background: rgba(150, 181, 204, 1);
        }

        .warning {
          p {
            color: rgba(100, 132, 179, 1);

            ion-icon {
              color: rgba(100, 132, 179, 1);
            }
          }
          .show {
            button{
              color: rgba(113, 173, 188, 1);
            }

          }
        }
      }
    }
  }

}
.white-theme {
  TellyouComponent {
    .closebutton {
      color: rgba(187, 187, 187, 1);
    }
    .card-ios {
      .card-header-ios {

        .tellType {
          color: rgba(50,163,190,1);
          .fa-play-circle,.fa-stop-circle {
            color: rgba(50,163,190,1);
          }

          .aispeech {
            //background:linear-gradient(0deg,rgba(255,223,212,1) 0%,rgba(255,223,223,1) 100%);
            background:transparent;
          }
          .ignore{
            color:rgba(141,200,215,1);
          }
        }
      }

      .card-content {

        .formperson {
          p{color:rgba(188,188,188,1);
          }
        }

        .fromdate{
          color: rgba(188, 188, 188, 1);
        }
        .sn {
          color:rgba(51,51,51,1);
      }

        .accept,.again {
          color: rgba(255, 255, 255, 1);
          background: rgba(74, 139, 185, 1);
        }

        .reject {
          color: rgba(67, 113, 145, 1);
          background: rgba(150, 181, 204, 1);
        }

        .warning {
          p {
            color:rgba(51,51,51,1);

            ion-icon {
              color:rgba(43,141,164,1);
            }
          }
          .show {
            button{
              color:rgba(43,141,164,1);
            }

          }
        }
      }
    }
  }
}


