page-plan {
  .box-content {

    .addplan {
      margin: 90px auto;
      text-align: center;

      .icon {
        font-size: 150px;
        clear: both;
        display: block;
      }

      span {
        font-weight: 400;
        font-size: 16px;
        margin: 20px auto;
        display: block;
      }

      button {
        display: block;
        margin: 120px auto;
        font-size: 18px;
        border-radius: 10px;
        font-weight: 400;
        padding: 12px 80px;
        border-radius: 4px;
      }
    }


    .plantitle {
      padding: 1rem;
      margin: 1rem;
      text-align: left;
      color: rgba(51, 51, 51, 1);
      position: relative;
      box-shadow: 2.5px 1.5px 5px 0px rgba(58, 58, 58, 0.73);
      border-radius: 4px;
    }
  }

}
