page-ad {


  textarea.text-input{
    height:120px;
  }

  ion-textarea{
    border:1px solid #f2f2f2;
    border-radius: 5px;
  }

  .div-add-border{
    border-radius: 5px;
    border: 1px dotted #ccc;
  }

  .padding-0{
    padding: 0px !important;

  }

  .item-inner{
    border-bottom: 0px !important;
  }

  .item-block.item-ios{
    //border-bottom: 1px solid #c8c7cc ;
  }

  .popStyle{
    width:400px;

  }

}

