task-list {
  .grid{
    width: 100%;
    padding: 12px 0;
  }
  .list-contont {
    .task-item {
      width: auto;
      margin: 6px 15px;

      .task-content {
        ion-checkbox.checkbox-ios {
          position: absolute;
          top: 16px;
          right: 16px;
        }
      }
    }

  }
  .notask{
    margin: 90px auto;
    text-align: center;
    .icon{
     font-size: 150px;
      clear: both;
      display: block;
    }
    span{
      font-weight:400;
      font-size: 16px;
      margin: 20px auto;
      display: block;
    }
    button{
      display: block;
      margin: 120px auto;
      font-size: 18px;
      border-radius:10px;
      font-weight:400;
      padding: 12px 80px;
      border-radius: 4px;

    }
  }
}



