task-list {

  .grid{
    width: 100%;
    padding: 1.4rem 0;
  }
  .list-grid-content {
    .item-content{
      .line:last-child{
        margin-top: 1rem;
        margin-buttom: 1rem;
      }
      .line{
        .icon{
          button{
            background-color: transparent;
            text-align: center;
            padding: 0.2rem 0.6rem;
            b{
              font-size: 1.2rem;
              line-height: 1.2rem;
            }
          }
        }
      }
    }
    .sn{
      font-size:1.6rem;
    }
  }
  .notask{
    margin: 10rem auto;
    text-align: center;
    .icon{
      font-size: 20rem ;
      clear: both;
      display: block;
    }
    span{
      font-size: 1.6rem;
      margin: 2.5rem auto;
      display: block;
    }
    button{
      display: block;
      margin: 7.5rem auto;
      font-size: 2rem;
      padding: 1.5rem 8rem;
      border-radius: 5px;

    }
  }
}

.white-theme {
  task-list{
    .list-grid-content {
      .line{
        .icon{
          button{
            //border:.55px solid rgba(17,117,141,1);
            b{
              color: rgba(17,117,141,1) !important;
            }
          }
        }
      }
      .item-content-backgroud{
        background: transparent;
        box-shadow:none;
        border-bottom: 0.55px solid rgba(153, 153, 153, 0.28);
        border-radius: 0;
      }
      .st{
        background-color: transparent;
      }
    }

  }
}

.black-theme {
  task-list{
    .list-grid-content {
      .line{
        .icon{
          button{
            //border:.55px solid rgba(17,117,141,1);
            b{
              color: rgba(17,117,141,1) !important;
            }
          }
        }
      }
      .item-content-backgroud{
        background: transparent;
        box-shadow:none;
        border-bottom: 0.55px solid rgba(153, 153, 153, 0.28);
        border-radius: 0;

      }
      .st{
        background-color: transparent;
      }
    }

  }
}



