page-h {
  .scroll-content {
    overflow-x: unset;
    overflow-y: unset
  }

  //background: -webkit-linear-gradient(left, color($background-color-content, first, start), color($background-color-content, first, end)); /* Safari 5.1 - 6.0 */
  //background: -o-linear-gradient(right, color($background-color-content, first, start), color($background-color-content, first, end)); /* Opera 11.1 - 12.0 */
  //background: -moz-linear-gradient(right, color($background-color-content, first, start), color($background-color-content, first, end)); /* Firefox 3.6 - 15 */
  //background: linear-gradient(to right, color($background-color-content, first, start), color($background-color-content, first, end)); /* 标准的语法（必须放在最后） */

  background: #000000; /* Safari 5.1 - 6.0 */

  .content-ios {
    background-color: transparent;
  }

  .haContent {
    position: absolute;
    //width: calc(100% - 14px);
    margin-top: 33px;
  }

  .rightm {
    height: 100%;
    position: absolute;
    right: 0px;
    width: 14px;
    background: $masterColor;
  }

  .tipDay {


    margin: 0px 12px 10px 12px;

    .showDay {
      font-size: 14px;
      display: inline-block;
      margin-left: 5%;
      color: #ffffff;
    }

    .showDay2 {
      margin-left: 5px;
      font-size: 10px;
      color: $fontSecondColor;
    }

    .showDay3 {
      margin-left: 5px;
      font-size: 10px;
      color: $fontMasterColor;
      background: $selectColor;
      border-radius: 15px;
      padding: 1px 4px;
    }


  }

  .cls {

    margin-left: 45px;
    font-size: 12px;
    color: $h-tip;
  }

  .cls2 {

    margin-left: 45px;
    font-size: 18px;
    color: $h-tip2;
  }
}
