message-send {
  .text-message {
    padding: 0 1rem;

    .text-input-ios {
      color: #fff;
      background-color: #7396a7;
      margin: .4rem 8px .4rem 0;
      padding-left: .5rem;
      padding-right: .5rem;
      font-size: 1.6rem;
      line-height: 2.2em;
      letter-spacing: 1px;
      border-radius: 4px;
    }
  }

  button.button-ios {
    color: #fff;
    height: 2.2em;
  }

  button.button-ios[icon-only] ion-icon {
    background-color: transparent;
  }

  button.button-ios.press-button, button[block].button-ios.press-button {
    margin-left: 1rem;
    margin-right: 1rem;
    width: calc(100% - 8.6em);
    background-color: #7396a7;
    color: #fff;
  }

}
