message-send {
  .text-message {
    padding: 0 12px;

    .text-input-ios {
      color: #fff;
      background-color: #7396a7;
      margin: .4rem 8px .4rem 0;
      font-size: 1.3rem;
      line-height: 2.3rem;
      letter-spacing: 1px;
    }
  }

  button.button-ios[icon-only] ion-icon {
    background-color: transparent;
  }

  .press-button {
    width: calc(100% - 6.6rem);
  }

}
