page-tx {
  ion-header ion-toolbar .toolbar-background,.toolbar-background-md,.toolbar-background-ios {
    background-color: $masterColor;
  }

  ion-header{
    padding: 4px 20px;
  }

  ion-header ion-title {
    line-height: 1.5rem;
  }

  ion-content.content {
    color: #fff;
    background-color: $masterColor;
  }

}
