scroll-range-picker {
  width: 100vmin;

  .scroll-box {
    flex: 1;
    width: 100%;
    height: calc(100vmin * (180 / 1242) + 32px);
    position: relative;
  }

  .scroll-box-content {
    overflow-x: auto;
    overflow-y: hidden;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    display: block;
    -webkit-overflow-scrolling: touch;
    padding: 16px;
    will-change: scroll-position;
    contain: size style layout;
  }

  .scroll-box-pointer {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 16px 0;
    width: 100%;
    position: absolute;
    pointer-events: none;
  }

  .scroll-box-pointer .scroll-box-zoom-wrapper {
    margin: 0;
  }

  .scroll-box-pointer .scroll-box-zoom-wrapper,
  .scroll-box-pointer .svg-scroller {
    width: 100vmin;
    height: 100%;
  }

  .scroll-box-zoom-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    float: left;
    margin: 0 -16.5px;
    overflow: hidden;
  }

  .scroll-box-pointer .svg-scroller,
  .scroll-box-pointer #timerange-picker-pointer {
    margin: 0;
    height: 100%;
  }

  .svg-scroller {
  }
}
