page-jh {
  ion-header ion-toolbar .toolbar-background,.toolbar-background-md,.toolbar-background-ios {
    background-color: $masterColor;
  }

  ion-header{
    padding: 4px 20px;
  }

  ion-header ion-title {
    line-height: 1.5rem;
  }

  .img-header-left, .img-header-right {
    width: 4vmin;
    height: 4vmin;
  }

  .toolbar-title{
    color: white;
    letter-spacing: 0.5vmin;
    font-size: 1.5rem;
  }

  .button-header-right{
    font-size: 1.5rem;
    color: $adornColor;
  }

  ion-content.content {
    color: #fff;
    background-color: $masterColor;
  }

  ion-item.item-ios {
    background-color: $masterColor;
    color: #fff;
    border: 0px;

    .item-inner {
      border: 0px;
    }
  }

  .list-ios .item-block .item-inner {
    border: 0px;
  }

  .item-ios.item-block .item-inner {
    border: 0px;
  }

  .list-ios > .item-block:first-child, .list-ios > .item-wrapper:first-child .item-block {
    border: 0px;
  }

  .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
    border: 0px;
  }

  .item-radio-checked.item-ios ion-label {
    color: #fff;
  }

  i.color-dot {
    width: 1.5vmin;
    height: 1.5vmin;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
  }
  
  .radio-ios .radio-checked .radio-inner {
    border-color: #fff;
  }

  .footer-ios {
    .toolbar-background-ios {
      background-color:$lsback1;
      border-style: none;
    }

    .button-full-ios {
      background-color:$lsback1;
    }

    button[block] {
      width: 30vmin;
    }

    .bar-button-ios {
      color: $adornColor;
      font-size: 15px;
    }

    .toolbar-content-ios {
      text-align: center;
    }

    ion-buttons[padding-left] {
      padding-left: 50px;
    }

    ion-buttons[padding-right] {
      padding-right: 50px;
    }
    [icon-only] ion-icon{
      background-color:$lsback1;
      color: $fontMasterColor;
    }
  }

}
