page-br {
  background-color: $baseBackColor;


  .list-header, .list-header-md, .list-header-ios {
    border: 0;
  }
  .img{
    width: 80%;
    contain:none;
    margin: 0 auto;
    background-color: transparent;

  }

  ion-header ion-toolbar .toolbar-background,.toolbar-background-md,.toolbar-background-ios {
    background-color: $baseBackColor;
  }

  ion-header{
    padding: 4px 20px;
  }

  .img-header-left{
    width: 4vmin;
    height: 4vmin;
  }

  .toolbar-title{
    color: white;
    letter-spacing: 0.5vmin;
    font-size: 1.5rem;
  }

  ion-input{
    font-size: 1.5rem;
  }

  ion-content.content {
    background-color: $baseBackColor;
    color: #fff;
  }

  ion-content .plan-list-item {
    background-color: $baseBackColor;
    color: #fff;
    padding-left: 8px;
    font-size: 1.5rem;
    min-height: 9vmin;
  }

  ion-row ion-col{
    text-align: center;
  }
  ion-buttons button{
    background: transparent;
    color: $fontMasterColor;
  }

  ion-avatar{
    height: 67px;
    width: 67px;
    margin-left: calc(calc(100% - 67px)/2);
  }

  ion-row:first-child{
    margin-bottom: 50px;
  }

  ion-row:nth-child(3){
    margin-bottom: 20px;
  }

  ion-row div{
    text-align: center;
    width: 100%;
  }

  .scroll-content{
    overflow-x: hidden;
    overflow-y: hidden;
  }
}
