radio-select {
  width: 100vmin;

  label {
    margin-right: 12px;
  }

  button, .button-ios, .button-clear-ios {
    background-color: transparent;
    color: #fff;
    border: 1.5px solid #fff;
    border-right: 0px;
    margin-right: 0px;
    margin-left: 0px;
    border-radius: 0px;
  }

  button.checked, .button-ios.checked, .button-clear-ios.checked {
    background-color: #fff;
    color: $masterColor;
  }

  button.checked:first-child, .button-ios.checked:first-child, .button-clear-ios.checked:first-child {
    background-color: #fff;
    color: $masterColor;
  }

  button.checked:last-child, .button-ios.checked:last-child, .button-clear-ios.checked:last-child {
    background-color: #fff;
    color: $masterColor;
  }

  button:first-child, .button-ios:first-child, .button-clear-ios:first-child {
    border: 1.5px solid #fff;
    border-right: 0px;
    border-top-left-radius: 10vmin;
    border-bottom-left-radius: 10vmin;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-right: 0px;
    margin-left: 0px;
    color: #fff;
  }

  button:last-child, .button-ios:last-child, .button-clear-ios:last-child {
    border: 1.5px solid #fff;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 10vmin;
    border-bottom-right-radius: 10vmin;
    margin-right: 0px;
    margin-left: 0px;
    color: #fff;
  }
}
