ion-calendar {
  .animated.faster {
    -webkit-animation-duration: .3s;
    animation-duration: .3s
  }

  .animated.fast {
    -webkit-animation-duration: 1s;
    animation-duration: 1s
  }

  box-sizing: border-box;
  display: inline-block;
  background-color: transparent;
  width: 100%;
  letter-spacing: -1px;

  .card-ios {
    border-radius: 0px;
    width: calc(100% - 24px);
    background: transparent;
    box-shadow: none;
    -webkit-box-shadow: none;
    margin: 0px 12px 0px 12px;
    p{
      margin: 0;
    }
  }

  .card-content-ios {
    padding: 0px;
  }
  .thisM{
    color: $monthColor;
  }
  .title {
    overflow: hidden;
    height: 70px;
    font-weight: bold;
    margin-left: 5%;
    color: #fff;

    img{
      width: 16px;
      margin: 20px;
    }

    b{
      letter-spacing: 5px;
    }
    p {
      font-size: 24px;
      color: #fff;
      span {
        font-size: 15px;
        letter-spacing: 3px;
      }
    }

    .arrow-dropdown {
      padding-top: 10px;
      padding-left: 3px;
    }

    .switch-btn {
      width: 100%;
      text-align: center;
      line-height: 32px;
      color: #757575;

      .arrow-dropdown {
        margin-left: 5px;
      }
    }
  }

  .days.between {
    .days-btn.is-last, .days-btn.is-first {
      border-radius: 0;
    }
  }

  .component-mode {
    .days.startSelection.is-last-wrap {
      &::after {
        border-radius: 0;
      }
    }

    .days.endSelection.is-first-wrap {
      &::after {
        border-radius: 0;
      }
    }
  }
  .animated.faster {
    animation-duration: .2s;
    -webkit-animation-duration: .2s;
  }

}


