ion-calendar {
  .swiper-slide{
    display: inline-block;
  }
  //.swiper-slide{
  //  height: 0px;
  //
  //}
  //.swiper-slide-prev{
  //  height: 100%;
  //
  //}
  //.swiper-slide-next{
  //  height: 100%;
  //
  //}
  //.swiper-slide-active{
  //  height: 100%;
  //}

  .yearshow{
    font-size: 14rem;
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    font-weight: 400;
    line-height: 300px;
  }
  .animated.faster {
    -webkit-animation-duration: .3s;
    animation-duration: .3s
  }

  .animated.fast {
    -webkit-animation-duration: 1s;
    animation-duration: 1s
  }

  box-sizing: border-box;
  display: block;
  width: 100%;
  letter-spacing: -1px;

  .card-ios {
    border-radius: 0px;
    background: transparent;
    box-shadow: none;
    -webkit-box-shadow: none;
    width: 100%;
    margin: 0;
    p{
      margin: 0;
    }
    ion-card-content{
      position: relative;
    }
  }

  .card-content-ios {
    padding: 0px;
  }

  .title {
    overflow: hidden;
    height: 44px;
    font-weight: bold;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;

    img{
      width: 17px;
      margin: 10px 0px;
    }

    b{
      letter-spacing: 0px;
    }
    p {
      font-size: 1.8rem;
      font-weight:500;
    }

    .arrow-dropdown {
      padding-top: 10px;
      padding-left: 3px;
    }

    .switch-btn {
      width: 100%;
      text-align: center;
      line-height: 32px;

      .arrow-dropdown {
        margin-left: 5px;
      }
    }
    .tool{
      width: auto;
      height: 100%;
      > div{
        margin-left: 1.5rem;
      }
    }
  }

  .days.between {
    .days-btn.is-last, .days-btn.is-first {
      border-radius: 0;
    }
  }

  .component-mode {
    .days.startSelection.is-last-wrap {
      &::after {
        border-radius: 0;
      }
    }

    .days.endSelection.is-first-wrap {
      &::after {
        border-radius: 0;
      }
    }
  }
  .animated.faster {
    animation-duration: .2s;
    -webkit-animation-duration: .2s;
  }

  .fa-calendar-day,.fa-plus-circle{
    line-height: 44px;
    color: rgba(255,255,255,1);
    width: 2rem;
    font-size:1.6rem;
  }

  .fa-file-signature,.fa-calendar-edit,.fa-calendar-exclamation{
    line-height: 44px;
    color: rgba(248,76,76,1);
    width: 2rem;
    font-size:1.6rem;
  }
  .fa-paperclip, .fa-list{
    line-height: 44px;
    color: #FF7474;
    width: 2rem;
    font-size:1.6rem;
  }


}


