@import "../functions";

ion-calendar-week {
  ion-toolbar{
    z-index: 0;
  }

  .toolbar-background-md, .toolbar-background-ios {
    background: transparent;
  }

  .week-toolbar {
    padding: 0;
  }

  .week-toolbar.toolbar-md {
    min-height: 44px;
  }


  .week-title {
    margin: 0;
    height: 44px;
    width: 100%;
    padding: 0px 0;
    line-height:44px;
  }

  .week-title li {
    list-style-type: none;
    display: block;
    float: left;
    width: 14.2%;
    text-align: center;
    font-size:12px;
    font-weight: 500;
  }

}


