@import "../functions";

@mixin transition-property($args...) {
  -webkit-transition-property: $args;
  -moz-transition-property: $args;
  -ms-transition-property: $args;
  -o-transition-property: $args;
  transition-property: $args;
}

@mixin transition-duration($args...) {
  -webkit-transition-duration: $args;
  -moz-transition-duration: $args;
  -ms-transition-duration: $args;
  -o-transition-duration: $args;
  transition-duration: $args;
}

@mixin transition-timing-function($args...) {
  -webkit-transition-timing-function: $args;
  -moz-transition-timing-function: $args;
  -ms-transition-timing-function: $args;
  -o-transition-timing-function: $args;
  transition-timing-function: $args;
}

ion-calendar-month {
  display: inline-block;
  width: 100%;

  .days:nth-of-type(7n),
  .days:nth-of-type(7n+1) {
    width: 14.2%;
  }

  .days {
    width: 14.2%;
    float: left;
    text-align: center;
    height: 40px;
    position: relative;
    margin-bottom: 5px;
  }

  button.days-btn {
    width: 30px;
    height: 30px;
    display: block;
    padding: 0;
    background-color: transparent;
    position: relative;
    border-radius: 50%;
    margin: 0 auto;
  }


  button.days-btn p {
    font-size: 1.4rem;
    width: auto;
    height: auto;
    margin: -10px auto;
    text-align: center;
  }


  .cal-color {

    small {
      overflow: hidden;
      display: block;
      left: 0;
      right: 0;
      bottom: 2px;
      position: absolute;
      z-index: 0;
      text-align: center;
      font-size: 0.8rem;
      text-overflow: clip;
      white-space: nowrap;
      width: 32px;
      margin-left: auto;
      margin-right: auto;
      letter-spacing: .1px;
      font-weight: 300;
    }

    .on-selected {
      .d {
        font-weight: bold;
      }

      .calendaritem {
        font-weight: bold;
      }

      small{
        bottom:-16px;
        font-weight: bold;
        width: 100%;
      }

      //border: 1px rgba(19, 72, 75, 1) solid;
    }

    .borderDiv {
      width: 32px;
      height: 32px;
      margin: 4px auto;
      //border: 1px double #000;
      border: 1px transparent solid;
      border-radius: 50%;

      .d {
        width: 20px;
        height: 20px;
        display: inline-block;
        line-height: 20px;
        border-radius: 50%;
      }

    }

    .next-month-day, .last-month-day {
      opacity: 0.5;
    }


    .days {
      .icon {
        font-size: 0.6rem;
        position: absolute;
        bottom: -6px;

        //todo
        //-webkit-transform:scale(0.5);
      }

      color: rgba(189, 166, 96, 1);

      .active {
        left: calc(100% / 2 - 3px);
        color: rgba(62, 111, 202, 1);
      }

      .diary {
        left: calc(100% / 2 - 13px);
        color: rgba(44, 150, 129, 1);

      }

      .message {
        top: 1.5rem;
        right: calc(100% / 2 - 13px);
        color: rgba(176, 0, 0, 1);
      }

      //.update {
      //  left: calc(100% / 2 + 8px);
      //  color: #DD5A5A;
      //}

      .repeat {
        right: calc(100% / 2 - 13px);
        color: rgba(219, 153, 121, 1);
      }
    }

  }

}
