@import "../functions";

@mixin transition-property($args...) {
  -webkit-transition-property: $args;
  -moz-transition-property: $args;
  -ms-transition-property: $args;
  -o-transition-property: $args;
  transition-property: $args;
}

@mixin transition-duration($args...) {
  -webkit-transition-duration: $args;
  -moz-transition-duration: $args;
  -ms-transition-duration: $args;
  -o-transition-duration: $args;
  transition-duration: $args;
}

@mixin transition-timing-function($args...) {
  -webkit-transition-timing-function: $args;
  -moz-transition-timing-function: $args;
  -ms-transition-timing-function: $args;
  -o-transition-timing-function: $args;
  transition-timing-function: $args;
}

ion-calendar-month {
  display: inline-block;
  width: 100%;

  .days:nth-of-type(7n),
  .days:nth-of-type(7n+1) {
    width: 14.2%;
  }

  .days {
    width: 14.2%;
    float: left;
    text-align: center;
    height: 40px;
    position: relative;
  }

  button.days-btn {
    width: 30px;
    height: 30px;
    display: block;
    padding: 0;
    background-color: transparent;
    position: relative;
    border-radius: 50%;
    margin: 0 auto;
  }


  button.days-btn p {

    font-family: "Arial";
    font-size: 12px;
    letter-spacing: 0px;
    width: auto;
    height: auto;
    margin: -10px auto;
    text-align: center;
    line-height: 12px;
    font-weight: 400;
  }


  .cal-color {

    button.days-btn small {
      overflow: hidden;
      display: block;
      left: 0;
      right: 0;
      bottom: 3px;
      position: absolute;
      z-index: 0;
      text-align: center;
      font-size: 9px;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-weight: 500;
      //todo
      -webkit-transform:scale(0.75);
    }

    .borderDiv {
      width: 32px;
      height: 32px;
      margin: 4px auto;
      //border: 1px double #000;
      border: 1px transparent solid;
      border-radius: 50%;

    }


    .days {
      .icon{
        font-size: 6px;
        position: absolute;

        //todo
        -webkit-transform:scale(0.5);
      }
      .message {
        top: 4px;
        left: calc(100% / 2 + 10px);
        color: $hassometing;
      }

      .update {
        top: 12px;
        left: calc(100% / 2 + 10px);
        color: $fontSecondColor;
      }

      .active {
        bottom: 0px;
        left: calc(100% / 2 - 3px - 2px - 6px);
        color: rgba(62,111,202,1);

      }

      .diary {
        bottom: 0px;
        left: calc(100% / 2 - 3px);
        color: #BDA660;
      }

      .repeat {
        bottom: 0px;
        left: calc(100% / 2 - 3px + 2px + 6px);
        color: $allsometing;
      }
    }

  }

}
