@import "../functions";

@mixin transition-property($args...) {
  -webkit-transition-property: $args;
  -moz-transition-property: $args;
  -ms-transition-property: $args;
  -o-transition-property: $args;
  transition-property: $args;
}

@mixin transition-duration($args...) {
  -webkit-transition-duration: $args;
  -moz-transition-duration: $args;
  -ms-transition-duration: $args;
  -o-transition-duration: $args;
  transition-duration: $args;
}

@mixin transition-timing-function($args...) {
  -webkit-transition-timing-function: $args;
  -moz-transition-timing-function: $args;
  -ms-transition-timing-function: $args;
  -o-transition-timing-function: $args;
  transition-timing-function: $args;
}

@mixin month-color($background-color: primary, $color: #fff) {
  button.days-btn small,
  .days .marked p,
  .days .today p {
    //color: bindColors($background-color);
  }
  button.days-btn small{
    overflow: hidden;
    display: block;
    left: calc(50% - 2px);
    right: 0;
    top: 75%;
    bottom: 0;
    position: absolute;
    width: 4px;
    height: 4px;
    background: -webkit-linear-gradient(left, rgb(149, 58, 139), rgb(86, 82, 222)); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, rgb(149, 58, 139), rgb(86, 82, 222)); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, rgb(149, 58, 139), rgb(86, 82, 222)); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, rgb(149, 58, 139), rgb(86, 82, 222)); /* 标准的语法（必须放在最后） */
    border-radius: 4px;
  }
  .days .today p {
    //font-weight: 700;
  }
  .days .last-month-day p,
  .days .next-month-day p {
    color: #2c2c2c;
  }
  .days .today.on-selected p,
  .days .marked.on-selected p {
    //color: $color;
  }
  //.days .on-selected,
  //.startSelection button.days-btn,
  //.endSelection button.days-btn {
  //  background-color: bindColors($background-color);
  //  background: -webkit-linear-gradient(left, rgb(149,58,139),rgb(86,82,222)); /* Safari 5.1 - 6.0 */
  //  background: -o-linear-gradient(right, rgb(149,58,139),rgb(86,82,222)); /* Opera 11.1 - 12.0 */
  //  background: -moz-linear-gradient(right, rgb(149,58,139),rgb(86,82,222)); /* Firefox 3.6 - 15 */
  //  background: linear-gradient(to right, rgb(149,58,139),rgb(86,82,222)); /* 标准的语法（必须放在最后） */
  //
  //  color: $color;
  //}
  .startSelection {
    position: relative;

    &:after {
      height: 34px;
      width: 50%;
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      background-color: lighten(bindColors($background-color), 12%);
    }
  }
  .endSelection {
    position: relative;

    &:after {
      height: 34px;
      width: 50%;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      background-color: lighten(bindColors($background-color), 12%);
    }
  }
  .startSelection.endSelection {
    &:after {
      background-color: transparent;
    }
  }
  .startSelection button.days-btn {
    border-radius: 50%
  }
  .between button.days-btn {
    background-color: lighten(bindColors($background-color), 12%);
    width: 100%;
    border-radius: 0;

    p {
      color: $color;
    }
  }
  .endSelection button.days-btn {
    border-radius: 50%;

    p {
      color: $color;
    }
  }

  .days.startSelection:nth-child(7n):after,
  .days.between:nth-child(7n) button.days-btn,
  button.days-btn.is-last {
    border-radius: 0 34px 34px 0;

    &.on-selected {
      border-radius: 50%
    }
  }

  .days.endSelection:nth-child(7n+1):after,
  .days.between:nth-child(7n+1) button.days-btn,
  button.days-btn.is-first {
    border-radius: 34px 0 0 34px;
  }

  .startSelection button.days-btn.is-first,
  .endSelection button.days-btn.is-first,
  button.days-btn.is-first.on-selected,
  button.days-btn.is-last.on-selected,
  .startSelection button.days-btn.is-last,
  .endSelection button.days-btn.is-last {
    border-radius: 50%
  }

  .startSelection.is-last-wrap {
    &::after {
      border-radius: 0 34px 34px 0;
    }
  }

  .endSelection.is-first-wrap {
    &::after {
      border-radius: 34px 0 0 34px;
    }
  }

  //.days .on-selected p {
  //      color: $color;
  //  }
  .startSelection,
  .endSelection,
  .between {
    button.days-btn {
      @include transition-property(background-color);
      @include transition-duration(180ms);
      @include transition-timing-function(ease-out);
    }
  }
}

ion-calendar-month {
  display: inline-block;
  width: 100%;
  height: 310px;

  .days-box {
    padding: 0.5rem 0 0.5rem 0;
  }

  .days:nth-of-type(7n),
  .days:nth-of-type(7n+1) {
    width: 14.2%;
  }

  .days {
    width: 14.2%;
    float: left;
    text-align: center;
    height: 50px;
  }

  .days .marked p {
    font-weight: 100;
  }

  .days .on-selected {
    border: none;

    p {
      font-size: 12px;
    }
  }

  button.days-btn {
    border-radius: 34px;
    width: 34px;
    display: block;
    margin: 2px auto;
    padding: 0;
    height: 34px;
    background-color: transparent;
    position: relative;
  }

  button.warp-days-btn {
    //z-index: 0;
    //top: -34px;
  }

  button.days-btn p {
    font-size: 12px;
    color: $fontMasterColor;
    letter-spacing: 0px;
    width: 24px;
    height: 24px;
    margin: auto;
    border-radius: 24px;
    text-align: center;
    line-height: 22px;
  }

  button.days-btn .repeatDay{
    border-width: 1px;
    border-color: $thirdColor;
    border-style: solid;
    background-color: $thirdColor;
  }

  button.someting p{
    color: $fontMasterColor;
  }

  button.days-btn.on-selected small {
    transition: bottom .3s;
    bottom: -14px;
  }

  button.days-btn small {
    overflow: hidden;
    display: block;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    text-align: center;
    font-size: 5px;
    font-weight: 100;
  }

  .cal-color {

    @include month-color(cal-color, #222222);

    .borderDiv {
      width: 40px;
      height: 40px;
      margin: 4px auto;
      border: 1px double #000;
      border-radius: 40px;

    }

    .on-selected {
      border-color: #fff;
      //border-image: -webkit-linear-gradient(left,#953a8b, #5652de) 5 5;
      //border-image: -moz-linear-gradient(left,#953a8b, #5652de) 5 5;
      //border-image: linear-gradient(left,#953a8b, #5652de) 5 5;
      p {
        color: #fff;
        font-weight: 700;
      }
    }


    .days {
      .hassometing {
        background: $thirdColor;

        p {
          color: #ffffff;
        }
      }

      .busysometing {
        background:  $masterColor;

        p {
          color: #ffffff;
        }
      }

      .today {
        background: -webkit-linear-gradient(left, rgb(149, 58, 139), rgb(86, 82, 222)); /* Safari 5.1 - 6.0 */
        background: -o-linear-gradient(right, rgb(149, 58, 139), rgb(86, 82, 222)); /* Opera 11.1 - 12.0 */
        background: -moz-linear-gradient(right, rgb(149, 58, 139), rgb(86, 82, 222)); /* Firefox 3.6 - 15 */
        background: linear-gradient(to right, rgb(149, 58, 139), rgb(86, 82, 222)); /* 标准的语法（必须放在最后） */

      }

    }

  }


}
