@import "../functions";

@mixin month-picker($background-color: primary, $color: #fff) {
  .month-packer-item {
    &.this-month button {
      border: 1px solid bindColors($background-color);
    }
    &.active {
      button {
        background-color: bindColors($background-color);
        color: $color;
      }
    }
  }
}

ion-calendar-month-picker {
  .warp{
    padding-top: 40px;
    width: 95%;
    margin: 10px auto;
  }
  .grid{
    padding-top: 40px;
  }

  scroll-select div.selected-circle > div{
    background-color:#3c909b;
    border: solid 1px #e8e8e8;
    height: 12vmin;
    width: 12vmin;
    background: transparent;
  }

  scroll-select div.selected-circle {
    top: calc(-3vmin - 3px);
    left: calc((100vmin - 12vmin) / 2 - 27px);
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: transparent;
  }

  .month-picker {
    margin: 20px 0;
    display: inline-block;
    width: 100%;
    background: #ddd;
  }

  .month-packer-item {
    width: 25%;
    box-sizing: border-box;
    float: left;
    height: 50px;
    padding: 5px;
    button {
      border-radius: 32px;
      width: 100%;
      height: 100%;
      font-size: 1em;
      background-color: transparent;
    }
  }

  .month-picker.primary {
    @include month-picker(primary);
  }

  .month-picker.secondary {
    @include month-picker(secondary);
  }

  .month-picker.danger {
    @include month-picker(danger);
  }

  .month-picker.dark {
    @include month-picker(dark);
  }

  .month-picker.light {
    @include month-picker(light, #9e9e9e);
  }

  .month-picker.transparent {
    @include month-picker(light, #9e9e9e);
    background-color: transparent;
  }

  .month-picker.cal-color {
    @include month-picker(cal-color);
  }

}


