page-ss {
  background-color: #000;

  @font-face {
    font-family: 'PingFang-Regular';
    src: url('../../assets/fonts/PingFang Regular.ttf');
  }

  ion-content{
    font-family: PingFang-Regular;
  }

  ion-header ion-toolbar .toolbar-background,.toolbar-background-md,.toolbar-background-ios {
    background-color: #000;
  }

  .toolbar-title{
    color: white;
    letter-spacing: 0.5vmin;
    font-size: 1.5rem;
  }

  ion-content.content {
    background-color: #000;
    color: #fff;
  }

  ion-content .plan-list-item {
    width: 90vmin;
    background-color: #000;
    color: #fff;
    font-size: 1.7rem;
    font-weight: 200;
  }

  .img-header-left{
    width: 4vmin;
    height: 4vmin;
    margin-left: 5vmin;
  }

  .toggle-ios.toggle-checked .toggle-icon {
    background-color: rgb(60,144,155);
  }

}
