page-hb01 {
  canvas{
    position: absolute;
    /* top: 200px; */
    right: 20px;
    width: 90px;
    height: 90px;
    bottom: 20px;
    background: black;
    border-radius: 90px;
    //background: transparent;

  }
  overflow: hidden;
  canvas {
    display: block;
  }

}
