page-pf ,page-lp,page-ls,page-r {
  .grid-login-basic {
    width: 100%;
  }

  .no-padding {
    padding: 0;
  }

  .no-padding-lr {
    padding-left: 0;
    padding-right: 0;
  }

  .no-margin-lr {
    margin-left: 0;
    margin-right: 0;
  }

  h1{
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 1px;
    padding-top: 85px;
  }

  ion-input{
    font-size: 1rem;
    width:85%;
  }

  .login-tel{
    margin-top: 40px;
  }

  .login-pwd{
    margin-top: 25px;
    margin-bottom: 20px;
  }

  .login-div{
    margin-top: 12px;
    font-size: 1rem;
    width: auto;
    font-weight: 600;
  }

  .login-enter{
    margin-right: 24px;
    width: 45px;
    height: 45px;
    background-color:#429A81;
  }

  .login-enter:hover {
    background-color:#429A81;
  }

  .text-anchor {
    color: #429A81;
    text-decoration: none;
    opacity: 0.8;
  }

  .text-agreement {
    margin-top: 20px;
    font-size: 0.75rem;
  }

  .scroll-content{
    margin-left: 25px;
    overflow-x: hidden;
    overflow-y: hidden;
  }


  .login-code{
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .send-sms{
    margin-right: 24px;
    margin-top: 44px;
    font-size: 0.75rem;
    color: #429A81;
    border: 1px solid #429A81;
    background-color: white;
  }

}


