page-tdm, page-tdme {
  ion-content.content {
    color: #fff;
    background-color: $masterColor;
  }

  button.text-btn {
    color: #fff;
  }

  ion-scroll {
    width: 100%;
    height: calc(100vmin * (180 / 1242) + 32px);
  }

  ion-scroll .scroll-content {
    padding: 0;
  }

  ion-scroll .svg-scroller {
    margin-left: -16px;
  }

  scroll-select.image-scroll-select .scroll-box {
    height: 40vmin;
  }

  scroll-select.image-scroll-select .scroll-box-zoom-wrapper {
    margin: 0 -43.5px;
  }

  scroll-select.image-scroll-select div.option {

  }

  scroll-select.image-scroll-select .image-option {
    width: 40vmin;
    height: 40vmin;
  }

  button small {
    padding-left: 4px;
  }

  p.x-small {
    font-size: 0.6rem;
  }

  .full-width {
    margin-left: -21px;
    margin-right: -21px;
    overflow: hidden;
  }

  #timerange-picker {
    width: 600vmin;
    height: calc(100vmin * (180 / 1242))
  }

  .w80 {
    padding-left: 10vmin;
    padding-right: 10vmin;
  }

  .mb-none {
    margin-bottom: 0px;
  }

  .mt-seven {
    margin-top: 14vmax;
  }

  .mt-none {
    margin-top: 0px;
  }

  .mb-none {
    margin-bottom: 0px;
  }

  i.color-dot {
    width: 1.5vmin;
    height: 1.5vmin;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
  }

  .row-center {
    margin: auto;
  }

  ion-header ion-toolbar .toolbar-background,.toolbar-background-md,.toolbar-background-ios {
    background-color: $lsback1;
  }

  ion-header{
    padding: 4px 20px;
  }

  ion-header ion-title {
    line-height: 1.5rem;
  }

  .img-header-left, .img-header-right {
    width: 4vmin;
    height: 4vmin;
  }

  .toolbar-title{
    color: white;
    letter-spacing: 0.5vmin;
    font-size: 1.5rem;
  }

  .button-header-right{
    font-size: 1.5rem;
    color: $adornColor;
  }

  .footer-ios {
    .toolbar-background-ios {
      background-color:$aiBackColor;
      border-style: none;
    }

    .button-full-ios {
      background-color:$aiBackColor;
    }

    button[block] {
      width: 30vmin;
    }

    .bar-button-ios {
      color: $adornColor;
      font-size: 15px;
    }

    .toolbar-content-ios {
      text-align: center;
    }

    ion-buttons[padding-left] {
      padding-left: 50px;
    }

    ion-buttons[padding-right] {
      padding-right: 50px;
    }
    [icon-only] ion-icon{
      background-color:$aiBackColor;
      color: $fontMasterColor;
    }
  }
}
