page-tdm {
  ion-content.content {
    color: #fff;
    background-color: $masterColor;
  }

  button.text-btn {
    color: #fff;
  }

  ion-scroll {
    width: 100%;
    height: calc(100vmin * (180 / 1242) + 32px);
  }

  ion-scroll .scroll-content {
    padding: 0;
  }

  ion-scroll .svg-scroller {
    margin-left: -16px;
  }

  scroll-select.image-scroll-select .scroll-box {
    height: 40vmin;
  }

  scroll-select.image-scroll-select .scroll-box-zoom-wrapper {
    margin: 0 -43.5px;
  }

  scroll-select.image-scroll-select div.option {

  }

  scroll-select.image-scroll-select .image-option {
    width: 40vmin;
    height: 40vmin;
  }

  .full-width {
    margin-left: -21px;
    margin-right: -21px;
    overflow: hidden;
  }

  #timerange-picker {
    width: 600vmin;
    height: calc(100vmin * (180 / 1242))
  }

  .mb-none {
    margin-bottom: 0px;
  }

  .mt-seven {
    margin-top: 14vmax;
  }

  .mt-none {
    margin-top: 0px;
  }

  i.color-dot {
    width: 1.5vmin;
    height: 1.5vmin;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
  }

  .row-center {
    margin: auto;
  }
}
