page-dailymemos {

  .grid {
    width: 100%;
    padding: 1rem 0;
  }
  .list-grid-content {
    .sn{
      -webkit-line-clamp: 4;
    }
  }

  .notask {
    margin: 90px auto;
    text-align: center;

    .icon {
      font-size: 150px;
      clear: both;
      display: block;
      color: #C9C8C8;
    }

    span {
      color: rgba(140, 150, 162, 1);
      font-size: 1.6rem;
      margin: 20px auto;
      display: block;
    }

    button {
      display: block;
      margin: 120px auto;
      font-size: 1.8rem;
      background: rgba(70, 159, 175, 1);
      border-radius: 10px;
      font-weight: 400;
      color: rgba(255, 255, 255, 1);
      padding: 12px 80px;
      border-radius: 4px;

    }
  }

}

.white-theme {
  page-dailymemos{
    .list-grid-content {
      .item-content-backgroud{
        background: transparent;
        box-shadow:none;
        border-bottom: 0.55px solid rgba(153, 153, 153, 0.28);
        border-radius: 0;
      }
      .st{
        background-color: transparent;
      }
    }

  }
}

.black-theme {
  page-dailymemos{
    .list-grid-content {
      .item-content-backgroud{
        background: transparent;
        box-shadow:none;
        border-bottom: 0.55px solid rgba(153, 153, 153, 0.28);
        border-radius: 0;

      }
      .st{
        background-color: transparent;
      }
    }

  }
}
