page-aip {
  background-image: url('../assets/imgs/aiback.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;

  ion-header ion-toolbar {
    .toolbar-background {
      background-color: transparent;
    }
    .bar-button-ios[icon-only] ion-icon{
      font-size: 2.4rem;
      color:rgba(86,137,222,1);
      padding: 36px 15px;
    }
  }
  .content-ios{
    background-color:rgba(0,0,0,0.88);
    .scroll-content{
      overflow-y:hidden;
    }
    .noshowAi{
      display: none;
    }
  }
}
