page-aip {
  background-color: $aiBackColor;
  .scroll-content{
    overflow-y:hidden;
  }

  ion-header ion-toolbar {
    .toolbar-background {
      background-color: $aiBackColor;
      opacity: .5;
    }
      .bar-button-ios[icon-only] ion-icon{
        font-size: 2.4rem;
        color: rgba(255,255,255,1);
      }
  }
}
